<div class="pre-loader"></div>

<h1 class="ml-2"> Calendario de bloqueo de fechas</h1>
<div class="calendar-header">
    <div class="bg-dark mb-3">
        <a name="" id="acciones-btn" class="btn btn-info btn-sm ml-3" href="#" role="button" data-bs-toggle="modal"
            data-bs-target="#acciones_modal">Restringir fechas</a>
        <a name="" id="acciones-btn" class="btn btn-info btn-sm ml-3" href="#" role="button" data-bs-toggle="modal"
            data-bs-target="#bloqueo_modal">Bloquear fechas</a>
        <a name="" class="btn btn-info btn-sm ml-3" href="#" role="button" data-bs-toggle="modal"
            data-bs-target="#bloqueo_capacidad_modal">Bloquear por capacidad</a>
        <a name="" id="eliminar-precios-openmodalbtn" class="btn btn-secondary btn-sm ml-3 " href="#" role="button"
			data-bs-toggle="modal" data-bs-target="#delete-prices-modal">Eliminar bloqueos</a>
    </div>
</div>

<div class="row d-flex flex-column">
    <div class="color-label">
        <div class="color-box" style="background-color: #f6ff00;"></div>
        <span class="color-text">Estancia mínima</span>
    </div>
    <div class="color-label">
        <div class="color-box" style="background-color: #FF3939;"></div>
        <span class="color-text">Fecha bloqueada</span> 
    </div>
    <div class="color-label">
        <div class="color-box" style="background-color: #ff9500;"></div>
        <span class="color-text">Bloqueda por capacidad</span> 
    </div>
</div>

<div class="mb-3">
	<label for="" class="form-label">Habitacion: </label>
	<select class="form-select form-select-md" name="habitacion" id="habitacion-select">
		<option selected>Seleccione una habitación --</option>
		{{#if chalets}}
		{{#each chalets}}
		<option value="{{this.name}}">{{this.name}}</option>
		{{/each}}
		{{/if}}
	</select>
</div>

{{#each chalets}}
<div class="row bd-highlight mb-3 names-container d-none" id="names-container-{{this.name}}">
    <div class="me-auto p-2 bd-highlight">
        <h2>{{this.name}}</h2>
    </div>
    <div class="ms-auto p-2 bd-highlight">
        <a name="" id="cn-{{this.name}}" class="btn btn-primary hoy-btn" href="#" role="button"
            data-chalet="{{this.name}}">Hoy</a>
    </div>
</div>

<div class="container mb-3">
    <div class="row calendar-container d-none" id="calendar-container-{{this.name}}" style="color: black !important;"
        data-id="{{this.id}}">
    </div>
</div>
{{/each}}

{{!-- Modal Restriccion de fechas --}}
<div class="modal fade" id="acciones_modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Restricción de fechas</h5>
                <button type="button" class="close" onclick="$('#acciones_modal').modal('hide');" aria-label="Close">
                    &times;

            </div>
            <div class="modal-body">
                <div class="img-container">
                    <div id="error-modal-persona" class="alert alert-danger" style="display: none;"></div>

                    <div class="row mt-2 mb-2">
                        <div class="col-8">
                            <label for="select-cabana"><b>Selecciona una o más habitaciones: </b></label>
                        </div>
                    </div> <!-- Cierre row -->
                    {{#each chalets}}
                    <div class="form-check form-check-inline">
						<input
							class="checkboxes-chalets"
							type="checkbox"
							id="{{this.id}}"
							value="{{this.id}}"
							name="chkb-{{this.id}}"
						/>
						<label class="form-check-label" for="chkb-{{this.id}}">{{this.name}}</label>
					</div>
                    {{/each}}
                    <div class="row">

                        <div class="col-12 mb-2 mt-2">
                            <div class="form-group">
                                <label for="rango-fechas">Rango de fechas: </label>
                                <div class="row ">
                                    <div class="col-3">
                                        <input type="date" name="fecha-inicio" id="fecha-inicio" class="form-control"
                                            placeholder="Contraseña" required>

                                    </div>
                                    <div class="col-2 text-center">
                                        <p>Hasta</p>

                                    </div>
                                    <div class="col-3">
                                        <input type="date" name="fecha-fin" id="fecha-fin" class="form-control"
                                            required>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div> <!-- Cierre row -->

                    <div class="mb-2">
                        <div class="row mb-2">
                            <label for="dias-concretos">¿Quieres aplicar esta tarifa a unos dias concretos?</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input chk-general" type="checkbox" id="checkbox-lunes"
                                value="lunes" checked>
                            <label class="form-check-label" for="lunes">Lunes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input chk-general" type="checkbox" id="checkbox-martes"
                                value="martes" checked>
                            <label class="form-check-label" for="martes">Martes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input chk-general" type="checkbox" id="checkbox-miercoles"
                                value="miercoles" checked>
                            <label class="form-check-label" for="miercoles">Miércoles</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input chk-general" type="checkbox" id="checkbox-jueves"
                                value="jueves" checked>
                            <label class="form-check-label" for="jueves">Jueves</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input chk-general" type="checkbox" id="checkbox-viernes"
                                value="viernes" checked>
                            <label class="form-check-label" for="viernes">Viernes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input chk-general" type="checkbox" id="checkbox-sabado"
                                value="sabado" checked>
                            <label class="form-check-label" for="sabado">Sábado</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input chk-general" type="checkbox" id="checkbox-domingo"
                                value="domingo" checked>
                            <label class="form-check-label" for="domingo">Domingo</label>
                        </div>


                    </div>

                    <div class="row mt-2">
                        <div class="col-5">
                            <div class="mb-3">
                                <label for="" class="form-label">Definir estancia mínima:</label>
                                <select class="form-select form-select-md" name="" id="estancia-minima-select">
                                    <option selected disabled value="0">Selecciona --</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                </select>
                            </div>

                        </div>

                    </div>

                    <div class="row mt-2">
                        <small>IMPORTANTE: Este será el nuevo registro, por lo que si hay alguno anterior para esas
                            fechas, se
                            eliminará.</small>
                    </div>

                </div> <!-- Cierre IMG Container -->
            </div> <!--Cierre MODAL BODY -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="add-bloqueadas-btn">Agregar</button>
                <div class="spinner-border" role="status" id="spinner">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Modal Alta usuario -->

{{!-- Modal Bloqueo de fechas --}}
<div class="modal fade" id="bloqueo_modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Bloqueo de fechas</h5>
                <button type="button" class="close" onclick="$('#acciones_modal').modal('hide');" aria-label="Close">
                    &times;

            </div>
            <div class="modal-body">
                <div class="img-container">
                    <div id="error-modal-persona" class="alert alert-danger" style="display: none;"></div>

                    <div class="row mt-2 mb-2">
                        <div class="col-8">
                            <label for="select-cabana"><b>Selecciona una o más habitaciones: </b></label>
                        </div>
                    </div> <!-- Cierre row -->
                    {{#each chalets}}
                    <div class="form-check form-check-inline">
						<input
							class="checkboxes-chalets-block"
							type="checkbox"
							id="{{this.id}}"
							value="{{this.id}}"
							name="chkb-{{this.id}}"
						/>
						<label class="form-check-label" for="chkb-{{this.id}}">{{this.name}}</label>
					</div>
                    {{/each}}
                    <div class="row">

                        <div class="col-12 mb-2 mt-2">
                            <div class="form-group">
                                <label for="rango-fechas">Rango de fechas: </label>
                                <div class="row ">
                                    <div class="col-3">
                                        <input type="date" name="fecha-inicio" id="fecha-inicio-block" class="form-control"
                                            placeholder="Contraseña" required>

                                    </div>
                                    <div class="col-2 text-center">
                                        <p>Hasta</p>

                                    </div>
                                    <div class="col-3">
                                        <input type="date" name="fecha-fin" id="fecha-fin-block" class="form-control"
                                            required>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div> <!-- Cierre row -->

                    <div class="mb-2">
                        <div class="row mb-2">
                            <label for="dias-concretos">¿Quieres aplicar esta tarifa a unos dias concretos?</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input chk-general-block" type="checkbox" id="checkbox-lunes"
                                value="lunes" checked>
                            <label class="form-check-label" for="lunes">Lunes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input chk-general-block" type="checkbox" id="checkbox-martes"
                                value="martes" checked>
                            <label class="form-check-label" for="martes">Martes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input chk-general-block" type="checkbox" id="checkbox-miercoles"
                                value="miercoles" checked>
                            <label class="form-check-label" for="miercoles">Miércoles</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input chk-general-block" type="checkbox" id="checkbox-jueves"
                                value="jueves" checked>
                            <label class="form-check-label" for="jueves">Jueves</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input chk-general-block" type="checkbox" id="checkbox-viernes"
                                value="viernes" checked>
                            <label class="form-check-label" for="viernes">Viernes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input chk-general-block" type="checkbox" id="checkbox-sabado"
                                value="sabado" checked>
                            <label class="form-check-label" for="sabado">Sábado</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input chk-general-block" type="checkbox" id="checkbox-domingo"
                                value="domingo" checked>
                            <label class="form-check-label" for="domingo">Domingo</label>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <small>IMPORTANTE: Este será el nuevo registro, por lo que si hay alguno anterior para esas
                            fechas, se
                            eliminará.</small>
                    </div>

                </div> <!-- Cierre IMG Container -->
            </div> <!--Cierre MODAL BODY -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="add-bloqueadas-2-btn">Agregar</button>
                <div class="spinner-border" role="status" id="spinner">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Modal Bloqueo de fechas -->

{{!-- Modal Bloqueo de fechas por capacidad --}}
<div class="modal fade" id="bloqueo_capacidad_modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Bloqueo de fechas</h5>
                <button type="button" class="close" onclick="$('#bloqueo_capacidad_modal').modal('hide');" aria-label="Close">
                    &times;

            </div>
            <div class="modal-body">
                <div class="img-container">
                    <div id="error-modal-persona" class="alert alert-danger" style="display: none;"></div>

                    <div class="row mt-2 mb-2">
                        <div class="col-8">
                            <label for="select-cabana"><b>Selecciona una o más habitaciones: </b></label>
                        </div>
                    </div> <!-- Cierre row -->
                    {{#each chalets}}
                    <div class="form-check form-check-inline">
						<input
							class="checkboxes-chalets-block"
							type="checkbox"
							id="{{this.id}}"
							value="{{this.id}}"
							name="chkb-{{this.id}}"
						/>
						<label class="form-check-label" for="chkb-{{this.id}}">{{this.name}}</label>
					</div>
                    {{/each}}
                    <div class="row">

                        <div class="col-12 mb-2 mt-2">
                            <div class="form-group">
                                <label for="rango-fechas">Rango de fechas: </label>
                                <div class="row ">
                                    <div class="col-3">
                                        <input type="date" name="fecha-inicio" id="fecha-inicio-block-cap" class="form-control"
                                            placeholder="Contraseña" required>

                                    </div>
                                    <div class="col-2 text-center">
                                        <p>Hasta</p>

                                    </div>
                                    <div class="col-3">
                                        <input type="date" name="fecha-fin" id="fecha-fin-block-cap" class="form-control"
                                            required>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div> <!-- Cierre row -->

                    <div class="mb-2">
                        <div class="row mb-2">
                            <label for="dias-concretos">¿Quieres aplicar esta tarifa a unos dias concretos?</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input chk-general-block-cap" type="checkbox" id="checkbox-lunes"
                                value="lunes" checked>
                            <label class="form-check-label" for="lunes">Lunes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input chk-general-block-cap" type="checkbox" id="checkbox-martes"
                                value="martes" checked>
                            <label class="form-check-label" for="martes">Martes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input chk-general-block-cap" type="checkbox" id="checkbox-miercoles"
                                value="miercoles" checked>
                            <label class="form-check-label" for="miercoles">Miércoles</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input chk-general-block-cap" type="checkbox" id="checkbox-jueves"
                                value="jueves" checked>
                            <label class="form-check-label" for="jueves">Jueves</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input chk-general-block-cap" type="checkbox" id="checkbox-viernes"
                                value="viernes" checked>
                            <label class="form-check-label" for="viernes">Viernes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input chk-general-block-cap" type="checkbox" id="checkbox-sabado"
                                value="sabado" checked>
                            <label class="form-check-label" for="sabado">Sábado</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input chk-general-block-cap" type="checkbox" id="checkbox-domingo"
                                value="domingo" checked>
                            <label class="form-check-label" for="domingo">Domingo</label>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-5">
                            <div class="mb-3">
                                <label for="" class="form-label">Definir capacidad mínima:</label>
                                <select class="form-select form-select-md" name="" id="capacidad-minima-select">
                                    <option selected disabled value="0">Selecciona --</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                </select>
                            </div>

                        </div>

                    </div>

                    <div class="row mt-2">
                        <small>IMPORTANTE: Este será el nuevo registro, por lo que si hay alguno anterior para esas
                            fechas, se
                            eliminará.</small>
                    </div>

                </div> <!-- Cierre IMG Container -->
            </div> <!--Cierre MODAL BODY -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="add-bloqueadas-capacidad-btn">Agregar</button>
                <div class="spinner-border" role="status" id="spinner">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Modal Bloqueo de fechas -->


<!-- Modal eliminar precios -->

<div class="modal fade" id="delete-prices-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalLabel">Eliminar bloqueos</h5>
				<button type="button" class="close" onclick="$('#delete-prices-modal').modal('hide');"
					aria-label="Close">
					&times;

			</div>
			<div class="modal-body">
				<div class="img-container">
					<div id="error-modal-persona" class="alert alert-danger" style="display: none;"></div>

						<div id="div-preciogeneral">

							<div class="row mt-2 mb-2">
								<div class="col-8 ml-1">
									<div class="mb-3">
										<label for="select-cabana">Habitación a modificar: </label>
										<select name="select-cabana" id="select-cabana-eliminargenerales"
											class="form-select form-select-md" required>
											<option value="" selected disabled> Selecciona una cabaña para eliminar bloqueo de 
												fechas --
											</option>
											{{#if chalets}}
											{{#each chalets}}
											<option value="{{this.id}}">
												{{this.name}}
											</option>

											{{/each}}
											{{else}}
											<option value="0">No se encontraron habitaciones</option>
											{{/if}}
										</select>

									</div>
								</div>
							</div>
                                <div class="row">

                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label for="select-cabana">Tipo de bloqueo: </label>
                                            <select name="select-cabana" id="select-tipo-bloqueo-eliminar"
                                                class="form-select form-select-md" required>
                                                <option value="" selected disabled> Selecciona una opción </option>
                                                <option value="bloqueo">Bloqueo</option>
                                                <option value="restriccion">Restricción</option>
                                                <option value="bloqueo_capacidad">Bloqueo por capacidad</option>
                                            </select>

                                        </div>
                                    </div>
                                </div>
							<div class="row mr-1">

								<div class="col-12 mb-2 mt-2 ml-1">
									<div class="form-group">
										<label for="rango-fechas">Rango de fechas: </label>
										<div class="row ">
											<div class="col-3">
												<input type="date" name="fecha-inicio-eliminar"
													id="fecha-inicio-eliminar" class="form-control" required>

											</div>
											<div class="col-2 text-center">
												<p>Hasta</p>

											</div>
											<div class="col-3">
												<input type="date" name="fecha-fin-eliminar"
													id="fecha-fin-eliminar" class="form-control" required>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="mb-2">
								<div class="row mb-2 ml-1">
									<label for="dias-concretos">¿Quieres aplicar esta tarifa a unos dias
										concretos?</label>
								</div>
								<div class="ml-2">

									<div class="form-check form-check-inline">
										<input class="form-check-input chk-eliminar" type="checkbox"
											id="checkbox-lunes-eliminar" value="lunes" checked>
										<label class="form-check-label" for="lunes">Lunes</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input chk-eliminar" type="checkbox"
											id="checkbox-martes-eliminar" value="martes" checked>
										<label class="form-check-label" for="martes">Martes</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input chk-eliminar" type="checkbox"
											id="checkbox-miercoles-eliminar" value="miercoles" checked>
										<label class="form-check-label" for="miercoles">Miércoles</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input chk-eliminar" type="checkbox"
											id="checkbox-jueves-eliminar" value="jueves" checked>
										<label class="form-check-label" for="jueves">Jueves</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input chk-eliminar" type="checkbox"
											id="checkbox-viernes-eliminar" value="viernes" checked>
										<label class="form-check-label" for="viernes">Viernes</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input chk-eliminar" type="checkbox"
											id="checkbox-sabado-eliminar" value="sabado" checked>
										<label class="form-check-label" for="sabado">Sábado</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input chk-eliminar" type="checkbox"
											id="checkbox-domingo-eliminar" value="domingo" checked>
										<label class="form-check-label" for="domingo">Domingo</label>
									</div>
								</div>


							</div>


						</div> <!-- Cierre row div precios -->

					</div> <!-- Cierre IMG Container -->
				</div> <!--Cierre MODAL BODY -->
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="delete-prices-btn">Eliminar Fechas</button>
					<div class="spinner-border" role="status" id="spinner">
						<span class="visually-hidden">Loading...</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<script>
    document.addEventListener('click', (event) => {
        if (event.target.classList.contains('restricted') || event.target.classList.contains('blocked') || event.target.classList.contains('blocked-capacity')) {
            const description = event.target.getAttribute('data-description');
            alert(description);
        }
    });

    function goToCurrentMonth(name) {

        const currentMonthElement = document.getElementById(`current-month-calendar-container-${name}`);
        if (currentMonthElement) {
            currentMonthElement.scrollIntoView({ behavior: 'smooth' });
        }
    }

    function scrollToCurrentMonth() {
        const currentMonthName = today.toLocaleString('es-ES', { month: 'long' });
        const currentYear = today.getFullYear();

        const calendarContainers = document.querySelectorAll('[id^="calendar-container-"]');

        calendarContainers.forEach(container => {
            const monthHeaders = container.querySelectorAll('.month-header');
            monthHeaders.forEach(header => {
                if (header.textContent.trim().toLowerCase() === `${currentMonthName} ${currentYear}`.toLowerCase()) {
                    setTimeout(() => {
                        header.scrollIntoView({ behavior: 'smooth' });
                    }, 0);
                }
            });
        });
    }

    const hoyButtons = document.querySelectorAll('.hoy-btn');

    hoyButtons.forEach(button => {
        button.addEventListener('click', function (event) {
            event.preventDefault();

            const chaletName = this.getAttribute('data-chalet');

            const currentMonthName = today.toLocaleString('es-ES', { month: 'long' });
            const currentYear = today.getFullYear();

            const calendarContainer = document.getElementById(`calendar-container-${chaletName}`);

            const monthHeaders = calendarContainer.querySelectorAll('.month-header');
            monthHeaders.forEach(header => {
                if (header.textContent.trim().toLowerCase() === `${currentMonthName} ${currentYear}`.toLowerCase()) {
                    setTimeout(() => {
                        header.scrollIntoView({ behavior: 'smooth', block: "nearest", inline: "center" });
                    }, 0);
                }
            });
        });

    })

    document.addEventListener('DOMContentLoaded', function() {
        const selectHabitacion = document.getElementById('habitacion-select');
        const calendarContainers = document.querySelectorAll('[id^="calendar-container-"]');
        const namesContainers = document.querySelectorAll('.names-container')

        
        selectHabitacion.addEventListener('change', function() {
            const selectedHabitacionId = selectHabitacion.value;

            // Oculta todos los contenedores de habitaciones
            calendarContainers.forEach(container => {
                if(!container.classList.contains('d-none')) {
                    container.classList.add('d-none');
                }
            });
            namesContainers.forEach(container => {
                if(!container.classList.contains('d-none')) {
                    container.classList.add('d-none');
                }
            })
            console.log(selectedHabitacionId);
            // Si se seleccionó una habitación, mostrar el contenedor correspondiente
            if (selectedHabitacionId) {
                const selectedHabitacionContainer = document.getElementById(`calendar-container-${selectedHabitacionId}`);
                const namesContainer = document.getElementById(`names-container-${selectedHabitacionId}`);
                if (selectedHabitacionContainer) {
                    console.log(selectedHabitacionContainer)
                    selectedHabitacionContainer.classList.remove('d-none');
                    namesContainer.classList.remove('d-none');
                }
            }
        });
    })
</script>

<script src="/scripts/blockCalendar.js"></script>