<div class="pre-loader"></div>

<h1 class="ml-2"> Calendario de bloqueo de fechas</h1>
<div class="calendar-header">
    <div class="bg-dark mb-3">
        <a name="" id="acciones-btn" class="btn btn-info btn-sm m-3" href="#" role="button" data-bs-toggle="modal"
            data-bs-target="#acciones_modal">Acciones</a>
    </div>
</div>

<div class="color-label">
    <div class="color-box" style="background-color: #f6ff00;"></div>
    <span class="color-text">Estancia mínima</span>
</div>

{{#each chalets}}
<h2>{{this.name}}</h2>
<div class="container mb-3">
    <div class="row calendar-container" id="calendar-container-{{this.name}}" style="color: black !important;"
        data-id="{{this.id}}">
    </div>
</div>
{{/each}}


<div class="modal fade" id="acciones_modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Bloqueo de fechas</h5>
                <button type="button" class="close" onclick="$('#acciones_modal').modal('hide');" aria-label="Close">
                    &times;

            </div>
            <div class="modal-body">
                <div class="img-container">
                    <div id="error-modal-persona" class="alert alert-danger" style="display: none;"></div>

                    <div class="row mt-2 mb-2">
                        <div class="col-8">
                            <label for="select-cabana">Habitación a modificar: </label>
                        </div>
                    </div> <!-- Cierre row -->
                    <select name="select-cabana" id="select-cabana" class="form-select form-select-md" required>
                        <option value="" selected disabled> Selecciona una cabaña para modificar --
                        </option>
                        {{#if chalets}}
                        {{#each chalets}}
                        <option value="{{this.id}}">{{this.name}}
                        </option>

                        {{/each}}
                        {{else}}
                        <option value="0">No se encontraron habitaciones</option>
                        {{/if}}
                    </select>

                    <div class="row">

                        <div class="col-12 mb-2 mt-2">
                            <div class="form-group">
                                <label for="rango-fechas">Rango de fechas: </label>
                                <div class="row ">
                                    <div class="col-3">
                                        <input type="date" name="fecha-inicio" id="fecha-inicio" class="form-control"
                                            placeholder="Contraseña" required>

                                    </div>
                                    <div class="col-2 text-center">
                                        <p>Hasta</p>

                                    </div>
                                    <div class="col-3">
                                        <input type="date" name="fecha-fin" id="fecha-fin" class="form-control"
                                            required>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div> <!-- Cierre row -->

                    <div class="mb-2">
                        <div class="row mb-2">
                            <label for="dias-concretos">¿Quieres aplicar esta tarifa a unos dias concretos?</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input chk-general" type="checkbox" id="checkbox-lunes"
                                value="lunes" checked>
                            <label class="form-check-label" for="lunes">Lunes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input chk-general" type="checkbox" id="checkbox-martes"
                                value="martes" checked>
                            <label class="form-check-label" for="martes">Martes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input chk-general" type="checkbox" id="checkbox-miercoles"
                                value="miercoles" checked>
                            <label class="form-check-label" for="miercoles">Miércoles</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input chk-general" type="checkbox" id="checkbox-jueves"
                                value="jueves" checked>
                            <label class="form-check-label" for="jueves">Jueves</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input chk-general" type="checkbox" id="checkbox-viernes"
                                value="viernes" checked>
                            <label class="form-check-label" for="viernes">Viernes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input chk-general" type="checkbox" id="checkbox-sabado"
                                value="sabado" checked>
                            <label class="form-check-label" for="sabado">Sábado</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input chk-general" type="checkbox" id="checkbox-domingo"
                                value="domingo" checked>
                            <label class="form-check-label" for="domingo">Domingo</label>
                        </div>


                    </div>

                    <div class="row mt-2">
                        <div class="col-5">
                            <div class="mb-3">
                                <label for="" class="form-label">Definir estancia mínima:</label>
                                <select class="form-select form-select-md" name="" id="estancia-minima-select">
                                    <option selected disabled value="0">Selecciona --</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                </select>
                            </div>

                        </div>

                    </div>

                    <div class="row mt-2">
                        <small>IMPORTANTE: Este será el nuevo registro, por lo que si hay alguno anterior para esas
                            fechas, se
                            eliminará.</small>
                    </div>

                </div> <!-- Cierre IMG Container -->
            </div> <!--Cierre MODAL BODY -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="add-bloqueadas-btn">Agregar</button>
                <div class="spinner-border" role="status" id="spinner">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Modal Alta usuario -->






<script>
    document.addEventListener('click', (event) => {
        if (event.target.classList.contains('restricted')) {
            const description = event.target.getAttribute('data-description');
            alert(description);
        }
    });
</script>

<script src="/scripts/blockCalendar.js"></script>