<div class="left hidden-xs" id="reservationtools">

    <span data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Check-In">
        <li type="button" id="checkin" data-command="checkin" class="btn"><i class="fa fa-sign-in fa-lg"
                aria-hidden="true"></i></li>
    </span>

    <span data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Check-Out">
        <li type="button" id="checkout" data-command="checkout" class="btn"><i class="fa fa-sign-out fa-lg"
                aria-hidden="true"></i></li>
    </span>
    <span data-toggle="tooltip" data-placement="bottom" title="Cancelar" data-original-title="Cancelar ">
        <li type="button" id="cancel" data-command="cancel" class="btn btn-cancel"><i class="fa fa-trash fa-lg"
                aria-hidden="true"></i></li>
    </span>

    <span title="|">|</span>
    <span data-toggle="tooltip" data-placement="bottom" title="Editar reserva" data-original-title="Editar reserva">
        <button type="button" data-toggle="modal" data-target="#editclient" class="btn"><i class="fa fa-pencil"
                aria-hidden="true"></i>
            <div class="ripple-container"></div>
        </button>
    </span>
    {{!--
    <span data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Reubicar reserva">
        <button type="button" id="btn-reubicar-reserva" class="btn btn-reubicar-reserva"><i class="fa fa-arrows"
                aria-hidden="true"></i></button>
    </span>
    <span data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Agrupar reservas">
        <button type="button" id="btn-MultiBooking" data-toggle="modal" data-target="#modalMultiBooking" class="btn"><i
                class="fa fa-users" aria-hidden="true"></i></button>
    </span>
    <span title="|">|</span>
    <span data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Enviar confirmación">
        <button class="btn" type="button" data-toggle="modal" data-target="#modalSendConfirmation" data-id="">
            <i class="fa fa-envelope "></i>
        </button>
    </span>
    <span data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Cobrar">
        <button type="button" data-toggle="modal" data-target="#modalCheckPayDisabled" class="btn"><i
                class="fa fa-credit-card" aria-hidden="true"></i></button>
    </span>
    <span data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Llave">
        <li type="button" data-toggle="modal" data-target="#modalTesa" class="btn">
            <i class="fa fa-besom"></i><i class="fa fa-key"></i>
        </li>
    </span>
    <span data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Histórico">
        <a href="#customer_summary" data-id="9864398" data-toggle="modal" data-target="#modalPreviewCustomer"
            class="btn btn-previewCustomer">
            <i class="fa fa-user"></i>
            <div class="ripple-container"></div>
        </a>
    </span>


    <span class="popover-action " data-toggle="popover" data-trigger="focus" data-placement="bottom"
        data-content="<ul class='popover-action-ul'><a href='#' onclick='loadChangeStatusHK($(this))' data-rcode='1619215546' data-id='8725170' class='btn-changestatus' data-action='changestatus'>Cambio de limpieza</a><hr><a href='#' onclick='loadEditRoomHK($(this))' data-cleanroom='0' data-dayweekclean='' data-numdoor='' data-rcode='1619215546' data-rscode='8725170' class='btn-splitBooking' data-action='configRoom'>Configurar limpiezas</a></ul>"
        data-html="true" data-original-title="" title="">
        <button class="btn" type="button" style="margin-bottom: -2px;">
            <i class="fa fa-besom disabled"></i><i class="hkIcon"></i>
            <div class="ripple-container"></div>
        </button>
    </span>

    --}}

</div>


<div class="row">
    <div class="col-7">
        <div class="row card-details bg-dark">
            <div class="col-xs-12 col-sm-6 no-padding">


                <div class="col-xs-1 mb-3" style="width: 70px;">
                    <a onclick=""><img src="https://panel.hotelgest.com/files/media/male_profile_sm.jpg"
                            id="profile-pic-alone" class="rounded-circle"></a>
                </div>






                <div class="col-xs-9 col-lg-7">
                    <small class="limit-width" data-toggle="tooltip" data-placement="bottom"
                        title="{{habitacion.propertyDetails.name}}"
                        data-original-title="{{habitacion.propertyDetails.name}}"></small>
                    <h3 class="detailsRoom fs-4 fw-bolder" style="margin-bottom: 5px;">
                        {{habitacion.propertyDetails.name}}
                    </h3>
                    <h3 class="bold text-uppercase fs-5">
                        {{cliente.firstName}} {{cliente.lastName}}
                    </h3>


                    <hr>
                </div>


                <div class="col-xs-12">
                    <div class="col-xs-12 no-padding-left" style="margin-top: 5px;">
                    </div>
                    <h4></h4>
                    <div class="col-xs-12 no-padding">
                        <h4 class="fw-bold fs-6" style="margin-top: 5px; margin-bottom:0px;">
                            <button class="btn btn-style-blue enviar-email-btn" type="button" data-toggle="modal"
                                data-target="#modalSendConfirmation" data-id="">
                                <i class="fa fa-envelope "></i> <b>{{cliente.email}}</b> | Enviar E-mail
                                <div class="ripple-container"></div>
                            </button>
                            <div class="ripple-container"></div>
                        </h4>

                    </div>

                    <div class="col-xs-12 no-padding">
                        <h4 class="fw-bold fs-6" style="margin-top: 5px; margin-bottom:0px;">
                            <button class="btn btn-style-blue enviar-email-btn" type="button" data-toggle="modal"
                                data-target="#modalSendConfirmation" data-id="">
                                <i class="fa fa-phone" aria-hidden="true"></i> <b>{{cliente.phone}}</b> | Teléfono
                                <div class="ripple-container"></div>
                            </button>
                            <div class="ripple-container"></div>
                        </h4>

                    </div>


                    <br>


                    <br>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6">
                <div class="col-xs-6 no-padding-left">
                    <small>Llegada</small>
                    <h4 class="font-bold"> <i class="fa fa-sign-in" aria-hidden="true"></i> {{evento.arrivalDate}} </h4>
                </div>
                <div class="col-xs-3 no-padding-left">
                    <small> Noches&nbsp;&nbsp;&nbsp;</small>
                    <h4 class="font-bold"> <i class="fa fa-moon" aria-hidden="true"></i> {{evento.nNights}}</h4>
                </div>
                <div class="col-xs-2 no-padding-left">
                </div>
                <div class="col-xs-6 no-padding-left">
                    <small>Salida</small>
                    <h4 class="font-bold"> <i class="fa fa-sign-out" aria-hidden="true"></i> {{evento.departureDate}}
                    </h4>
                </div>
                <div class="col-xs-6 no-padding-left">
                    <small> Recibida</small>
                    <h4 class="font-bold">{{evento.reservationDate}}</h4>
                </div>
                <div class="col-xs-6 no-padding-left origin">
                    <small> Origen </small>
                    <h4 class="font-bold">Recepción </h4>
                </div>

                <input type="hidden" id="reservacion_id" name="reservacion_id" value="{{evento._id}}">



            </div>
        </div>
    </div>
    <div class="col-5">
        <h3 class="d-inline-block mr-3 ml-3">Notas</h3>
        <a name="" id="" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#add_notes_modal" role="button"><i
                class="fa fa-plus-circle" aria-hidden="true"></i></a>
        <div class="card-details m-3" style="background-color: #faf1d2; height: auto; width: 80%;">
            <p style="color: black">COMENTARIOS</p>
        </div>
    </div>


</div>

<div class="row mt-3">
    <div class="col-4">
        <h3>Artículos</h3>
        <div class="bg-dark h-auto p-2 rounded-3">
            <div class="article-row row rounded">
                <div class="col-8">
                    <p>1 X Pago a cuenta</p>
                    <p>Insertado el 17/03/2024</p>
                </div>
                <div class="col-4">
                    <p>$2400</p>
                </div>
            </div>

            <div class="article-row row">
                <div class="col-8">
                    <p>1 X Pago a cuenta</p>
                    <p>Insertado el 17/03/2024</p>
                </div>
                <div class="col-4">
                    <p>$2400</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-3">
        <h3>Facturas</h3>
        <div class="bg-dark h-auto">
            <table class="table table-hover table-payment" style="width: auto;">
                <thead class="table-dark">
                    <tr>
                        <th>Nº Fact.</th>
                        <th>Fecha</th>
                        <th>Importe</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="rows-payment">

                </tbody>
            </table>
        </div>
    </div>

    <div class="col-5">
        <h3 class="d-inline-block mr-3 ml-3">Pagos</h3>
        <a name="" id="" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#add_payment_modal"
            role="button"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
        <table class="table table-hover table-payment" style="width: 75%;">
            <thead class="table-dark">
                <tr>
                    <th>Nº Op.</th>
                    <th>Fecha</th>
                    <th>Importe</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="rows-payment">
                {{#if pagos}}
                {{#each pagos}}
                <tr>
                    <td>
                        <span data-toggle="tooltip" data-html="true"
                            title="{{this.codigoOperacion}} - {{this.notas}}  - {{this.metodoPago}} -  {{this.fechaPago}} ">
                            <i class="fa fa-info-circle"></i>
                        </span>
                    </td>
                    <td>{{this.fechaPago}}</td>
                    <td>${{this.importe}}</td>
                    <td class="text-center">
                        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#edit_payment_modal"
                            data-payment-id="{{this._id}}">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn" onclick="eliminarPago('{{this._id}}')">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </td>
                    {{/each}}
                    {{else}}
                    <td colspan="4" class="text-center">No se han agregado pagos</td>
                    {{/if}}



                    {{!--
                    <td>1</td>
                    <td>17/03/2024</td>
                    <td>$2400</td>
                    <td class="text-center">
                        <button type="button" class="btn">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </td> --}}
                </tr>
            </tbody>
        </table>
    </div>

</div> {{!-- Cierre row --}}

<div class="row mt-3">
    <div class="col-4">
        <h3 class="d-inline-block">Servicios Adicionales</h3>
        <a name="" id="" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#add_payment_modal"
            role="button"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
        <div class="bg-dark h-auto p-2 rounded-3">
            <div class="article-row row rounded">
                <div class="col-8">
                    <p>Servicio</p>
                    <p>Insertado el 17/03/2024</p>
                </div>
                <div class="col-4">
                    <p></p>
                </div>
            </div>

            <div class="article-row row">
                <div class="col-8">
                    <p>Servicio 2</p>
                    <p>Insertado el 17/03/2024</p>
                </div>
                <div class="col-4">
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modals -->

<div class="modal fade" id="add_payment_modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Agregar pago</h5>
                <button type="button" class="close" onclick="$('#add_payment_modal').modal('hide');" aria-label="Close">
                    &times;

            </div>
            <div class="modal-body">
                <div class="img-container">
                    <div class="row mt-2">
                        <div class="col-sm-5">
                            <div class="form-group">
                                <label for="payment_emision_date">Fecha de emisión</label>
                                <input type="date" name="payment_emision_date" id="payment_emision_date"
                                    class="form-control onlydatepicker" placeholder="Fecha de pago">
                            </div>
                        </div>

                    </div>
                    <div class="row mt-2">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="importe_pago">Importe</label>
                                <input type="number" name="importe_pago" id="importe_pago-habitacion"
                                    class="form-control" placeholder="0.00 MXN" min="0.00" step="0.01">
                            </div>
                        </div>


                    </div> <!-- Cierre row -->

                    <div class="row mt-2">
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="payment-method" class="form-label">Método de pago</label>
                                <select class="form-select form-select-md" name="payment-method" id="payment_method"
                                    required>
                                    <option selected disabled value="0">Selecciona un método de pago</option>
                                    <option value="Tarjeta de Debito">Tarjeta de débito</option>
                                    <option value="Tarjeta de Credito">Tarjeta de crédito</option>
                                    <option value="Efectivo">Efectivo</option>
                                    <option value="Transferencia">Transferencia</option>
                                </select>
                            </div>

                        </div>

                        <div class="row mt-2">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="codigo-operacion-pago">Código de operación</label>
                                    <input type="text" name="codigo-operacion-pago"
                                        id="codigo-operacion-pago-habitacion" class="form-control" placeholder="001122">
                                    <span class="help-text" style="color: gray;font-size: 14px;">No es obligatorio pero
                                        puede servir de referencia.</span>

                                </div>
                            </div>
                        </div>


                    </div> <!-- Cierre row -->

                    <div class="row">
                        <div class="ml-2">
                            <label for="payment-notes" class="form-label">Notas</label>
                            <textarea class="form-control" name="payment-notes" id="payment-notes" rows="2"
                                placeholder="Nombre del banco, preautorización, etc."></textarea>


                        </div>
                    </div>




                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="add-payment-btn">Agregar pago</button>
            </div>
        </div>
    </div>
</div>
<!-- End popup dialog box -->




{{!-- Modal editar pago --}}

<div class="modal fade" id="edit_payment_modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Editar pago</h5>
                <button type="button" class="close" onclick="$('#edit_payment_modal').modal('hide');"
                    aria-label="Close">
                    &times;

            </div>
            <div class="modal-body">
                <div class="img-container">
                    <div class="row mt-2">
                        <div class="col-sm-5">
                            <div class="form-group">
                                <label for="payment_emision_date">Fecha de emisión</label>
                                <input type="date" name="payment_emision_date" id="edit_payment_emision_date"
                                    class="form-control onlydatepicker" placeholder="Fecha de pago">
                            </div>
                        </div>

                    </div>
                    <div class="row mt-2">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="importe_pago">Importe</label>
                                <input type="number" name="importe_pago" id="edit_importe_pago-habitacion"
                                    class="form-control" placeholder="0.00 MXN" min="0.00" step="0.01">
                            </div>
                        </div>


                    </div> <!-- Cierre row -->

                    <div class="row mt-2">
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="payment-method" class="form-label">Método de pago</label>
                                <select class="form-select form-select-md" name="payment-method"
                                    id="edit_payment_method" required>
                                    <option selected disabled value="0">Selecciona un método de pago</option>
                                    <option value="Tarjeta de Debito">Tarjeta de débito</option>
                                    <option value="Tarjeta de Credito">Tarjeta de crédito</option>
                                    <option value="Efectivo">Efectivo</option>
                                    <option value="Transferencia">Transferencia</option>
                                </select>
                            </div>

                        </div>

                        <div class="row mt-2">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="edit_codigo-operacion-pago">Código de operación</label>
                                    <input type="text" name="edit_codigo-operacion-pago"
                                        id="edit-codigo-operacion-pago-habitacion" class="form-control"
                                        placeholder="001122">
                                    <span class="help-text" style="color: gray;font-size: 14px;">No es obligatorio pero
                                        puede servir de referencia.</span>

                                </div>
                            </div>
                        </div>


                    </div> <!-- Cierre row -->

                    <div class="row">
                        <div class="ml-2">
                            <label for="payment-notes" class="form-label">Notas</label>
                            <textarea class="form-control" name="payment-notes" id="edit_payment-notes" rows="2"
                                placeholder="Nombre del banco, preautorización, etc."></textarea>


                        </div>
                    </div>




                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="edit-payment-btn">Editar pago</button>
            </div>
        </div>
    </div>
</div>
<!-- End popup dialog box -->

<script>

    const editPaymentModal = document.getElementById('edit_payment_modal');
    const editPaymentBtn = document.querySelector('#edit-payment-btn');
    const addPaymentBtn = document.querySelector('#add-payment-btn');

    const editarFechaPagoInput = document.querySelector('#edit_payment_emision_date')
    const editarImporteInput = document.querySelector('#edit_importe_pago-habitacion');
    const editarMetodoPagoInput = document.querySelector('#edit_payment_method');
    const editarCodigoOperacionInput = document.querySelector('#edit-codigo-operacion-pago-habitacion');
    const editarNotasInput = document.querySelector('#edit_payment-notes');

    let paymentId;

    addPaymentBtn.addEventListener('click', async function (event) {
        event.preventDefault();

        try {
            const fechaPago = document.querySelector('#payment_emision_date').value;
            const importe = document.querySelector('#importe_pago-habitacion').value;
            const metodoPago = document.querySelector('#payment_method').value;
            const codigoOperacion = document.querySelector('#codigo-operacion-pago-habitacion').value;
            const notas = document.querySelector('#payment-notes').value;
            const reservacionId = document.querySelector('#reservacion_id').value;

            // Validación de la fecha de pago
            if (!fechaPago || fechaPago === undefined) {
                throw new Error('Ingresa una fecha de pago para el pago.');
            }

            // Validación del importe
            if (!importe || importe === undefined) {
                throw new Error('Importe no puede estar vacío.');
            }

            // Validación del método de pago
            if (!metodoPago || metodoPago == 0) {
                throw new Error('Método de pago no puede estar vacío.');
            }

            const bodyNuevoPago = {
                fechaPago: new Date(fechaPago),
                importe: importe,
                metodoPago: metodoPago,
                codigoOperacion: codigoOperacion,
                reservacionId: reservacionId,
                notas: notas
            };

            console.log(bodyNuevoPago);

            const response = await fetch(`http://localhost:3005/api/pagos`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(bodyNuevoPago)
            });

            if (response.ok) {
                Swal.fire({
                    icon: 'success',
                    title: '¡Completado!',
                    text: 'Pago registrado correctamente.',
                    confirmButtonText: 'Aceptar'
                }).then((result) => {
                    if (result.isConfirmed) {
                        location.reload();
                    }
                });
            }

        } catch (error) {
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: error.message,
                confirmButtonText: 'Aceptar'
            });
        }

    });

    editPaymentBtn.addEventListener('click', async function (event) {
        event.preventDefault();

        try {
            // Validación de la fecha de pago
            if (!editarFechaPagoInput.value || editarFechaPagoInput.value === undefined) {
                throw new Error('Ingresa una fecha de pago para el pago.');
            }

            // Validación del importe
            if (!editarImporteInput.value || editarImporteInput.value === undefined) {
                throw new Error('Importe no puede estar vacío.');
            }

            // Validación del método de pago
            if (!editarMetodoPagoInput.value || editarMetodoPagoInput.value == 0) {
                throw new Error('Método de pago no puede estar vacío.');
            }

            const bodyPago = {
                fechaPago: editarFechaPagoInput.value,
                importe: editarImporteInput.value,
                metodoPago: editarMetodoPagoInput.value,
                codigoOperacion: editarCodigoOperacionInput.value,
                notas: editarNotasInput.value
            };

            const response = await fetch(`http://localhost:3005/api/pagos/${paymentId}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(bodyPago)
            });

            if (response.ok) {
                Swal.fire({
                    icon: 'success',
                    title: '¡Completado!',
                    text: 'Pago actualizado correctamente.',
                    confirmButtonText: 'Aceptar'
                }).then((result) => {
                    if (result.isConfirmed) {
                        location.reload();
                    }
                });
            } else {
                throw new Error('Error al actualizar el pago. Por favor, inténtalo de nuevo más tarde.');
            }
        } catch (error) {
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: error.message,
                confirmButtonText: 'Aceptar'
            });
        }
    });

    editPaymentModal.addEventListener('show.bs.modal', async function (event) {
        const button = event.relatedTarget; // Botón que abrió el modal
        paymentId = button.getAttribute('data-payment-id'); // ID del pago

        try {
            const datosDePago = await obtenerDatosDePago(paymentId);
            console.log(datosDePago);
            const { fechaPago, importe, metodoPago, codigoOperacion, notas, reservacionId } = datosDePago;
            const fechaFormateada = datosDePago.fechaPago.substring(0, 10); // Recortar la fecha para eliminar la parte de la hora

            editarFechaPagoInput.value = fechaFormateada;
            editarImporteInput.value = importe;
            editarMetodoPagoInput.value = metodoPago;
            if (codigoOperacion) editarCodigoOperacionInput.value = codigoOperacion;
            if (notas) editarNotasInput.value = notas;
        } catch (error) {
            console.error('Error al obtener los datos del pago:', error);
            throw new Error('Error al obtener los datos del pago: ', error);
        }
    });

    async function obtenerDatosDePago(paymentId) {
        try {
            const response = await fetch(`http://localhost:3005/api/pagos/${paymentId}`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                }
            });

            const data = await response.json(); // Esperar a que la promesa se resuelva
            return data;
        } catch (error) {
            throw new Error(error);
        }
    }

    async function eliminarPago(idPago) {
        console.log(idPago);
        try {
            const confirmacion = await Swal.fire({
                icon: 'warning',
                title: '¿Estás seguro?',
                text: 'Esta acción eliminará el pago de forma permanente.',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Sí, eliminar',
                cancelButtonText: 'Cancelar'
            });

            if (confirmacion.isConfirmed) {
                const response = await fetch(`http://localhost:3005/api/pagos/${idPago}`, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                    }
                });

                if (response.ok) {
                    Swal.fire({
                        icon: 'success',
                        title: '¡Completado!',
                        text: 'Pago eliminado correctamente.',
                        confirmButtonText: 'Aceptar'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            location.reload();
                        }
                    });
                } else {
                    throw new Error('Error al eliminar el pago. Por favor, inténtalo de nuevo más tarde.');
                }
            }
        } catch (error) {
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: error.message,
                confirmButtonText: 'Aceptar'
            });
        }
    }






</script>