<div class="loader loader--hidden"></div>
<div class="pre-loader"></div>


<div class="calendar-header">
    <div class="bg-dark mb-3">
        <a name="" id="crear-reserva-btn" class="btn btn-secondary btn-sm m-3" href="#" role="button"
            data-bs-toggle="modal" data-bs-target="#event_entry_modal">Crear reserva</a>
    </div>
</div>

<div id="calendar" class=""></div>
<div id="context-menu">
    <ul>
        <li id="edit"><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp Editar Reserva</li>
        <li id="delete"><i class="fa fa-trash" aria-hidden="true"></i>&nbsp Cancelar Reserva</li>
        <li id="move-to-playground"><i class="fa fa-gamepad" aria-hidden="true"></i>&nbsp Mover al Playground</li>
        <li id="move-to-active"><i class="fa fa-check-circle" aria-hidden="true"></i> &nbsp Cambiar a Activa</li>
    </ul>
</div>

<div class="row">
    <div class="col-6 ml-5">
        <a name="" id="" class="btn btn-primary mt-5" href="/api/cabanas/calendar" role="button">Ir a calendario de
            habitaciones</a>

    </div>

</div>


<!-- Modals -->
<div class="modal fade" id="event_entry_modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Crear reserva</h5>
                <button type="button" class="close" onclick="$('#event_entry_modal').modal('hide');" aria-label="Close">
                    &times;
            </div>
            <div class="modal-body">
                <div class="img-container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="searchClient">Buscar Cliente</label>
                                <input type="text" id="searchClient" class="form-control"
                                    placeholder="Buscar cliente...">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label for="lblClient">Cliente</label>
                                <select id="lblClient" name="lblClient" class="form-select form-select-md" required>
                                    <option value="" selected="true" disabled="true"> Selecciona al cliente para hacer
                                        su reserva --</option>
                                    {{#if clientes}}
                                    {{#each clientes}}
                                    <option value="{{this.email}}">{{this.firstName}} {{this.lastName}} ({{this.email}})
                                    </option>
                                    {{/each}}
                                    {{else}}
                                    <option value="0">No se encontraron clientes</option>
                                    {{/if}}
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3 d-flex align-items-center justify-content-center">
                            <a name="" id="crear-reserva-btn" class="btn btn-info btn-sm m-3" href="#" role="button"
                                data-bs-toggle="modal" data-bs-target="#clientEntryModal">Alta de Cliente</a>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-sm-5">
                            <div class="form-group">
                                <label for="event_start_date">Fecha llegada</label>
                                <input type="date" name="event_start_date" id="event_start_date"
                                    class="form-control onlydatepicker" placeholder="Event start date">
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group">
                                <label for="event_end_date">Fecha salida</label>
                                <input type="date" name="event_end_date" id="event_end_date" class="form-control"
                                    placeholder="Event end date">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="event_end_date">Noches: </label>
                                <input type="number" name="event_nights" id="event_nights" class="form-control"
                                    placeholder="" min="1" disabled>
                            </div>
                        </div>
                    </div>
                    <h3 class="mt-3">Habitación</h3>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="mb-3">
                                    <label for="" class="form-label">Filtrar por Tipología</label>
                                    <select class="form-select form-select-md" name="" id="tipologia_select">
                                        <option value="" selected>Mostrar todas</option>
                                        {{#if tipologias}}
                                        {{#each tipologias}}
                                        <option value="{{this.tipologia}}">{{this.tipologia}}</option>
                                        {{/each}}
                                        {{else}}
                                        <option value="0">No se encontraron tipologias</option>
                                        {{/if}}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <p id="verificar-disponibilidad" style="display: none;">Verificando
                                    disponibilidad...
                                </p>

                                <label for="tipologia_habitacion">Habitación</label>
                                <select name="tipologia_habitacion" id="tipologia_habitacion"
                                    class="form-select form-select-md" required>
                                    <option value="" selected="true" disabled="true"> Selecciona una habitación --</option>
                                    {{#if chalets}}
                                    {{#each chalets}}
                                    <option value="{{this.name}}" data-bs-pax="{{this.pax}}" data-bs-id="{{this.id}}"
                                        data-bs-tipologia="{{this.tipologia}}">
                                        {{this.name}}</option>
                                    {{/each}}
                                    {{else}}
                                    <option value="0">No se encontraron cabañas</option>
                                    {{/if}}
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="ocupacion_habitacion">Ocupación Máx.</label>
                                <input type="number" name="ocupacion_habitacion" id="ocupacion_habitacion"
                                    class="form-control" placeholder="Ocupación" readonly>
                                <input type="hidden" id="id_cabana">
                            </div>
                        </div>
                    </div> <!-- Cierre row -->

                    <div class="row mt-2 mb-2">
                        <div class="col-5">
                            <label for="numero-personas">Numero de personas que se hospedarán: </label>
                            <select name="numero-personas" id="numero-personas" class="form-select form-select-md"
                                required>
                                <option value="" selected disabled>Selecciona el número de personas --</option>
                            </select>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="ocupacion_habitacion">Total</label>
                                <p id="calculando-precios" style="display: none;">Calculando precios...</p>
                                <div class="input-group ig-shopping-price mb-3">
                                    <input type="number" class="form-control bg-light text-black fw-bold"
                                        id="habitacion_total" aria-label="Amount (to the nearest dollar)" min="0.00"
                                        placeholder="Total">
                                    <input type="hidden" id="total-sin-comisiones">
                                    <input type="hidden" id="total-costo-base">
                                    <div class="input-group-append">
                                        <span class="input-group-text">$ M.N.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="descuento_altotal">Descuento</label>
                                <div class="input-group ig-shopping-price mb-3">
                                    <input type="number" class="form-control bg-light text-black"
                                        id="habitacion_descuento" aria-label="Descuento" min="0" max="100"
                                        placeholder="Descuento">
                                    <div class="input-group-append">
                                        <span class="input-group-text"> % </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- Cierre row -->

                    <div class="row mt-2">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label for="ocupacion_habitacion">Total con descuento</label>
                                <div class="input-group ig-shopping-price mb-3">
                                    <input type="number" class="form-control bg-light text-black fw-bold"
                                        id="habitacion_totalcondescuento" aria-label="Amount (to the nearest dollar)"
                                        min="0.00" placeholder="Total con descuento" readonly>
                                    <div class="input-group-append">
                                        <span class="input-group-text">$ M.N.</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="">
                                    <input id="chckDeposit" type="checkbox" checked> Por depo
                                </label>
                            </div>
                        </div>

                    </div> <!-- Cierre row -->
                    <div class="form-item">
                        <p id="txtReservationError" name="errMsg" class="error"></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="save-event-btn">
                    <span class="spinner-grow spinner-grow-sm d-none" role="status" aria-hidden="true"></span>
                    <span class="spinner-text">Crear Reserva</span>

                </button>
            </div>
        </div>
    </div>
</div>
<!-- End popup dialog box -->

<!-- Modal alta cliente -->
<div class="modal fade" id="clientEntryModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
    aria-hidden="true">
    <form id="frmCreateClient" action="/api/clientes/crear-cliente" method="post" class="modal-dialog modal-lg"
        role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Alta de cliente</h5>
                <button type="button" class="close" onclick="$('#clientEntryModal').modal('hide');" aria-label="Close"
                    data-bs-target="#event_entry_modal" data-bs-toggle="modal">
                    &times;
            </div>
            <div class="modal-body">
                <div class="img-container">
                    <div class="row mt-2">
                        <div class="col-sm-12 mb-2">
                            <div class="form-group">
                                <label for="txtClientName">Nombre</label>
                                <input type="text" name="txtClientName" id="txtClientName"
                                    class="form-control onlydatepicker" placeholder="Nombre">
                            </div>
                        </div>
                        <div class="col-sm-12 mb-2">
                            <div class="form-group">
                                <label for="txtClientLastname">Apellido</label>
                                <input type="text" name="txtClientLastname" id="txtClientLastname" class="form-control"
                                    placeholder="Apellido">
                            </div>
                        </div>
                        <div class="col-sm-12 mb-2">
                            <div class="form-group">
                                <label for="txtClientPhone">Teléfono</label>
                                <input type="tel" name="txtClientPhone" id="txtClientPhone" class="form-control"
                                    placeholder="Teléfono">
                            </div>
                        </div>
                        <div class="col-sm-12 mb-2">
                            <div class="form-group">
                                <label for="txtClientAddress">Dirección</label>
                                <input type="text" name="txtClientAddress" id="txtClientAddress" class="form-control"
                                    placeholder="Dirección">
                            </div>
                        </div>
                        <div class="col-sm-12 mb-2">
                            <div class="form-group">
                                <label for="txtClientEmail">Email</label>
                                <input type="text" name="txtClientEmail" id="txtClientEmail" class="form-control"
                                    placeholder="Email">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8 mb-2">
                                <label for="slctClientIdType" class="form-label">Tipo de identificación</label>
                                <select name="slctClientIdType" id="slctClientIdType"
                                    class="form-select form-select-md mb-2" required>
                                    <option value="" selected disabled> Selecciona el tipo de identificación del
                                        cliente
                                    </option>
                                    <option value="INE">INE</option>
                                    <option value="Pasaporte">Pasaporte</option>
                                    <option value="Licencia de conducir">Licencia de conducir</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 mb-2">
                            <div class="form-group">
                                <label for="txtClientIdNumber">Número de identificación</label>
                                <input type="text" name="txtClientIdNumber" id="txtClientIdNumber" class="form-control"
                                    placeholder="Tipo de identificación">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-item">
                <p id="txtInsertClientError" name="errMsg" class="error"></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-target="#event_entry_modal" data-bs-toggle="modal"
                    data-bs-dismiss="modal">Regresar</button>
                <button type="button" class="btn btn-primary" id="btnSaveClient">Agregar Cliente</button>
            </div>
        </div>
    </form>
</div>
<!-- End Modal Alta cliente -->



<!-- Bootstrap JavaScript Libraries -->
<script src="/scripts/calendar.js"></script>
<script src="/scripts/functions.js"></script>
<script>
    const searchInput = document.getElementById('searchClient');
    const clientSelect = document.getElementById('lblClient');

    searchInput.addEventListener('keyup', function (event) {
        const searchTerm = event.target.value.toLowerCase();
        Array.from(clientSelect.options).forEach(function (option) {
            const text = `${option.text} ${option.value}`.toLowerCase();
            if (text.includes(searchTerm)) {
                option.style.display = 'block';
            } else {
                option.style.display = 'none';
            }
        });
    });

    const tipologiaSelect = document.getElementById('tipologia_select');
    const tipologiaHabitacionSelect = document.getElementById('tipologia_habitacion');
    const originalOptions = Array.from(tipologiaHabitacionSelect.options);

    tipologiaSelect.addEventListener('change', function () {
        const selectedTipologia = this.value;

        // Remove all existing options in tipologiaHabitacionSelect
        while (tipologiaHabitacionSelect.options.length > 1) {
            tipologiaHabitacionSelect.remove(1);
        }

        // Filter and add matching options
        originalOptions.forEach(option => {
            if (selectedTipologia === '' || option.getAttribute('data-bs-tipologia') === selectedTipologia) {
                tipologiaHabitacionSelect.appendChild(option.cloneNode(true));
            }
        });
    });

    $(document).on('hidden.bs.modal', function (event) {
        if ($('.modal:visible').length) {
            $('body').addClass('modal-open');
        }
    });

    window.addEventListener("load", () => {
        const preloader = document.querySelector(".pre-loader");
        preloader.classList.add("loader--hidden");
        preloader.addEventListener("transitionend", () => {
            if (preloader) {
                preloader.style.display = "none"; // Hide instead of removing
            }
        });
    });

    document.getElementById('tipologia_habitacion').addEventListener('change', function () {
        console.log('Cambia!')
        const numeroPersonasSelect = document.getElementById('numero-personas');
        const maxOccupancy = selectedOption.getAttribute('data-pax');
        numeroPersonasSelect.innerHTML = '<option value="" selected disabled>Selecciona el número de personas --</option>';
        for (let i = 2; i < maxOccupancy; i++) {
            const option = document.createElement('option');
            option.value = i;
            option.textContent = i;
            numeroPersonasSelect.appendChild(option);
        }

    });


</script>