{{#if reservation}}
<div class="container bg-light my-font">

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            {{#each chalet.images}}
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{@index}}" class="{{#if @first}}active{{/if}}">
            </li>
            {{/each}}
        </ol>
        <div class="carousel-inner">
            {{#each chalet.images}}
            <div class="carousel-item {{#if @first}}active{{/if}}">
                <div class="d-block w-100" style="background-color: black; background-image: url('https://navarro.integradev.site/navarro/{{this}}'); background-repeat: no-repeat; background-size: cover; background-position: center; height: 60vh;"></div>
            </div>
            {{/each}}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>


    <h1 class="mt-3 mb-3 d-flex justify-content-center text-dark fs-1 text-center">{{chalet.propertyDetails.name}}</h1>

    <div class="row text-dark">
        <div class="col-md-6 col-xl-6 col-xs-12 col-sm-12">
            <div class="row d-flex justify-content-center">
                <div class="col-2 ">
                    <img src="https://panel.hotelgest.com/files/media/male_profile_sm.jpg" id="profile-pic-alone"
                        class="rounded-pill" style="width: 70px;">
                </div>
                <div class="col-6 ps-0">
                    <h4 class="detailsRoom" style="margin-bottom: 5px;">{{chalet.propertyDetails.propertyDetails}}
                    </h4>
                    <p class="bold text-uppercase">
                        {{fullname}}
                        <br>
                        (#8926527)
                    </p>
                    <hr>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-8 ">
                    <div class="text-center">
                        <p style="max-width: 500px; word-wrap: break-word;" class="fs-5">{{chalet.accomodationDescription}}</p>
                        <button type="button" class="btn btn-lg btn-outline-dark mb-2 mt-2">
                            {{#if chalet.files}}
                            <a href="https://navarro.integradev.site/navarro/{{chalet.files}}"
                                style="text-decoration: none;">Ver instrucciones de llegada</a>
                            {{else}}
                            <a href="#">Ver instrucciones de llegada</a>
                            {{/if}}
                        </button>
                        <div class="some-div-1">
                            <div class="some-div-2">
                                <add-to-calendar-button name="My Event" startDate="2022-04-15" endDate="2022-04-17"
                                    options="['Google', 
                                            'Apple', 
                                            'Outlook.com', 
                                            'Microsoft365', 
                                            'MicrosoftTeams',
                                            'Outlook.com', 
                                            'Yahoo', 
                                            'iCal']">
                                </add-to-calendar-button>
                            </div>
                        </div>
                        {{!-- <div id="map"></div> --}}
                        <iframe src="https://www.google.com/maps?q={{chalet.location.latitude}},{{chalet.location.longitude}}&z=16&output=embed" width="600"
                            height="450" style="border:0;" allowfullscreen="" loading="lazy">
                        </iframe>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-6 col-xl-6 col-xs-12 col-sm-12">
            <div class="row">
                <div class="col-6 text-center">
                    <div class="col-xs-6 no-padding-left">
                        <h4>Llegada</h4>
                        <p class="font-bold"> <i class="fa fa-sign-in" aria-hidden="true"></i> <b
                                id="arrivalDate">{{reservation.arrivalDate}}</b> </p>
                    </div>
                    <div class="col-xs-6 no-padding-left">
                        <h4>Salida</h4>
                        <p class="font-bold"> <i class="fa fa-sign-out" aria-hidden="true"></i> <b
                                id="departureDate">{{reservation.departureDate}}</b> </p>
                    </div>
                    <div class="col-xs-6 no-padding-left">
                        <h4>Origen</h4>
                        <p class="font-bold"><b>Recepción</b> </p>
                    </div>
                </div>
                <div class="col-6 text-center">
                    <div class="col-xs-6 no-padding-left">
                        <h4> Noches</h4>
                        <p class="font-bold"> <i class="fa fa-moon" aria-hidden="true"></i>
                            <b>{{reservation.nNights}}</b>
                        </p>
                    </div>
                    <div class="col-xs-6 no-padding-left">
                        <h4> Recibida</h4>
                        <p class="font-bold"> <b id="reservationDate">{{reservation.reservationDate}}</b></p>
                    </div>
                </div>

                <div id="weather" class="text-center mb-3"></div>

                <div class="card-details m-3" style="background-color: #faf1d2; height: auto; width: 80%;">
                    <div class="row">
                        <div class="col-6">
                            <a href="#" id="comentarios-btn" class="fw-bold" style="text-decoration: none !important;">
                                <p style="color: black; text-decoration: none !important;">COMENTARIOS</p>
                            </a>
                        </div>

                    </div>
                    {{#if reservation.notes}}
                    {{#each reservation.notes}}
                    <div class="nota-container" style="display: block;">
                        <p class="text-black fs-6">{{this.texto}}</p>
                        <button class="btn btn-eliminar btn-sm" style="display: none;"
                            onclick="eliminarNota('{{this._id}}')"><i class="fa fa-trash"
                                aria-hidden="true"></i></button>
                    </div>
                    {{/each}}
                    {{else}}
                    <div class="nota-container" style="display: block;">
                        <p class="text-black fs-6">No se han agregado notas para esta reserva</p>
                    </div>
                    {{/if}}
                </div>

                {{#if reservation.madeCheckIn}}
                <div class="row d-flex justify-content-center align-items-center" style="height: 100px;">
                    <div class="col-12 text-center">
                        <span
                            class="btn btn-success"
                            >Check In Realizado</span
                        >
                        
                    </div>
                </div>
                {{else}}
                <div class="row d-flex justify-content-center align-items-center" style="height: 100px;">
                    <div class="col-12 text-center">
                        <a class="btn btn-info btn-lg " href="#" role="button" id="checkin-btn" data-reservationid="{{reservation._id}}">Realizar Check In</a>
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
    </div>



    <div class="form-item">
        <p id="txtSubmitReservationError" name="errMsg" class="error"></p>
    </div>
</div>

<!-- prettier-ignore -->
<script>(g => { var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window; b = b[c] || (b[c] = {}); var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams, u = () => h || (h = new Promise(async (f, n) => { await (a = m.createElement("script")); e.set("libraries", [...r] + ""); for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]); e.set("callback", c + ".maps." + q); a.src = `https://maps.${c}apis.com/maps/api/js?` + e; d[q] = f; a.onerror = () => h = n(Error(p + " could not load.")); a.nonce = m.querySelector("script[nonce]")?.nonce || ""; m.head.append(a) })); d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)) })
        ({ key: "AIzaSyCDcOvg6Ufu7WnKBU8A09g_XPcX976N23I", v: "beta" });</script>

<!-- Terms and conditions modal -->
<div class="modal" id="mdlTerms" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content update-info">
            <div class="modal-header">
                <h2 class="modal-title">Términos y condiciones</h2>
            </div>
            <div class="modal-body">
                <div class="form-item">
                    <p>{{chalet.legalNotice}}</p>
                </div>
                <div class="form-item">
                    <div class="signature">
                        <div class="canvas">
                            <button id="btnClrCanvas" class="delete-signature"><span
                                    class="material-symbols-outlined">delete</span></button>
                            <canvas id="signatureCanvas"></canvas>
                            <label for="signatureCanvas">Ingrese su firma</label>
                        </div>
                    </div>
                </div>
                <div class="form-item">
                    <div class="checkbox-option">
                        <input type="checkbox" id="chckAcceptTerms" name="chckAcceptTerms">
                        <label for="chckAcceptTerms">He léido y aceptado los términos y condiciones</label>
                    </div>
                </div>
                <div class="form-item">
                    <p id="txtTermsError" class="error"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-save" id="btnAccept"> Acepto</button>
            </div>
        </div>
    </div>
</div>
{{else}}
<h1>Mega error</h1>
{{/if}}

<script>
    function formatDate(date) {
        const options = {
            weekday: 'short',
            year: 'numeric',
            month: 'short',
            day: 'numeric',
            hour: '2-digit',
            minute: '2-digit',
            second: '2-digit',
            hour12: false,
        };
        return new Date(date).toLocaleDateString('en-US', options).replace(',', '');
    }

    document.addEventListener("DOMContentLoaded", () => {
        // Formating dates.
        const departureDate = document.getElementById('departureDate');
        const arrivalDate = document.getElementById('arrivalDate');
        const reservationDate = document.getElementById('reservationDate');
        departureDate.textContent = formatDate(departureDate.textContent);
        arrivalDate.textContent = formatDate(arrivalDate.textContent);
        reservationDate.textContent = formatDate(reservationDate.textContent);

        // Llamar a la API de OpenWeatherMap
        const apiKey = '26d8231cf1380644673deb5e34aad872'; // Reemplaza 'TU_CLAVE_DE_API' con tu clave de API de OpenWeatherMap
        const city = 'Mazamitla'; // Reemplaza 'NOMBRE_DE_LA_CIUDAD' con el nombre de la ciudad que desees
        const url = `https://api.openweathermap.org/data/2.5/weather?q=${city}&appid=${apiKey}&units=metric`;
        console.log(url);

        // Realizar solicitud a la API
        fetch(url)
            .then(response => response.json())
            .then(data => {
                const weatherDiv = document.getElementById('weather');
                const temperature = data.main.temp;
                const description = data.weather[0].description;
                const cityName = data.name;
                const country = data.sys.country;
                const weatherIcon = data.weather[0].icon;

                // Mapeo de los códigos de iconos de OpenWeatherMap a emoji
                const iconMappings = {
                    "01d": "☀️",
                    "01n": "🌙",
                    "02d": "🌤️",
                    "02n": "🌤️",
                    "03d": "☁️",
                    "03n": "☁️",
                    "04d": "☁️",
                    "04n": "☁️",
                    "09d": "🌧️",
                    "09n": "🌧️",
                    "10d": "🌦️",
                    "10n": "🌦️",
                    "11d": "⛈️",
                    "11n": "⛈️",
                    "13d": "❄️",
                    "13n": "❄️",
                    "50d": "🌫️",
                    "50n": "🌫️"
                };

                const weatherIconEmoji = iconMappings[weatherIcon] || "❓";

                // Generación del contenido HTML con iconos emoji
                weatherDiv.innerHTML = `
                <div style="background-image: linear-gradient(to bottom, #4f81bc, #283e51); padding: 20px; border-radius: 10px;">
                    <h2 style="color: white;" class="fs-4">Temperatura actual en ${cityName}, ${country}</h2>
                    <p style="color: white;"><strong>Temperature:</strong> ${temperature}°C ${weatherIconEmoji}</p>
                    <p style="color: white;"><strong>Description:</strong> ${description}</p>
                </div>
            `;
            })
            .catch(error => console.error('Error fetching weather data:', error));

        // Verify if terms and conditions were already accepted by the user.
        var modal = document.getElementById('mdlTerms');
        fetch(window.location.pathname + "/are-terms-accepted", {
            method: "GET",
            headers: {
                // Once logged in, the authorization token stored inthe session cookies will automatically be added in each HTTP request.
                'Content-Type': 'application/json'
            }
        })
            .then(response => {
                if (!response.ok) {
                    const error = response.statusText;
                    txtTermsError.innerHTML = "Error en la solicitud 1: " + error.toLowerCase() + ".";
                    throw new Error('Error en la solicitud 1: ' + error);
                }
                return response.json();
            })
            .then(data => {
                console.log('Respuesta del servidor 1:', data);
                if (data.termsAccepted) {
                    modal.style.display = "none";
                }
                else {
                    // If they have not been accepted, show them to the user. 
                    modal.style.display = "block";
                    var acceptBtn = document.getElementById("btnAccept");
                    var checkbox = document.getElementById("chckAcceptTerms");
                    var txtTermsError = document.getElementById("txtTermsError")
                    var acceptTerms = false;

                    // Canvas
                    const canvas = document.getElementById('signatureCanvas');
                    var btnClrCanvas = document.getElementById("btnClrCanvas");
                    var btnSaveCanvas = document.getElementById("btnSaveCanvas");
                    var signatureImage;
                    const ctx = canvas.getContext('2d');
                    let isDrawing = false;
                    let lastX = 0;
                    let lastY = 0;

                    canvas.addEventListener('mousedown', (e) => {
                        isDrawing = true;
                        [lastX, lastY] = [e.offsetX, e.offsetY];
                    });

                    canvas.addEventListener('mousemove', (e) => {
                        if (!isDrawing) return;
                        ctx.beginPath();
                        ctx.moveTo(lastX, lastY);
                        ctx.lineTo(e.offsetX, e.offsetY);
                        ctx.stroke();
                        [lastX, lastY] = [e.offsetX, e.offsetY];
                    });

                    canvas.addEventListener('mouseup', () => {
                        isDrawing = false;
                    });

                    btnClrCanvas.addEventListener("click", () => {
                        ctx.clearRect(0, 0, canvas.width, canvas.height);
                    });

                    // Validate if user entered their signaure and accepted the terms and conditions
                    checkbox.checked = false;
                    acceptBtn.addEventListener("click", () => {
                        if (ctx.getImageData(0, 0, canvas.width, canvas.height).data.some(channel => channel !== 0)) {
                            if (!checkbox.checked) {
                                txtTermsError.innerHTML = "Debes aceptar los términos y condiciones";
                            } else {
                                signatureImage = canvas.toDataURL();
                                console.log(signatureImage);
                                console.log(chckAcceptTerms.checked);
                                acceptTerms = true;

                                fetch(window.location.pathname + "/accept-terms", {
                                    method: "POST",
                                    headers: {
                                        // Once logged in, the authorization token stored inthe session cookies will automatically be added in each HTTP request.
                                        'Content-Type': 'application/json'
                                    },
                                    body: JSON.stringify({
                                        termsAccepted: chckAcceptTerms.checked
                                    })
                                })
                                    .then(response => {
                                        if (!response.ok) {
                                            const error = response.statusText;
                                            txtTermsError.innerHTML = "Error en la solicitud 2: " + error.toLowerCase() + ".";
                                            throw new Error('Error en la solicitud 2: ' + error);
                                        }
                                        return response.json();
                                    })
                                    .then(data => {
                                        console.log('Respuesta del servidor 2:', data);
                                        modal.style.display = "none";
                                    })
                                    .catch(error => {
                                        console.error('Error al enviar la solicitud 2:', error);
                                    });
                            }
                        } else {
                            txtTermsError.innerHTML = "Debes ingresar tu firma";
                        }
                    });
                }
            })
            .catch(error => {
                console.error('Error al enviar la solicitud 1:', error);
            });
    })

    jQuery(document).ready(function($) {
        
        const checkInBtn = $('#checkin-btn');
        checkInBtn.click(async function(e) {
            e.preventDefault();
            const reservationId = $(this).attr('data-reservationid');
            console.log(reservationId)
            await $.ajax({
                type: "POST",
                data: {idReserva: reservationId},
                dataType: "json",
                url: `/api/eventos/realizarcheckin?id=${reservationId}`,
                success: function(response) {
                    console.log(response);
                    Swal.fire({
                        title: 'Check-in realizado!',
                        icon:'success',
                        confirmButtonText: 'Cerrar'
                    })
                    
                },
                error: function(xhr, status, error) {
                    console.log(xhr.responseText);
                    Swal.fire({
                        title: 'Error al realizar el check-in',
                        text: xhr.responseText,
                        icon: 'error',
                        confirmButtonText: 'Cerrar'
                    })
                }
            })

        })
    });

        



</script>