<h1>Tabla Rack Limpieza</h1>
{{#if services.length}}
<div class="row" style="width: 95%;">
    <div class="col-10">
        <table class="table table-dark table-hover" id="tablaRacklimpieza">
            <thead class="table-light">
                <tr>
                    <th scope="col">Habitación</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Estatus</th>
                </tr>
            </thead>
            <tbody>
                {{#each services}}
                <tr>
                    <td>{{this.nombreHabitacion}}</td>
                    <td>{{this.descripcion}}</td>
                    <td>{{this.fecha}}</td>
                    <td>{{this.status}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
{{else}}
<p>No se encontraron servicios</p>
{{/if}}



{{!-- Modals --}}



<script>
    document.addEventListener("DOMContentLoaded", function () {
        var table = document.getElementById("tablaRacklimpieza");
        if (table) {
            var dataTable = new DataTable(table, {
                "order": [], // Puedes especificar aquí el orden inicial de las columnas
                "paging": true, // Habilita la paginación
                "lengthMenu": [5, 10, 25, 50], // Define el menú de longitud de página
                "pageLength": 10 // Establece la longitud de página inicial
            });
        }
    });


</script>