<h1>Tabla Rack Limpieza</h1>
<div class="row" style="width: 95%;">
    <div class="col-10">
        <table class="table table-dark table-hover" id="tablaRacklimpieza">
            <thead class="table-light">
                <tr>
                    <th scope="col">Habitación</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Estatus</th>
                </tr>
            </thead>
            <tbody>
                {{#if services}}
                {{#each services}}
                <tr>
                    <td>{{lookup this 'id_reserva'}}</td>
                    <td>{{lookup this 'descripcion'}}</td>
                    <td>{{lookup this 'fecha'}}</td>
                    <td>{{lookup this 'status'}}</td>
                </tr>
                {{/each}}
                {{else}}
                <tr>
                    <td colspan="4">No se encontraron servicios</td>
                </tr>
                {{/if}}
            </tbody>
        </table>

    </div>
</div>


{{!-- Modals --}}



<script>
    document.addEventListener("DOMContentLoaded", function () {
        var table = document.getElementById("tablaRacklimpieza");
        if (table) {
            var dataTable = new DataTable(table, {
                "order": [], // Puedes especificar aquí el orden inicial de las columnas
                "paging": true, // Habilita la paginación
                "lengthMenu": [5, 10, 25, 50], // Define el menú de longitud de página
                "pageLength": 10 // Establece la longitud de página inicial
            });
        }
    });


</script>