<div class="calendar-header">
    <div class="bg-dark mb-3">
        <a name="" id="crear-reserva-btn" class="btn btn-secondary btn-sm m-3" href="#" role="button"
            data-bs-toggle="modal" data-bs-target="#event_entry_modal">Crear reserva de dueño</a>
    </div>
</div>

<div class="row flex-nowrap justify-content-center mt-3 " style="width: 100%;">
    <div class="col-10">
        <h1>Reservas</h1>
        <table class="table table-dark table-hover text-center" id="tablaParaDuenos">
            <thead class="table-light">
                <tr>
                    <th scope="col">Cabaña</th>
                    <th scope="col">Fecha de llegada</th>
                    <th scope="col">Fecha de salida</th>
                    <th scope="col">Monto pendiente</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {{#if eventos.length}}
                {{#each eventos}}
                <tr>
                    <td>{{this.roomName}}</td>
                    <td>{{this.arrivalDate}}</td>
                    <td>{{this.departureDate}}</td>
                    <td>{{this.total}}</td>
                    <td class="text-center">
                        <button type="button" class="btn btn-info btn-sm" data-bs-toggle="modal"
                            data-bs-target="#editarRackLimpiezaModal" data-service-id="{{this._id}}"
                            onclick="mostrarInfoServicio('{{this._id}}')">Liquidar Reserva
                    </td>

                </tr>
                {{/each}}
                {{else}}
                <td colspan="5">No se encontraron servicios</td>
                {{/if}}
            </tbody>
        </table>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        var table = document.getElementById("tablaParaDuenos");
        if (table) {
            var dataTable = new DataTable(table, {
                "order": [], // Puedes especificar aquí el orden inicial de las columnas
                "paging": true, // Habilita la paginación
                "lengthMenu": [5, 10, 25, 50], // Define el menú de longitud de página
                "pageLength": 10 // Establece la longitud de página inicial
            });
        }
    });

    function mostrarInfoServicio(id) {
        console.log(id)
    }


</script>