<div class="loader loader--hidden"></div>
<div class="pre-loader"></div>
<form id="frmEditAccomodation" action="">
    <div class="page-info">
        <h1>Agregar cabaña</h1>
        {{!-- <button id="btnCreateChalet" type="submit">Guardar</button> --}}
        <button type="button" class="btn btn-info mr-1" data-bs-toggle="modal" data-bs-target="#replicate-chalet-modal">
            Replicar info de cabaña
        </button>
        <button type="submit" class="btn btn-primary btn-save-info" id="btnCreateChalet">
            <span class="spinner-grow spinner-grow-sm d-none" role="status" aria-hidden="true"></span>
            <span class="spinner-text">Guardar</span>

        </button>
    </div>

    <button type="button" class="toggle-collpase-section-button" data-toggle="collapse" data-target="#propertyDetails">+
        Detalles de la propiedad</button>
    <div id="propertyDetails" class="chalet-details collapse">
        <div class="input-group half">
            <label for="slctchaletAccomodationType">Tipo de alojamiento</label>
            <select id="slctchaletAccomodationType" name="slctchaletAccomodationType">
                {{#if tipologias}}
                {{#each tipologias}}
                <option value="{{tipologia}}">{{tipologia}}</option>
                {{/each}}
                {{else}}
                <option value="">No hay tipos de alojamiento disponibles, necesitas agregar uno.</option>
                {{/if}}
            </select>
        </div>
        <div class="input-group half">
            <label for="txtChaletName">Nombre</label>
            <input id="txtChaletName" name="txtChaletName" type="text">
        </div>
        <div class="input-group half inline-input-group">
            <label for="txtChaletPhoneNumber">Teléfono establecimiento</label>
            <input id="txtChaletPhoneNumber" name="txtChaletPhoneNumber" type="tel">
        </div>
        <div class="input-group half">
            <label for="txtChaletEmail">Email</label>
            <input id="txtChaletEmail" name="txtChaletEmail" type="email">
        </div>
        <div class="input-group half">
            <label for="txtChaletWebsite">Sitio web</label>
            <input id="txtChaletWebsite" name="txtChaletWebsite" type="email">
        </div>
        <div class="input-group third">
            <label for="txtChaletMinPpl">Ocupación mínima</label>
            <input id="txtChaletMinPpl" name="txtChaletMinPpl" type="number">
        </div>
        <div class="input-group third">
            <label for="txtChaletMaxPpl">Ocupación máxima</label>
            <input id="txtChaletMaxPpl" name="txtChaletMaxPpl" type="number">
        </div>
    </div>

    <button type="button" class="toggle-collpase-section-button" data-toggle="collapse"
        data-target="#accomodationFeautres">+ Características del alojamiento</button>
    <div id="accomodationFeautres" class="chalet-details collapse">
        <fieldset class="inline-input-group">
            <legend>Generales</legend>
            <hr>
            <div class="option-group">
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxSatelliteChannels" name="chkboxSatelliteChannels"
                        value="Canales vía satélite">
                    <label for="chkboxSatelliteChannels">Canales vía satélite</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxDisabledAdapted" name="chkboxDisabledAdapted"
                        value="Adaptado para discapacitados">
                    <label for="chkboxDisabledAdapted">Adaptado para discapacitados</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxIron" name="chkboxIron" value="Plancha">
                    <label for="chkboxIron">Plancha</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxPetsAllowed" name="chkboxPetsAllowed" value="Admite animales">
                    <label for="chkboxPetsAllowed">Admite animales</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxAllergicFriendlyRooms" name="chkboxAllergicFriendlyRooms"
                        value="Habitaciones aptas para alérgicos">
                    <label for="chkboxAllergicFriendlyRooms">Habitaciones aptas para alérgicos</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxSolarium" name="chkboxSolarium" value="Solárium">
                    <label for="chkboxSolarium">Solárium</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxMosquitoNet" name="chkboxMosquitoNet" value="Mosquitera">
                    <label for="chkboxMosquitoNet">Mosquitera</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxMainBedroomAirConditioning" name="chkboxMainBedroomAirConditioning"
                        value="Aire acondicionado en habitaciones principales">
                    <label for="chkboxMainBedroomAirConditioning">Aire acondicionado en habitaciones principales</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxConnectedRooms" name="chkboxConnectedRooms"
                        value="Habitaciones comunicadas">
                    <label for="chkboxConnectedRooms">Habitaciones comunicadas</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxAirConditioningAllAccommodation"
                        name="chkboxAirConditioningAllAccommodation" value="Aire acondicionado en todo el alojamiento">
                    <label for="chkboxAirConditioningAllAccommodation">Aire acondicionado en todo el alojamiento</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxTileMarbleFloor" name="chkboxTileMarbleFloor"
                        value="Suelo de baldosa/mármol">
                    <label for="chkboxTileMarbleFloor">Suelo de baldosa/mármol</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxFireplace" name="chkboxFireplace" value="Chimenea">
                    <label for="chkboxFireplace">Chimenea</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxClothesIron" name="chkboxClothesIron" value="Plancha para ropa">
                    <label for="chkboxClothesIron">Plancha para ropa</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxWoodParquetFloor" name="chkboxWoodParquetFloor"
                        value="Suelo de madera/parqué">
                    <label for="chkboxWoodParquetFloor">Suelo de madera/parqué</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxNoSmokingEntireProperty" name="chkboxNoSmokingEntireProperty"
                        value="Prohibido fumar en todo el recinto">
                    <label for="chkboxNoSmokingEntireProperty">Prohibido fumar en todo el recinto</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxWardrobe" name="chkboxWardrobe" value="Armario">
                    <label for="chkboxWardrobe">Armario</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxCarpetFloor" name="chkboxCarpetFloor" value="Suelo de moqueta">
                    <label for="chkboxCarpetFloor">Suelo de moqueta</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxExpressCheckInOut" name="chkboxExpressCheckInOut"
                        value="Registro de entrada y salida exprés">
                    <label for="chkboxExpressCheckInOut">Registro de entrada y salida exprés</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxSoundproofing" name="chkboxSoundproofing" value="Insonorización">
                    <label for="chkboxSoundproofing">Insonorización</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxTelephone" name="chkboxTelephone" value="Teléfono">
                    <label for="chkboxTelephone">Teléfono</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxTerrace" name="chkboxTerrace" value="Terraza">
                    <label for="chkboxTerrace">Terraza</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxBalcony" name="chkboxBalcony" value="Balcón">
                    <label for="chkboxBalcony">Balcón</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxBuffetBreakfast" name="chkboxBuffetBreakfast"
                        value="Desayuno bufé">
                    <label for="chkboxBuffetBreakfast">Desayuno bufé</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxSafe" name="chkboxSafe" value="Caja fuerte">
                    <label for="chkboxSafe">Caja fuerte</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxWifi" name="chkboxWifi" value="Wifi">
                    <label for="chkboxWifi">Wifi</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxRoomServiceBreakfast" name="chkboxRoomServiceBreakfast"
                        value="Desayuno en la habitación">
                    <label for="chkboxRoomServiceBreakfast">Desayuno en la habitación</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxHeating" name="chkboxHeating" value="Calefacción">
                    <label for="chkboxHeating">Calefacción</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxExtraLongBeds" name="chkboxExtraLongBeds"
                        value="Camas extra largas (más de 2 metros)">
                    <label for="chkboxExtraLongBeds">Camas extra largas (más de 2 metros)</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxRoomService" name="chkboxRoomService"
                        value="Servicio de habitaciones">
                    <label for="chkboxRoomService">Servicio de habitaciones</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxFan" name="chkboxFan" value="Ventilador">
                    <label for="chkboxFan">Ventilador</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxDressingRoom" name="chkboxDressingRoom" value="Vestidor">
                    <label for="chkboxDressingRoom">Vestidor</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxSmokingAllowed" name="chkboxSmokingAllowed" value="Fumadores">
                    <label for="chkboxSmokingAllowed">Fumadores</label>
                </div>
            </div>
        </fieldset>
        <fieldset class="inline-input-group">
            <legend>Vistas</legend>
            <hr>
            <div class="option-group">
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxCityViews" name="chkboxCityViews" value="Vistas a la ciudad">
                    <label for="chkboxCityViews">Vistas a la ciudad</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxMountainViews" name="chkboxMountainViews"
                        value="Vistas a la montaña">
                    <label for="chkboxMountainViews">Vistas a la montaña</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxPoolViews" name="chkboxPoolViews" value="Vistas a la piscina">
                    <label for="chkboxPoolViews">Vistas a la piscina</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxLandmarkViews" name="chkboxLandmarkViews"
                        value="Vistas a un lugar de interés">
                    <label for="chkboxLandmarkViews">Vistas a un lugar de interés</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxGardenViews" name="chkboxGardenViews" value="Vistas al jardín">
                    <label for="chkboxGardenViews">Vistas al jardín</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxLakeViews" name="chkboxLakeViews" value="Vistas al lago">
                    <label for="chkboxLakeViews">Vistas al lago</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxSeaViews" name="chkboxSeaViews" value="Vistas al mar">
                    <label for="chkboxSeaViews">Vistas al mar</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxCourtyardViews" name="chkboxCourtyardViews"
                        value="Vistas al Patio">
                    <label for="chkboxCourtyardViews">Vistas al Patio</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxRiverViews" name="chkboxRiverViews" value="Vistas al río">
                    <label for="chkboxRiverViews">Vistas al río</label>
                </div>
            </div>
        </fieldset>
        <fieldset class="inline-input-group">
            <legend>Actividades</legend>
            <hr>
            <div class="option-group">
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxTurkishBath" name="chkboxTurkishBath" value="Baño turco">
                    <label for="chkboxTurkishBath">Baño turco</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxGym" name="chkboxGym" value="Gimnasio">
                    <label for="chkboxGym">Gimnasio</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxThermalBaths" name="chkboxThermalBaths" value="Baños termales">
                    <label for="chkboxThermalBaths">Baños termales</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxMiniGolf" name="chkboxMiniGolf" value="Minigolf">
                    <label for="chkboxMiniGolf">Minigolf</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxCanoeing" name="chkboxCanoeing" value="Canoa">
                    <label for="chkboxCanoeing">Canoa</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxSpa" name="chkboxSpa" value="Spa-Balneario">
                    <label for="chkboxSpa">Spa-Balneario</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxCasino" name="chkboxCasino" value="Casino">
                    <label for="chkboxCasino">Casino</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxLibrary" name="chkboxLibrary" value="Biblioteca">
                    <label for="chkboxLibrary">Biblioteca</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxEquestrianCenter" name="chkboxEquestrianCenter" value="Hípica">
                    <label for="chkboxEquestrianCenter">Hípica</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxCycling" name="chkboxCycling" value="Ciclismo">
                    <label for="chkboxCycling">Ciclismo</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxBilliards" name="chkboxBilliards" value="Billar">
                    <label for="chkboxBilliards">Billar</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxBowling" name="chkboxBowling" value="Bolera">
                    <label for="chkboxBowling">Bolera</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxGameRoom" name="chkboxGameRoom" value="Sala de juegos">
                    <label for="chkboxGameRoom">Sala de juegos</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxBBQFacilities" name="chkboxBBQFacilities"
                        value="Instalaciones para barbacoa">
                    <label for="chkboxBBQFacilities">Instalaciones para barbacoa</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxDiving" name="chkboxDiving" value="Buceo">
                    <label for="chkboxDiving">Buceo</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxFishing" name="chkboxFishing" value="Pesca">
                    <label for="chkboxFishing">Pesca</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxJacuzzi" name="chkboxJacuzzi" value="Jacuzzi">
                    <label for="chkboxJacuzzi">Jacuzzi</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxHeatedPool" name="chkboxHeatedPool" value="Piscina climatizada">
                    <label for="chkboxHeatedPool">Piscina climatizada</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxSauna" name="chkboxSauna" value="Sauna">
                    <label for="chkboxSauna">Sauna</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxKaraoke" name="chkboxKaraoke" value="Karaoke">
                    <label for="chkboxKaraoke">Karaoke</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxIndoorPool" name="chkboxIndoorPool" value="Piscina cubierta">
                    <label for="chkboxIndoorPool">Piscina cubierta</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxOutdoorPool" name="chkboxOutdoorPool" value="Piscina exterior">
                    <label for="chkboxOutdoorPool">Piscina exterior</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxIndoorPool" name="chkboxIndoorPool" value="Piscina interior">
                    <label for="chkboxIndoorPool">Piscina interior</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxSnorkeling" name="chkboxSnorkeling" value="Snorkel">
                    <label for="chkboxSnorkeling">Snorkel</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxPrivatePool" name="chkboxPrivatePool" value="Piscina privada">
                    <label for="chkboxPrivatePool">Piscina privada</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxChildrensPlayground" name="chkboxChildrensPlayground"
                        value="Zona de juegos infantil">
                    <label for="chkboxChildrensPlayground">Zona de juegos infantil</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxHiking" name="chkboxHiking" value="Senderismo">
                    <label for="chkboxHiking">Senderismo</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxMasseuse" name="chkboxMasseuse" value="Masajista">
                    <label for="chkboxMasseuse">Masajista</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxGolfCourseNearby" name="chkboxGolfCourseNearby"
                        value="Campo de golf (a menos de 3 km)">
                    <label for="chkboxGolfCourseNearby">Campo de golf (a menos de 3 km)</label>
                </div>
            </div>
        </fieldset>
        <fieldset class="inline-input-group">
            <legend>Parking</legend>
            <hr>
            <div class="option-group">
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxPaidParking" name="chkboxPaidParking" value="Parking de pago">
                    <label for="chkboxPaidParking">Parking de pago</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxPublicParking" name="chkboxPublicParking" value="Parking público">
                    <label for="chkboxPublicParking">Parking público</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxFreeParking" name="chkboxFreeParking" value="Parking gratis">
                    <label for="chkboxFreeParking">Parking gratis</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxPrivateParking" name="chkboxPrivateParking"
                        value="Parking privado">
                    <label for="chkboxPrivateParking">Parking privado</label>
                </div>
            </div>
        </fieldset>
        <fieldset class="inline-input-group">
            <legend>Características del baño</legend>
            <hr>
            <div class="option-group">
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxBathrobe" name="chkboxBathrobe" value="Albornoz">
                    <label for="chkboxBathrobe">Albornoz</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxBidet" name="chkboxBidet" value="Bidé">
                    <label for="chkboxBidet">Bidé</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxFreeToiletries" name="chkboxFreeToiletries"
                        value="Artículos de aseo gratuitos">
                    <label for="chkboxFreeToiletries">Artículos de aseo gratuitos</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxAdditionalToilet" name="chkboxAdditionalToilet"
                        value="Aseo adicional">
                    <label for="chkboxAdditionalToilet">Aseo adicional</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxSharedToilet" name="chkboxSharedToilet" value="Aseo compartido">
                    <label for="chkboxSharedToilet">Aseo compartido</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxSauna" name="chkboxSauna" value="Sauna">
                    <label for="chkboxSauna">Sauna</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxBathtub" name="chkboxBathtub" value="Bañera">
                    <label for="chkboxBathtub">Bañera</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxHairdryer" name="chkboxHairdryer" value="Secador de pelo">
                    <label for="chkboxHairdryer">Secador de pelo</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxJacuzzi" name="chkboxJacuzzi" value="Bañera de hidromasaje">
                    <label for="chkboxJacuzzi">Bañera de hidromasaje</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxShower" name="chkboxShower" value="Ducha">
                    <label for="chkboxShower">Ducha</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxAdditionalBathroom" name="chkboxAdditionalBathroom"
                        value="Baño adicional">
                    <label for="chkboxAdditionalBathroom">Baño adicional</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxSlippers" name="chkboxSlippers" value="Zapatillas">
                    <label for="chkboxSlippers">Zapatillas</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxSharedBathroom" name="chkboxSharedBathroom"
                        value="Baño compartido">
                    <label for="chkboxSharedBathroom">Baño compartido</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxDesignerBathroom" name="chkboxDesignerBathroom"
                        value="Baño de diseño">
                    <label for="chkboxDesignerBathroom">Baño de diseño</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxPrivateBathroom" name="chkboxPrivateBathroom" value="Baño privado">
                    <label for="chkboxPrivateBathroom">Baño privado</label>
                </div>
            </div>
        </fieldset>
        <fieldset class="inline-input-group">
            <legend>Cocina</legend>
            <hr>
            <div class="option-group">
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxMinibar" name="chkboxMinibar" value="Minibar">
                    <label for="chkboxMinibar">Minibar</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxBarbecue" name="chkboxBarbecue" value="Barbacoa">
                    <label for="chkboxBarbecue">Barbacoa</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxBlender" name="chkboxBlender" value="Batidora">
                    <label for="chkboxBlender">Batidora</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxRefrigerator" name="chkboxRefrigerator" value="Nevera">
                    <label for="chkboxRefrigerator">Nevera</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxElectricKettle" name="chkboxElectricKettle"
                        value="Hervidor eléctrico">
                    <label for="chkboxElectricKettle">Hervidor eléctrico</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxOven" name="chkboxOven" value="Horno">
                    <label for="chkboxOven">Horno</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxStove" name="chkboxStove" value="Cocina con Fogones">
                    <label for="chkboxStove">Cocina con Fogones</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxCeramicCooktop" name="chkboxCeramicCooktop"
                        value="Cocina con Vitrocerámica">
                    <label for="chkboxCeramicCooktop">Cocina con Vitrocerámica</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxTeapot" name="chkboxTeapot" value="Tetera">
                    <label for="chkboxTeapot">Tetera</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxCoffeeMaker" name="chkboxCoffeeMaker" value="Cafetera">
                    <label for="chkboxCoffeeMaker">Cafetera</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxToaster" name="chkboxToaster" value="Tostadora">
                    <label for="chkboxToaster">Tostadora</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxWashingMachine" name="chkboxWashingMachine" value="Lavadora">
                    <label for="chkboxWashingMachine">Lavadora</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxDryer" name="chkboxDryer" value="Secadora">
                    <label for="chkboxDryer">Secadora</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxDishwasher" name="chkboxDishwasher" value="Lavavajillas">
                    <label for="chkboxDishwasher">Lavavajillas</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxCookingUtensils" name="chkboxCookingUtensils"
                        value="Utensilios de cocina">
                    <label for="chkboxCookingUtensils">Utensilios de cocina</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxKitchenArea" name="chkboxKitchenArea" value="Zona de cocina">
                    <label for="chkboxKitchenArea">Zona de cocina</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxDiningArea" name="chkboxDiningArea" value="Zona de comedor">
                    <label for="chkboxDiningArea">Zona de comedor</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxFridge" name="chkboxFridge" value="Frigorífico">
                    <label for="chkboxFridge">Frigorífico</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxMicrowave" name="chkboxMicrowave" value="Microondas">
                    <label for="chkboxMicrowave">Microondas</label>
                </div>
            </div>
        </fieldset>
        <fieldset class="inline-input-group">
            <legend>Deporte</legend>
            <hr>
            <div class="option-group">
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxPaddleCourt" name="chkboxPaddleCourt" value="Pista de pádel">
                    <label for="chkboxPaddleCourt">Pista de pádel</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxGym" name="chkboxGym" value="Gimnasio">
                    <label for="chkboxGym">Gimnasio</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxBasketballCourt" name="chkboxBasketballCourt"
                        value="Cancha de baloncesto">
                    <label for="chkboxBasketballCourt">Cancha de baloncesto</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxDarts" name="chkboxDarts" value="Dardos">
                    <label for="chkboxDarts">Dardos</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxWindsurf" name="chkboxWindsurf" value="Windsurf">
                    <label for="chkboxWindsurf">Windsurf</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxSkiSchool" name="chkboxSkiSchool" value="Escuela de esquí">
                    <label for="chkboxSkiSchool">Escuela de esquí</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxFootballField" name="chkboxFootballField" value="Campo de fútbol">
                    <label for="chkboxFootballField">Campo de fútbol</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxSkiing" name="chkboxSkiing" value="Esquí">
                    <label for="chkboxSkiing">Esquí</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxPingPongTable" name="chkboxPingPongTable"
                        value="Mesa de ping pong">
                    <label for="chkboxPingPongTable">Mesa de ping pong</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxSquashCourt" name="chkboxSquashCourt" value="Pista de squash">
                    <label for="chkboxSquashCourt">Pista de squash</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxFutsalField" name="chkboxFutsalField" value="Campo fútbol sala">
                    <label for="chkboxFutsalField">Campo fútbol sala</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxTennisCourt" name="chkboxTennisCourt" value="Pista de tenis">
                    <label for="chkboxTennisCourt">Pista de tenis</label>
                </div>
            </div>
        </fieldset>
        <fieldset class="inline-input-group">
            <legend>Salón</legend>
            <hr>
            <div class="option-group">
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxDoubleSofaBed" name="chkboxDoubleSofaBed" value="Sofá cama doble">
                    <label for="chkboxDoubleSofaBed">Sofá cama doble</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxSingleSofaBed" name="chkboxSingleSofaBed"
                        value="Sofá cama individual">
                    <label for="chkboxSingleSofaBed">Sofá cama individual</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxTV" name="chkboxTV" value="TV">
                    <label for="chkboxTV">TV</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxSatelliteTV" name="chkboxSatelliteTV" value="TV satélite">
                    <label for="chkboxSatelliteTV">TV satélite</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxSnackBar" name="chkboxSnackBar" value="Snack-bar">
                    <label for="chkboxSnackBar">Snack-bar</label>
                </div>
            </div>
        </fieldset>
    </div>

    <button type="button" class="toggle-collpase-section-button" data-toggle="collapse" data-target="#additionalInfo">+
        Información adicional</button>
    <div id="additionalInfo" class="chalet-details collapse">
        <div class="input-group half">
            <label for="txtBeds">Camas</label>
            <input id="txtBeds" name="txtBeds" type="number">
        </div>
        <div class="input-group half">
            <label for="txtRestrooms">Baños</label>
            <input id="txtRestrooms" name="txtRestrooms" type="number">
        </div>
        <div class="input-group half">
            <label for="bedroomSize">Tamaño de la habitación en m2</label>
            <input id="bedroomSize" name="bedroomSize" type="number">
        </div>
        <div class="input-group half">
            <label for="txtExtraCost">Coste por reserva por limpiar esta unidad</label>
            <input id="txtExtraCost" name="txtExtraCost" type="number">
        </div>
    </div>

    <button type="button" class="toggle-collpase-section-button" data-toggle="collapse"
        data-target="#accomodationDetails">+ Descripción del alojamiento</button>
    <div id="accomodationDetails" class="chalet-details collapse">
        <div class="input-group">
            <textarea id="txtAccomodationDetails" name="txtAccomodationDetails" rows="10"
                placeholder="Porporciona una descripción para el alojamiento."></textarea>
        </div>
    </div>

    <button type="button" class="toggle-collpase-section-button" data-toggle="collapse"
        data-target="#additionalDetails">+ Descripción adicional del alojamiento</button>
    <div id="additionalDetails" class="chalet-details collapse">
        <div class="input-group">
            <textarea id="txtAdditionalDetails" name="txtAdditionalDetails" rows="10"
                placeholder="Porporciona una descripción adicional para el alojamiento."></textarea>
        </div>
    </div>

    <button type="button" class="toggle-collpase-section-button" data-toggle="collapse" data-target="#legalNote">+
        Terminos y condiciones</button>
    <div id="legalNote" class="chalet-details collapse">
        <div class="input-group">
            <textarea id="txtLegalNote" name="txtLegalNote" rows="10" placeholder="Agrgega una nota legal"></textarea>
        </div>
    </div>

    <button type="button" class="toggle-collpase-section-button" data-toggle="collapse" data-target="#location">+
        Ubicación</button>
    <div id="location" class="chalet-details collapse">
        <div class="input-group third">
            <label for="txtState">Provincia / estado</label>
            <input id="txtState" name="txtState" type="text">
        </div>
        <div class="input-group third">
            <label for="txtPopulation">Población</label>
            <input id="txtPopulation" name="txtPopulation" type="text">
        </div>
        <div class="input-group third">
            <label for="txtAddressNumber">Número</label>
            <input id="txtAddressNumber" name="txtAddressNumber" type="number">
        </div>
        <div class="input-group third">
            <label for="txtPostalCode">Código postal</label>
            <input id="txtPostalCode" name="txtPostalCode" type="number">
        </div>
        <div class="input-group third">
            <label for="txtLat">Latitud</label>
            <input id="txtLat" name="txtLat" type="number">
        </div>
        <div class="input-group third">
            <label for="txtLong">Longitud</label>
            <input id="txtLong" name="txtLong" type="number">
        </div>
        <div class="input-group">
            <iframe id="map"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30009.200046370872!2d-103.04062641019756!3d19.91808261265727!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842f08c29d6bb1fb%3A0xb0e0d639aa12c005!2s49500%20Mazamitla%2C%20Jal.!5e0!3m2!1ses-419!2smx!4v1711321362791!5m2!1ses-419!2smx"
                width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>

    <button type="button" class="toggle-collpase-section-button" data-toggle="collapse" data-target="#other-data">+
        Otros</button>
    <div id="other-data" class="chalet-details collapse">
        <div class="input-group third">
            <label for="txtBasePrice">Precio base</label>
            <input id="txtBasePrice" name="txtBasePrice" type="number">
        </div>
        <div class="input-group third">
            <label for="txtBasePrice2Nights">Precio base por 2 noches</label>
            <input id="txtBasePrice2Nights" name="txtBasePrice2Nights" type="number">
        </div>
        <div class="input-group third">
            <label for="txtBaseCost">Costo base</label>
            <input id="txtBaseCost" name="txtBaseCost" type="number">
        </div>
        <div class="input-group third">
            <label for="txtBaseCost2Nights">Costo base por dos noches</label>
            <input id="txtBaseCost2Nights" name="txtBaseCost2Nights" type="number">
        </div>
        <div class="input-group third">
            <label for="txtArrivalTime">Hora de llegada</label>
            <input id="txtArrivalTime" name="txtArrivalTime" type="time">
        </div>
        <div class="input-group third">
            <label for="txtDepartureTime">Hora de salida</label>
            <input id="txtDepartureTime" name="txtDepartureTime" type="time">
        </div>
        <div class="input-group third">
            <div class="mb-3">

                <label for="txtState">Administrador asociado</label>
                <select id="slctAdmin" name="slctAdmin" class="form-select form-select-md">
                    <option selected="true" disabled="true"> Selecciona un administrador para la cabaña --</option>
                    {{#if admins}}
                    {{#each admins}}
                    <option data-admin-id="{{this._id}}" value="{{this.email}}">{{this.firstName}} {{this.lastName}}
                    </option>
                    {{/each}}
                    {{else}}
                    <option value="0">No se encontraron administradores</option>
                    {{/if}}
                </select>
            </div>
        </div>
        <div class="input-group third">
            <div class="mb-3">

                <label for="slctJanitor">Personal de limpieza asociado</label>
                <select id="slctJanitor" name="slctJanitor" class="form-select form-select-md">
                    <option selected="true" disabled="true"> Selecciona el personal de limpieza para la cabaña --
                    </option>
                    {{#if janitors}}
                    {{#each janitors}}
                    <option data-janitor-id="{{this._id}}" value="{{this.email}}">{{this.firstName}} {{this.lastName}}
                    </option>
                    {{/each}}
                    {{else}}
                    <option value="0">No se encontraró el personal de limpieza</option>
                    {{/if}}
                </select>
            </div>
        </div>
        <div class="input-group third">
            <div class="mb-3">
                <label for="chalet-owner" class="form-label">Dueño de cabaña: </label>
                <select class="form-select form-select-md w-100" name="chalet-owner" id="chalet-owner-select">
                    <option selected disabled>Selecciona el dueño de la cabaña --</option>
                    {{#if owners}}
                    {{#each owners}}
                    <option value="{{this._id}}">{{this.firstName}} {{this.lastName}}</option>
                    {{/each}}
                    {{else}}
                    <option value="0">No se encontraron dueños de cabañas</option>
                    {{/if}}
                </select>
            </div>

        </div>
    </div>

    <button type="button" class="toggle-collpase-section-button" data-toggle="collapse" data-target="#photos">+
        Fotografías</button>
    <div id="photos" class="chalet-details collapse">
        <div class="input-group">
            <div id="photoCarousel" class="photo-carousel"></div>
            <div class="custom-file-upload">
                <label for="file-upload">
                    <input id="file-upload" type="file" multiple>
                    Subir archivo
                </label>

            </div>
        </div>
    </div>

    <button type="button" class="toggle-collpase-section-button" data-toggle="collapse" data-target="#files">+
        Subir instrucciones de llegada</button>
    <div id="files" class="chalet-details collapse">
        <div class="input-group">
            <div id="fileCarousel" class="file-carousel"></div>
            <div class="custom-pdf-upload">
                <label for="pdf-upload">
                    <input id="pdf-upload" type="file" name="file" accept="application/pdf">
                    Subir archivo PDF
                </label>
                <span id="file-name-display">Ningun archivo seleccionado</span>
            </div>
        </div>
    </div>



    <div class="form-item">
        <p id="txtCreateChaletError" name="errMsg" class="error"></p>
    </div>
</form>


<div class="modal fade" id="replicate-chalet-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Replicar información de cabaña existente</h5>
                <button type="button" class="close" onclick="$('#replicate-chalet-modal').modal('hide');"
                    aria-label="Close">
                    &times;
            </div>
            <div class="modal-body">
                <div class="img-container">
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label for="slctFormSelector" class="form-label">Habitación: </label>
                                <select class="form-select form-select-md" id="select-replicate-chalet"
                                    name="slctFormSelector">
                                    <option value="0" selected disabled> Selecciona una cabaña para replicar su
                                        información --</option>
                                    {{#if chalets}}
                                    {{#each chalets}}
                                    <option value="{{id}}">{{name}}</option>
                                    {{/each}}
                                    {{else}}
                                    <option value="-1">No se encontraron cabañas</option>
                                    {{/if}}
                                </select>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="replicate-info-btn">Replicar</button>
            </div>
        </div>
    </div>
</div>


<!-- Optional: Place to the bottom of scripts -->
<script>
    const myModal = new bootstrap.Modal(
        document.getElementById("modalId"),
        options,
    );
</script>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Upload chalet images.
        const fileUpload = document.getElementById('file-upload');
        const pdfUpload = document.getElementById('pdf-upload');
        const photoCarousel = document.getElementById('photoCarousel');
        const fileCarousel = document.getElementById('fileCarousel');
        const formData = new FormData();
        const pdfData = new FormData();
        let indexadvance = 0


        fileUpload.addEventListener('change', function (event) {
            const files = event.target.files;

            for (let i = 0; i < files.length; i++) {
                const file = files[i];
                const imageURL = URL.createObjectURL(file);
                const photoDiv = document.createElement('div');
                photoDiv.classList.add('photo');
                const img = document.createElement('img');
                img.src = imageURL;

                const deleteButton = document.createElement('button');
                deleteButton.classList.add('delete-photo');
                deleteButton.innerHTML = '<span class="material-symbols-outlined">delete</span>';
                deleteButton.addEventListener('click', function () {
                    formData.delete('images', file);
                    photoDiv.remove();
                });

                photoDiv.appendChild(deleteButton);
                photoDiv.appendChild(img);
                photoCarousel.appendChild(photoDiv);

                formData.append('images', file);
                console.log(formData)
            }
        });
        pdfUpload.addEventListener('change', function () {
            var file = this.files[0];
            if (!file) {
                return;
            }
            pdfarrayDB = []
            document.getElementById('file-name-display').innerText = file.name;

            console.log(formData)
        });




        // Saving new chalet.
        var btnCreateChalet = document.getElementById("btnCreateChalet")
        if (btnCreateChalet) {
            btnCreateChalet.addEventListener("click", async (event) => {
                event.preventDefault();

                // Creating JSON for text data.
                const arrivalTime1 = document.getElementById("txtArrivalTime").value.trim();
                const departureTime1 = document.getElementById("txtDepartureTime").value.trim();
                const arrivalTimeMinutes = parseInt(arrivalTime1.split(':')[1]);
                const arrivalTimeHours = parseInt(arrivalTime1.split(':')[0]);
                const departureTimeMinutes = parseInt(arrivalTime1.split(':')[1]);
                const departureTimeHours = parseInt(departureTime1.split(':')[0]);
                const data = {
                    propertyDetails: {
                        accomodationType: document.getElementById("slctchaletAccomodationType").value.trim(),
                        name: document.getElementById("txtChaletName").value.trim(),
                        phoneNumber: document.getElementById("txtChaletPhoneNumber").value.trim(),
                        email: document.getElementById("txtChaletEmail").value.trim(),
                        website: document.getElementById("txtChaletWebsite").value.trim(),
                        minOccupancy: document.getElementById("txtChaletMinPpl").value.trim(),
                        maxOccupancy: document.getElementById("txtChaletMaxPpl").value.trim()
                    },
                    accommodationFeatures: {
                        generalFeatures: {
                            satelliteTV: document.getElementById("chkboxSatelliteChannels").checked,
                            disabledAccessible: document.getElementById("chkboxDisabledAdapted").checked,
                            iron: document.getElementById("chkboxIron").checked,
                            petsAllowed: document.getElementById("chkboxPetsAllowed").checked,
                            allergyFriendlyRooms: document.getElementById("chkboxAllergicFriendlyRooms").checked,
                            solarium: document.getElementById("chkboxSolarium").checked,
                            mosquitoNet: document.getElementById("chkboxMosquitoNet").checked,
                            airConditioningInMainRooms: document.getElementById("chkboxMainBedroomAirConditioning").checked,
                            connectingRooms: document.getElementById("chkboxConnectedRooms").checked,
                            airConditioningThroughoutProperty: document.getElementById("chkboxAirConditioningAllAccommodation").checked,
                            tiledFloorOrMarble: document.getElementById("chkboxTileMarbleFloor").checked,
                            fireplace: document.getElementById("chkboxFireplace").checked,
                            ironingFacilities: document.getElementById("chkboxClothesIron").checked,
                            hardwoodOrParquetFloors: document.getElementById("chkboxWoodParquetFloor").checked,
                            noSmokingAllowed: document.getElementById("chkboxNoSmokingEntireProperty").checked,
                            wardrobe: document.getElementById("chkboxWardrobe").checked,
                            carpetedFloor: document.getElementById("chkboxCarpetFloor").checked,
                            expressCheckInCheckOut: document.getElementById("chkboxExpressCheckInOut").checked,
                            soundproofing: document.getElementById("chkboxSoundproofing").checked,
                            telephone: document.getElementById("chkboxTelephone").checked,
                            terrace: document.getElementById("chkboxTerrace").checked,
                            balcony: document.getElementById("chkboxBalcony").checked,
                            buffetBreakfast: document.getElementById("chkboxBuffetBreakfast").checked,
                            safeDepositBox: document.getElementById("chkboxSafe").checked,
                            wifi: document.getElementById("chkboxWifi").checked,
                            breakfastInRoom: document.getElementById("chkboxRoomServiceBreakfast").checked,
                            heating: document.getElementById("chkboxHeating").checked,
                            extraLongBeds: document.getElementById("chkboxExtraLongBeds").checked,
                            roomService: document.getElementById("chkboxRoomService").checked,
                            fan: document.getElementById("chkboxFan").checked,
                            dressingRoom: document.getElementById("chkboxDressingRoom").checked,
                            smokers: document.getElementById("chkboxSmokingAllowed").checked
                        },
                        views: {
                            cityView: document.getElementById("chkboxCityViews").checked,
                            mountainView: document.getElementById("chkboxMountainViews").checked,
                            poolView: document.getElementById("chkboxPoolViews").checked,
                            landmarkView: document.getElementById("chkboxLandmarkViews").checked,
                            gardenView: document.getElementById("chkboxGardenViews").checked,
                            lakeView: document.getElementById("chkboxLakeViews").checked,
                            seaView: document.getElementById("chkboxSeaViews").checked,
                            patioView: document.getElementById("chkboxCourtyardViews").checked,
                            riverView: document.getElementById("chkboxRiverViews").checked
                        },
                        activities: {
                            turkishBath: document.getElementById("chkboxTurkishBath").checked,
                            gym: document.getElementById("chkboxGym").checked,
                            thermalBaths: document.getElementById("chkboxThermalBaths").checked,
                            minigolf: document.getElementById("chkboxMiniGolf").checked,
                            canoeing: document.getElementById("chkboxCanoeing").checked,
                            spa: document.getElementById("chkboxSpa").checked,
                            casino: document.getElementById("chkboxCasino").checked,
                            library: document.getElementById("chkboxLibrary").checked,
                            horseRiding: document.getElementById("chkboxEquestrianCenter").checked,
                            cycling: document.getElementById("chkboxCycling").checked,
                            billiards: document.getElementById("chkboxBilliards").checked,
                            bowling: document.getElementById("chkboxBowling").checked,
                            gameRoom: document.getElementById("chkboxGameRoom").checked,
                            barbecueFacilities: document.getElementById("chkboxBBQFacilities").checked,
                            diving: document.getElementById("chkboxDiving").checked,
                            fishing: document.getElementById("chkboxFishing").checked,
                            jacuzzi: document.getElementById("chkboxJacuzzi").checked,
                            heatedPool: document.getElementById("chkboxHeatedPool").checked,
                            sauna: document.getElementById("chkboxSauna").checked,
                            karaoke: document.getElementById("chkboxKaraoke").checked,
                            indoorPool: document.getElementById("chkboxIndoorPool").checked,
                            outdoorPool: document.getElementById("chkboxOutdoorPool").checked,
                            snorkeling: document.getElementById("chkboxSnorkeling").checked,
                            privatePool: document.getElementById("chkboxPrivatePool").checked,
                            childrensPlayground: document.getElementById("chkboxChildrensPlayground").checked,
                            hiking: document.getElementById("chkboxHiking").checked,
                            masseuse: document.getElementById("chkboxMasseuse").checked,
                            golfCourse: document.getElementById("chkboxGolfCourseNearby").checked,
                        },
                        parking: {
                            paidParking: document.getElementById("chkboxPaidParking").checked,
                            publicParking: document.getElementById("chkboxPublicParking").checked,
                            freeParking: document.getElementById("chkboxFreeParking").checked,
                            privateParking: document.getElementById("chkboxPrivateParking").checked
                        },
                        restroomFeatures: {
                            bathrobe: document.getElementById("chkboxBathrobe").checked,
                            bidet: document.getElementById("chkboxBidet").checked,
                            freeToiletries: document.getElementById("chkboxFreeToiletries").checked,
                            additionalToilet: document.getElementById("chkboxAdditionalToilet").checked,
                            sharedToilet: document.getElementById("chkboxSharedToilet").checked,
                            sauna: document.getElementById("chkboxSauna").checked,
                            bathtub: document.getElementById("chkboxBathtub").checked,
                            hairdryer: document.getElementById("chkboxHairdryer").checked,
                            jacuzzi: document.getElementById("chkboxJacuzzi").checked,
                            shower: document.getElementById("chkboxShower").checked,
                            additionalBathroom: document.getElementById("chkboxAdditionalBathroom").checked,
                            slippers: document.getElementById("chkboxSlippers").checked,
                            sharedBathroom: document.getElementById("chkboxSharedBathroom").checked,
                            designerBathroom: document.getElementById("chkboxDesignerBathroom").checked,
                            privateBathroom: document.getElementById("chkboxPrivateBathroom").checked
                        },
                        kitchen: {
                            minibar: document.getElementById("chkboxMinibar").checked,
                            barbecue: document.getElementById("chkboxBarbecue").checked,
                            blender: document.getElementById("chkboxBlender").checked,
                            refrigerator: document.getElementById("chkboxRefrigerator").checked,
                            electricKettle: document.getElementById("chkboxElectricKettle").checked,
                            oven: document.getElementById("chkboxOven").checked,
                            stove: document.getElementById("chkboxStove").checked,
                            ceramicCooktop: document.getElementById("chkboxCeramicCooktop").checked,
                            teapot: document.getElementById("chkboxTeapot").checked,
                            coffeeMaker: document.getElementById("chkboxCoffeeMaker").checked,
                            toaster: document.getElementById("chkboxToaster").checked,
                            washingMachine: document.getElementById("chkboxWashingMachine").checked,
                            dryer: document.getElementById("chkboxDryer").checked,
                            dishwasher: document.getElementById("chkboxDishwasher").checked,
                            cookingUtensils: document.getElementById("chkboxCookingUtensils").checked,
                            kitchenArea: document.getElementById("chkboxKitchenArea").checked,
                            diningArea: document.getElementById("chkboxDiningArea").checked,
                            fridge: document.getElementById("chkboxFridge").checked,
                            microwave: document.getElementById("chkboxMicrowave").checked
                        },
                        sport: {
                            paddleTennis: document.getElementById("chkboxPaddleCourt").checked,
                            gym: document.getElementById("chkboxGym").checked,
                            basketballCourt: document.getElementById("chkboxBasketballCourt").checked,
                            darts: document.getElementById("chkboxDarts").checked,
                            windsurfing: document.getElementById("chkboxWindsurf").checked,
                            skiSchool: document.getElementById("chkboxSkiSchool").checked,
                            footballField: document.getElementById("chkboxFootballField").checked,
                            skiing: document.getElementById("chkboxSkiing").checked,
                            pingPong: document.getElementById("chkboxPingPongTable").checked,
                            squash: document.getElementById("chkboxSquashCourt").checked,
                            indoorFootballCourt: document.getElementById("chkboxFutsalField").checked,
                            tennisCourt: document.getElementById("chkboxTennisCourt").checked,
                        },
                        livingRoom: {
                            doubleSofaBed: document.getElementById("chkboxDoubleSofaBed").checked,
                            individualSofaBed: document.getElementById("chkboxSingleSofaBed").checked,
                            tv: document.getElementById("chkboxTV").checked,
                            satelliteTV: document.getElementById("chkboxSatelliteTV").checked,
                            snackBar: document.getElementById("chkboxSnackBar").checked
                        }
                    },
                    additionalInfo: {
                        nBeds: document.getElementById("txtBeds").value.trim(),
                        nRestrooms: document.getElementById("txtRestrooms").value.trim(),
                        bedroomSize: document.getElementById("bedroomSize").value.trim(),
                        extraCleaningCost: document.getElementById("txtExtraCost").value.trim(),
                    },
                    accomodationDescription: document.getElementById("txtAccomodationDetails").value.trim(),
                    additionalAccomodationDescription: document.getElementById("txtAdditionalDetails").value.trim(),
                    legalNotice: document.getElementById("txtLegalNote").value.trim(),
                    location: {
                        state: document.getElementById("txtState").value.trim(),
                        population: document.getElementById("txtPopulation").value.trim(),
                        addressNumber: document.getElementById("txtAddressNumber").value.trim(),
                        postalCode: document.getElementById("txtPostalCode").value.trim(),
                        latitude: document.getElementById("txtLat").value.trim(),
                        longitude: document.getElementById("txtLong").value.trim(),
                        iFrame: document.getElementById("map").src.trim(),
                    },
                    others: {
                        basePrice: document.getElementById("txtBasePrice").value.trim(),
                        basePrice2nights: document.getElementById("txtBasePrice2Nights").value.trim(),
                        baseCost: document.getElementById("txtBaseCost").value.trim(),
                        baseCost2nights: document.getElementById("txtBaseCost2Nights").value.trim(),
                        arrivalTimeMinutes: arrivalTimeMinutes,
                        arrivalTimeHours: arrivalTimeHours,
                        departureTimeMinutes: departureTimeMinutes,
                        departureTimeHours: departureTimeHours,
                        admin: document.getElementById("slctAdmin").value.trim(),
                        janitor: document.getElementById("slctJanitor").value.trim(),
                        owner: document.getElementById("chalet-owner-select").value.trim()
                    },
                    images: imagesarrayDB,
                    files: pdfarrayDB
                };
                try {
                    const spinner = document.querySelector('.loader');
                    spinner.classList.remove('loader--hidden');

                    document.getElementById('btnCreateChalet').disabled = true; // Habilitar el botón
                    console.log(pdfarrayDB)
                    var fileInput = document.getElementById('pdf-upload');
                    var pdfFile = fileInput.files[0];
                    console.log(Object.keys(formData).length)
                    if (isFormDataEmpty(formData) && imagesarrayDB.length == 0) {
                        throw new Error('Sube imágenes para la cabaña.');
                    }
                    if (!pdfFile && pdfarrayDB.length == 0) {
                        throw new Error('No se ha seleccionado un archivo PDF.');
                    }
                    fetch('/api/cabanas/crear-cabana', {
                        method: 'POST',
                        headers: {
                            // Once logged in, the authorization token stored inthe session cookies will automatically be added in each HTTP request.
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                    })
                        .then(response => {
                            if (!response.ok) {
                                return response.json().then(errorData => {
                                    const errorMessages = errorData.error.map(err => err.message).join(', ');
                                    throw new Error(errorMessages || 'Error occurred while creating the chalet');                            });
                            }
                            return response.json();
                        })
                        .then(async data => {
                            console.log('Respuesta del servidor:', data);

                            const response = await fetch('/api/cabanas/subir-imagenes-cabana', {
                                method: 'POST',
                                body: formData
                            });
                            if (response.ok) {
                                console.log('Ok cabaña creada');
                            } else {
                                const errorResponse = await response.json();

                                throw new Error('Error al subir imagenes: ' + errorResponse.error);
                                window.location.href = "/";
                            }
                        }).then(async data2 => {

                            pdfData.append('file', pdfFile);

                            const response = await fetch('/api/cabanas/subir-pdf-cabana', {
                                method: 'POST',
                                body: pdfData
                            });
                            if (response.ok) {
                                console.log(response);
                            } else {
                                const respuesta = response.json()
                                throw new Error(respuesta.error);

                            }
                        }).then((result) => {
                            Swal.fire({
                                icon: 'success',
                                title: 'Cabaña creada correctamente!',
                                text: 'Fue añadida con éxito.',
                                confirmButtonText: 'Aceptar'
                            }).then(() => {
                                window.location.href = "/";
                            })
                        })
                        .catch(error => {
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: 'Error al enviar la solicitud: ' + error + '.',
                                confirmButtonText: 'Aceptar'
                            })
                        });
                } catch (error) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Error al enviar la solicitud: ' + error + '.',
                        confirmButtonText: 'Aceptar'
                    })
                } finally {
                    spinner.classList.add('loader--hidden');

                }
            })
        }

        const replicateChaletBtn = document.querySelector('#replicate-info-btn')
        const selectChaletToReplicate = document.querySelector('#select-replicate-chalet')

        replicateChaletBtn.addEventListener('click', async function (e) {
            e.preventDefault();
            const spinner = document.querySelector('.loader');
            const chaletId = selectChaletToReplicate.value
            try {
                spinner.classList.remove('loader--hidden');
                const response = await fetch(`/api/habitaciones/${chaletId}`, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });
                if (!response.ok) {
                    throw new Error('Error al obtener la cabaña.');
                }
                const data = await response.json();
                console.log(data);


                let dataArrivalTime = data.others.arrivalTime;
                let arrivalDate = new Date(dataArrivalTime)
                let ahours = arrivalDate.getHours();
                let aminutes = arrivalDate.getMinutes();

                let dataDepartureTime = data.others.departureTime;
                let departureDate = new Date(dataDepartureTime)
                let dhours = departureDate.getHours();
                let dminutes = departureDate.getMinutes();

                let arrivalTimePart = `${ahours.toString().padStart(2, '0')}:${aminutes.toString().padStart(2, '0')}`;
                let departureTimePart = `${dhours.toString().padStart(2, '0')}:${dminutes.toString().padStart(2, '0')}`;


                // Property Details 
                document.getElementById("slctchaletAccomodationType").value = data.propertyDetails.accomodationType
                document.getElementById("txtChaletName").value = data.propertyDetails.name
                document.getElementById("txtChaletPhoneNumber").value = data.propertyDetails.phoneNumber
                document.getElementById("txtChaletEmail").value = data.propertyDetails.email
                document.getElementById("txtChaletWebsite").value = data.propertyDetails.website
                document.getElementById("txtChaletMinPpl").value = data.propertyDetails.minOccupancy
                document.getElementById("txtChaletMaxPpl").value = data.propertyDetails.maxOccupancy

                // accommodationFeatures: {
                // generalFeatures: {
                const accomodationFeatures = data.accommodationFeatures

                document.getElementById("chkboxDisabledAdapted").checked = accomodationFeatures.generalFeatures.disabledAccessible
                document.getElementById("chkboxSatelliteChannels").checked = accomodationFeatures.generalFeatures.satelliteTV
                document.getElementById("chkboxIron").checked = accomodationFeatures.generalFeatures.iron
                document.getElementById("chkboxPetsAllowed").checked = accomodationFeatures.generalFeatures.petsAllowed
                document.getElementById("chkboxAllergicFriendlyRooms").checked = accomodationFeatures.generalFeatures.allergyFriendlyRooms
                document.getElementById("chkboxSolarium").checked = accomodationFeatures.generalFeatures.solarium
                document.getElementById("chkboxMosquitoNet").checked = accomodationFeatures.generalFeatures.mosquitoNet
                document.getElementById("chkboxMainBedroomAirConditioning").checked = accomodationFeatures.generalFeatures.airConditioningInMainRooms
                document.getElementById("chkboxConnectedRooms").checked = accomodationFeatures.generalFeatures.connectingRooms
                document.getElementById("chkboxAirConditioningAllAccommodation").checked = accomodationFeatures.generalFeatures.airConditioningThroughoutProperty
                document.getElementById("chkboxTileMarbleFloor").checked = accomodationFeatures.generalFeatures.tiledFloorOrMarble
                document.getElementById("chkboxFireplace").checked = accomodationFeatures.generalFeatures.fireplace
                document.getElementById("chkboxClothesIron").checked = accomodationFeatures.generalFeatures.ironingFacilities
                document.getElementById("chkboxWoodParquetFloor").checked = accomodationFeatures.generalFeatures.hardwoodOrParquetFloors
                document.getElementById("chkboxNoSmokingEntireProperty").checked = accomodationFeatures.generalFeatures.noSmokingAllowed
                document.getElementById("chkboxWardrobe").checked = accomodationFeatures.generalFeatures.wardrobe
                document.getElementById("chkboxCarpetFloor").checked = accomodationFeatures.generalFeatures.carpetedFloor
                document.getElementById("chkboxExpressCheckInOut").checked = accomodationFeatures.generalFeatures.expressCheckInCheckOut
                document.getElementById("chkboxSoundproofing").checked = accomodationFeatures.generalFeatures.soundproofing
                document.getElementById("chkboxTelephone").checked = accomodationFeatures.generalFeatures.telephone
                document.getElementById("chkboxTerrace").checked = accomodationFeatures.generalFeatures.terrace
                document.getElementById("chkboxBalcony").checked = accomodationFeatures.generalFeatures.balcony
                document.getElementById("chkboxBuffetBreakfast").checked = accomodationFeatures.generalFeatures.buffetBreakfast
                document.getElementById("chkboxSafe").checked = accomodationFeatures.generalFeatures.safeDepositBox
                document.getElementById("chkboxWifi").checked = accomodationFeatures.generalFeatures.wifi
                document.getElementById("chkboxRoomServiceBreakfast").checked = accomodationFeatures.generalFeatures.breakfastInRoom
                document.getElementById("chkboxHeating").checked = accomodationFeatures.generalFeatures.heating
                document.getElementById("chkboxExtraLongBeds").checked = accomodationFeatures.generalFeatures.extraLongBeds
                document.getElementById("chkboxRoomService").checked = accomodationFeatures.generalFeatures.roomService
                document.getElementById("chkboxFan").checked = accomodationFeatures.generalFeatures.fan
                document.getElementById("chkboxDressingRoom").checked = accomodationFeatures.generalFeatures.dressingRoom
                document.getElementById("chkboxSmokingAllowed").checked = accomodationFeatures.generalFeatures.smokers

                // views
                document.getElementById("chkboxCityViews").checked = accomodationFeatures.views.cityView,
                    document.getElementById("chkboxMountainViews").checked = accomodationFeatures.views.mountainView
                document.getElementById("chkboxPoolViews").checked = accomodationFeatures.views.poolView
                document.getElementById("chkboxLandmarkViews").checked = accomodationFeatures.views.landmarkView
                document.getElementById("chkboxGardenViews").checked = accomodationFeatures.views.gardenView
                document.getElementById("chkboxLakeViews").checked = accomodationFeatures.views.lakeView
                document.getElementById("chkboxSeaViews").checked = accomodationFeatures.views.seaView
                document.getElementById("chkboxCourtyardViews").checked = accomodationFeatures.views.patioView
                document.getElementById("chkboxRiverViews").checked = accomodationFeatures.views.riverView

                // activities
                document.getElementById("chkboxTurkishBath").checked = accomodationFeatures.activities.turkishBath
                document.getElementById("chkboxGym").checked = accomodationFeatures.activities.gym
                document.getElementById("chkboxThermalBaths").checked = accomodationFeatures.activities.thermalBaths
                document.getElementById("chkboxMiniGolf").checked = accomodationFeatures.activities.minigolf
                document.getElementById("chkboxCanoeing").checked = accomodationFeatures.activities.canoeing
                document.getElementById("chkboxSpa").checked = accomodationFeatures.activities.spa
                document.getElementById("chkboxCasino").checked = accomodationFeatures.activities.casino
                document.getElementById("chkboxLibrary").checked = accomodationFeatures.activities.library
                document.getElementById("chkboxEquestrianCenter").checked = accomodationFeatures.activities.horseRiding
                document.getElementById("chkboxCycling").checked = accomodationFeatures.activities.cycling
                document.getElementById("chkboxBilliards").checked = accomodationFeatures.activities.billiards
                document.getElementById("chkboxBowling").checked = accomodationFeatures.activities.bowling
                document.getElementById("chkboxGameRoom").checked = accomodationFeatures.activities.gameRoom
                document.getElementById("chkboxBBQFacilities").checked = accomodationFeatures.activities.barbecueFacilities
                document.getElementById("chkboxDiving").checked = accomodationFeatures.activities.diving
                document.getElementById("chkboxFishing").checked = accomodationFeatures.activities.fishing
                document.getElementById("chkboxJacuzzi").checked = accomodationFeatures.activities.jacuzzi
                document.getElementById("chkboxHeatedPool").checked = accomodationFeatures.activities.heatedPool
                document.getElementById("chkboxSauna").checked = accomodationFeatures.activities.sauna
                document.getElementById("chkboxKaraoke").checked = accomodationFeatures.activities.karaoke
                document.getElementById("chkboxIndoorPool").checked = accomodationFeatures.activities.indoorPool
                document.getElementById("chkboxOutdoorPool").checked = accomodationFeatures.activities.outdoorPool
                document.getElementById("chkboxSnorkeling").checked = accomodationFeatures.activities.snorkeling
                document.getElementById("chkboxPrivatePool").checked = accomodationFeatures.activities.privatePool
                document.getElementById("chkboxChildrensPlayground").checked = accomodationFeatures.activities.childrensPlayground
                document.getElementById("chkboxHiking").checked = accomodationFeatures.activities.hiking
                document.getElementById("chkboxMasseuse").checked = accomodationFeatures.activities.masseuse
                document.getElementById("chkboxGolfCourseNearby").checked = accomodationFeatures.activities.golfCourse

                //parking: {
                document.getElementById("chkboxPaidParking").checked = accomodationFeatures.parking.paidParking
                document.getElementById("chkboxPublicParking").checked = accomodationFeatures.parking.publicParking
                document.getElementById("chkboxFreeParking").checked = accomodationFeatures.freeParking
                document.getElementById("chkboxPrivateParking").checked = accomodationFeatures.parking.privateParking

                //restroomFeatures: {
                document.getElementById("chkboxBathrobe").checked = accomodationFeatures.restroomFeatures.bathrobe
                document.getElementById("chkboxBidet").checked = accomodationFeatures.restroomFeatures.bidet
                document.getElementById("chkboxFreeToiletries").checked = accomodationFeatures.restroomFeatures.freeToiletries
                document.getElementById("chkboxAdditionalToilet").checked = accomodationFeatures.restroomFeatures.additionalToilet
                document.getElementById("chkboxSharedToilet").checked = accomodationFeatures.restroomFeatures.sharedToilet
                document.getElementById("chkboxSauna").checked = accomodationFeatures.restroomFeatures.sauna
                document.getElementById("chkboxBathtub").checked = accomodationFeatures.restroomFeatures.bathtub
                document.getElementById("chkboxHairdryer").checked = accomodationFeatures.restroomFeatures.hairdryer
                document.getElementById("chkboxJacuzzi").checked = accomodationFeatures.restroomFeatures.jacuzzi
                document.getElementById("chkboxShower").checked = accomodationFeatures.restroomFeatures.shower
                document.getElementById("chkboxAdditionalBathroom").checked = accomodationFeatures.restroomFeatures.additionalBathroom
                document.getElementById("chkboxSlippers").checked = accomodationFeatures.restroomFeatures.slippers
                document.getElementById("chkboxSharedBathroom").checked = accomodationFeatures.restroomFeatures.sharedBathroom
                document.getElementById("chkboxDesignerBathroom").checked = accomodationFeatures.restroomFeatures.designerBathroom
                document.getElementById("chkboxPrivateBathroom").checked = accomodationFeatures.restroomFeatures.privateBathroom

                // kitchen: {
                document.getElementById("chkboxMinibar").checked = accomodationFeatures.kitchen.minibar
                document.getElementById("chkboxBarbecue").checked = accomodationFeatures.kitchen.barbecue
                document.getElementById("chkboxBlender").checked = accomodationFeatures.kitchen.blender
                document.getElementById("chkboxRefrigerator").checked = accomodationFeatures.kitchen.refrigerator
                document.getElementById("chkboxElectricKettle").checked = accomodationFeatures.kitchen.electricKettle
                document.getElementById("chkboxOven").checked = accomodationFeatures.kitchen.oven
                document.getElementById("chkboxStove").checked = accomodationFeatures.kitchen.stove
                document.getElementById("chkboxCeramicCooktop").checked = accomodationFeatures.kitchen.ceramicCooktop
                document.getElementById("chkboxTeapot").checked = accomodationFeatures.kitchen.teapot
                document.getElementById("chkboxCoffeeMaker").checked = accomodationFeatures.kitchen.coffeeMaker
                document.getElementById("chkboxToaster").checked = accomodationFeatures.kitchen.toaster
                document.getElementById("chkboxWashingMachine").checked = accomodationFeatures.kitchen.washingMachine
                document.getElementById("chkboxDryer").checked = accomodationFeatures.kitchen.dryer
                document.getElementById("chkboxDishwasher").checked = accomodationFeatures.kitchen.dishwasher
                document.getElementById("chkboxCookingUtensils").checked = accomodationFeatures.kitchen.cookingUtensils
                document.getElementById("chkboxKitchenArea").checked = accomodationFeatures.kitchen.kitchenArea
                document.getElementById("chkboxDiningArea").checked = accomodationFeatures.kitchen.diningArea
                document.getElementById("chkboxFridge").checked = accomodationFeatures.kitchen.fridge
                document.getElementById("chkboxMicrowave").checked = accomodationFeatures.kitchen.microwave

                //sport: {
                document.getElementById("chkboxPaddleCourt").checked = accomodationFeatures.sport.paddleTennis
                document.getElementById("chkboxGym").checked = accomodationFeatures.sport.gym
                document.getElementById("chkboxBasketballCourt").checked = accomodationFeatures.sport.basketballCourt
                document.getElementById("chkboxDarts").checked = accomodationFeatures.sport.darts
                document.getElementById("chkboxWindsurf").checked = accomodationFeatures.sport.windsurfing
                document.getElementById("chkboxSkiSchool").checked = accomodationFeatures.sport.skiSchool
                document.getElementById("chkboxFootballField").checked = accomodationFeatures.sport.footballField
                document.getElementById("chkboxSkiing").checked = accomodationFeatures.sport.skiing
                document.getElementById("chkboxPingPongTable").checked = accomodationFeatures.sport.pingPong
                document.getElementById("chkboxSquashCourt").checked = accomodationFeatures.sport.squash
                document.getElementById("chkboxFutsalField").checked = accomodationFeatures.sport.indoorFootballCourt
                document.getElementById("chkboxTennisCourt").checked = accomodationFeatures.sport.tennisCourt

                // livingRoom: {
                document.getElementById("chkboxDoubleSofaBed").checked = accomodationFeatures.livingRoom.doubleSofaBed
                document.getElementById("chkboxSingleSofaBed").checked = accomodationFeatures.livingRoom.individualSofaBed
                document.getElementById("chkboxTV").checked = accomodationFeatures.livingRoom.tv
                document.getElementById("chkboxSatelliteTV").checked = accomodationFeatures.livingRoom.satelliteTV
                document.getElementById("chkboxSnackBar").checked = accomodationFeatures.livingRoom.snackBar

                //additionalInfo: {
                document.getElementById("txtBeds").value = data.additionalInfo.nBeds
                document.getElementById("txtRestrooms").value = data.additionalInfo.nRestrooms
                document.getElementById("bedroomSize").value = data.additionalInfo.bedroomSize
                document.getElementById("txtExtraCost").value = data.additionalInfo.extraCleaningCost

                document.getElementById("txtAccomodationDetails").value = data.accomodationDescription
                if (data.additionalAccomodationDescription) {
                    document.getElementById("txtAdditionalDetails").value = data.additionalAccomodationDescription
                }
                document.getElementById("txtLegalNote").value = data.legalNotice

                //location: {
                document.getElementById("txtState").value = data.location.state
                document.getElementById("txtPopulation").value = data.location.population
                document.getElementById("txtAddressNumber").value = data.location.addressNumber
                document.getElementById("txtPostalCode").value = data.location.postalCode
                document.getElementById("txtLat").value = data.location.latitude
                document.getElementById("txtLong").value = data.location.longitude

                const adminId = data.others.admin
                const janitorId = data.others.janitor

                //others: {
                document.getElementById("txtBasePrice").value = data.others.basePrice
                document.getElementById("txtBasePrice2Nights").value = data.others.basePrice2nights
                document.getElementById("txtBaseCost").value = data.others.baseCost
                document.getElementById("txtBaseCost2Nights").value = data.others.baseCost2nights
                document.getElementById("txtArrivalTime").value = arrivalTimePart
                document.getElementById("txtDepartureTime").value = departureTimePart
                const adminSelectElement = document.getElementById('slctAdmin');
                const adminOptionToSelect = adminSelectElement.querySelector(`option[data-admin-id="${adminId}"]`);
                if (adminOptionToSelect) {
                    adminOptionToSelect.selected = true;
                }

                const janitorSelectElement = document.getElementById('slctJanitor');
                const janitorOptionToSelect = janitorSelectElement.querySelector(`option[data-janitor-id="${janitorId}"]`);
                if (janitorSelectElement) {
                    janitorOptionToSelect.selected = true;
                }

                document.getElementById("chalet-owner-select").value = data.others.owner

                // Obtener imagenes
                imagesarray = [];
                imagesarrayDB = [];
                pdfarray = [];
                pdfarrayDB = [];

                console.log(data.propertyDetails.name)
                data.images.forEach(function (image, index) {
                    const photoDiv = document.createElement('div');
                    photoDiv.classList.add('photo');
                    const img = document.createElement('img');
                    imagesarrayDB.push(image);
                    img.src = "https://navarro.integradev.site/navarro/" + image;
                    const deleteButton = document.createElement('button');
                    deleteButton.classList.add('delete-photo');
                    deleteButton.innerHTML = '<span class="material-symbols-outlined">delete</span>';
                    deleteButton.addEventListener('click', function () {
                        imagesarray.splice(index - indexadvance, 1)
                        imagesarrayDB.splice(index - indexadvance, 1)
                        photoDiv.remove();
                        indexadvance = indexadvance + 1
                        console.log(imagesarray)

                    });
                    photoDiv.appendChild(deleteButton);
                    photoDiv.appendChild(img);
                    photoCarousel.appendChild(photoDiv);
                    // console.log("Saludos desde ");
                    imagesarray.push(image.toString())

                    // console.log(imagesarray)
                });
                if (data.files[0]) {
                    const pdfSrc = "https://navarro.integradev.site/navarro/" + data.files[0];
                    console.log(pdfSrc);
                    pdfarrayDB.push(data.files[0]);
                    const fileNameDisplay = document.querySelector('#file-name-display');
                    fileNameDisplay.innerText = `Ya se subió un archivo pdf para las instrucciones de llegada: ${pdfSrc}.\nSubir otro archivo sobrescribirá el anterior. `;
                }
                // console.log("Saludos desde ");
                // console.log(imagesarray)





                Swal.fire({
                    icon: 'success',
                    title: 'Cabaña replicada correctamente!',
                    text: 'Se ha replicado con éxito.',
                    confirmButtonText: 'Aceptar'
                }).then(() => {
                    $('#replicate-chalet-modal').modal('hide')
                });
            } catch (error) {
                console.error('Error:', error);
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Error al replicar la cabaña: ' + error.message,
                    confirmButtonText: 'Aceptar'
                })
            } finally {
                spinner.classList.add('loader--hidden');
            }
        })

        function isFormDataEmpty(formData) {
            for (const pair of formData.entries()) {
                return false; // If we find an entry, it's not empty
            }
            return true; // No entries found, formData is empty
        }
    });

    window.addEventListener("load", () => {
        const preloader = document.querySelector(".pre-loader");

        preloader.classList.add("loader--hidden");

        preloader.addEventListener("transitionend", () => {
            document.body.removeChild(preloader);
        });
    });

</script>