<div class="pre-loader"></div>

<div class="input-group">
    <select id="slctFormSelector">
        <option value="" selected disabled> Selecciona una cabaña</option>
        {{#each chalets}}
        <option value="frm{{this.propertyDetails.name}}">{{this.propertyDetails.name}}</option>
        {{/each}}
    </select>
</div>

{{#each chalets}}
<form name="form" id="frm{{this.propertyDetails.name}}" style="display: none;">
    <div class="page-info">
        <h1>Editar alojamiento</h1>
        <button type="submit" class="btn-save-info">Guardar</button>
    </div>

    <button type="button" class="toggle-collpase-section-button" data-toggle="collapse" data-target="#propertyDetails">+
        Detalles de la propiedad</button>
    <div id="propertyDetails" class="chalet-details collapse">
        <div class="input-group half">
            <label for="slctchaletAccomodationType">Tipo de alojamiento</label>
            <select id="slctchaletAccomodationType" name="slctchaletAccomodationType">
                {{#if ../tipologias}}
                <!-- Default selected option -->
                <option value="" disabled style="background-color: darkgrey;">Seleccione un tipo de alojamiento</option>

                <!-- Iterate over tipologias to create options -->
                {{#each ../tipologias}}
                {{#if (eq this.tipologia ../propertyDetails.accomodationType)}}
                <option value="{{this.tipologia}}" selected>{{this.tipologia}}</option>
                {{else}}
                <option value="{{this.tipologia}}">{{this.tipologia}}</option>
                {{/if}}
                {{/each}}
                {{else}}
                <!-- No tipologias available -->
                <option value="">No hay tipos de alojamiento disponibles, necesitas agregar uno.</option>
                {{/if}}
            </select>

        </div>
        <div class="input-group half">
            <label for="txtChaletName">Nombre</label>
            <input id="txtChaletName" name="txtChaletName" type="text" value="{{propertyDetails.name}}" disbaled="true">
        </div>
        <div class="input-group half inline-input-group">
            <label for="txtChaletPhoneNumber">Teléfono establecimiento</label>
            <input id="txtChaletPhoneNumber" name="txtChaletPhoneNumber" type="tel"
                value="{{propertyDetails.phoneNumber}}">
        </div>
        <div class="input-group half">
            <label for="txtChaletEmail">Email</label>
            <input id="txtChaletEmail" name="txtChaletEmail" type="email" value="{{propertyDetails.email}}">
        </div>
        <div class="input-group half">
            <label for="txtChaletWebsite">Sitio web</label>
            <input id="txtChaletWebsite" name="txtChaletWebsite" type="text" value="{{propertyDetails.website}}">
        </div>
        <div class="input-group third">
            <label for="txtChaletMinPpl">Ocupación mínima</label>
            <input id="txtChaletMinPpl" name="txtChaletMinPpl" type="number" value="{{propertyDetails.minOccupancy}}">
        </div>
        <div class="input-group third">
            <label for="txtChaletMaxPpl">Ocupación máxima</label>
            <input id="txtChaletMaxPpl" name="txtChaletMaxPpl" type="number" value="{{propertyDetails.maxOccupancy}}">
        </div>
    </div>

    <button type="button" class="toggle-collpase-section-button" data-toggle="collapse"
        data-target="#accomodationFeautres">+ Características del alojamiento</button>
    <div id="accomodationFeautres" class="chalet-details collapse">
        <fieldset class="inline-input-group">
            <legend>Generales</legend>
            <hr>
            <div class="option-group">
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxSatelliteChannels" name="chkboxSatelliteChannels"
                        value="Canales vía satélite" {{#if
                        accommodationFeatures.generalFeatures.satelliteTV}}checked{{/if}}>
                    <label for="chkboxSatelliteChannels">Canales vía satélite</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxDisabledAdapted" name="chkboxDisabledAdapted"
                        value="Adaptado para discapacitados" {{#if
                        accommodationFeatures.generalFeatures.disabledAccessible}}checked{{/if}}>
                    <label for="chkboxDisabledAdapted">Adaptado para discapacitados</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxIron" name="chkboxIron" value="Plancha" {{#if
                        accommodationFeatures.generalFeatures.iron}}checked{{/if}}>
                    <label for="chkboxIron">Plancha</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxPetsAllowed" name="chkboxPetsAllowed" value="Admite animales" {{#if
                        accommodationFeatures.generalFeatures.petsAllowed}}checked{{/if}}>
                    <label for="chkboxPetsAllowed">Admite animales</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxAllergicFriendlyRooms" name="chkboxAllergicFriendlyRooms"
                        value="Habitaciones aptas para alérgicos" {{#if
                        accommodationFeatures.generalFeatures.allergyFriendlyRooms}}checked{{/if}}>
                    <label for="chkboxAllergicFriendlyRooms">Habitaciones aptas para alérgicos</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxSolarium" name="chkboxSolarium" value="Solárium" {{#if
                        accommodationFeatures.generalFeatures.solarium}}checked{{/if}}>
                    <label for="chkboxSolarium">Solárium</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxMosquitoNet" name="chkboxMosquitoNet" value="Mosquitera" {{#if
                        accommodationFeatures.generalFeatures.mosquitoNet}}checked{{/if}}>
                    <label for="chkboxMosquitoNet">Mosquitera</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxMainBedroomAirConditioning" name="chkboxMainBedroomAirConditioning"
                        value="Aire acondicionado en habitaciones principales" {{#if
                        accommodationFeatures.generalFeatures.airConditioningInMainRooms}}checked{{/if}}>
                    <label for="chkboxMainBedroomAirConditioning">Aire acondicionado en habitaciones principales</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxConnectedRooms" name="chkboxConnectedRooms"
                        value="Habitaciones comunicadas" {{#if
                        accommodationFeatures.generalFeatures.connectingRooms}}checked{{/if}}>
                    <label for="chkboxConnectedRooms">Habitaciones comunicadas</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxAirConditioningAllAccommodation"
                        name="chkboxAirConditioningAllAccommodation" value="Aire acondicionado en todo el alojamiento"
                        {{#if accommodationFeatures.generalFeatures.airConditioningThroughoutProperty}}checked{{/if}}>
                    <label for="chkboxAirConditioningAllAccommodation">Aire acondicionado en todo el alojamiento</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxTileMarbleFloor" name="chkboxTileMarbleFloor"
                        value="Suelo de baldosa/mármol" {{#if
                        accommodationFeatures.generalFeatures.tiledFloorOrMarble}}checked{{/if}}>
                    <label for="chkboxTileMarbleFloor">Suelo de baldosa/mármol</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxFireplace" name="chkboxFireplace" value="Chimenea" {{#if
                        accommodationFeatures.generalFeatures.fireplace}}checked{{/if}}>
                    <label for="chkboxFireplace">Chimenea</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxClothesIron" name="chkboxClothesIron" value="Plancha para ropa"
                        {{#if accommodationFeatures.generalFeatures.ironingFacilities}}checked{{/if}}>
                    <label for="chkboxClothesIron">Plancha para ropa</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxWoodParquetFloor" name="chkboxWoodParquetFloor"
                        value="Suelo de madera/parqué" {{#if
                        accommodationFeatures.generalFeatures.hardwoodOrParquetFloors}}checked{{/if}}>
                    <label for="chkboxWoodParquetFloor">Suelo de madera/parqué</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxNoSmokingEntireProperty" name="chkboxNoSmokingEntireProperty"
                        value="Prohibido fumar en todo el recinto" {{#if
                        accommodationFeatures.generalFeatures.noSmokingAllowed}}checked{{/if}}>
                    <label for="chkboxNoSmokingEntireProperty">Prohibido fumar en todo el recinto</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxWardrobe" name="chkboxWardrobe" value="Armario" {{#if
                        accommodationFeatures.generalFeatures.wardrobe}}checked{{/if}}>
                    <label for="chkboxWardrobe">Armario</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxCarpetFloor" name="chkboxCarpetFloor" value="Suelo de moqueta"
                        {{#if accommodationFeatures.generalFeatures.carpetedFloor}}checked{{/if}}>
                    <label for="chkboxCarpetFloor">Suelo de moqueta</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxExpressCheckInOut" name="chkboxExpressCheckInOut"
                        value="Registro de entrada y salida exprés" {{#if
                        accommodationFeatures.generalFeatures.expressCheckInCheckOut}}checked{{/if}}>
                    <label for="chkboxExpressCheckInOut">Registro de entrada y salida exprés</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxSoundproofing" name="chkboxSoundproofing" value="Insonorización"
                        {{#if accommodationFeatures.generalFeatures.soundproofing}}checked{{/if}}>
                    <label for="chkboxSoundproofing">Insonorización</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxTelephone" name="chkboxTelephone" value="Teléfono" {{#if
                        accommodationFeatures.generalFeatures.telephone}}checked{{/if}}>
                    <label for="chkboxTelephone">Teléfono</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxTerrace" name="chkboxTerrace" value="Terraza" {{#if
                        accommodationFeatures.generalFeatures.terrace}}checked{{/if}}>
                    <label for="chkboxTerrace">Terraza</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxBalcony" name="chkboxBalcony" value="Balcón" {{#if
                        accommodationFeatures.generalFeatures.balcony}}checked{{/if}}>
                    <label for="chkboxBalcony">Balcón</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxBuffetBreakfast" name="chkboxBuffetBreakfast" value="Desayuno bufé"
                        {{#if accommodationFeatures.generalFeatures.buffetBreakfast}}checked{{/if}}>
                    <label for="chkboxBuffetBreakfast">Desayuno bufé</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxSafe" name="chkboxSafe" value="Caja fuerte" {{#if
                        accommodationFeatures.generalFeatures.safeDepositBox}}checked{{/if}}>
                    <label for="chkboxSafe">Caja fuerte</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxWifi" name="chkboxWifi" value="Wifi" {{#if
                        accommodationFeatures.generalFeatures.wifi}}checked{{/if}}>
                    <label for="chkboxWifi">Wifi</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxRoomServiceBreakfast" name="chkboxRoomServiceBreakfast"
                        value="Desayuno en la habitación" {{#if
                        accommodationFeatures.generalFeatures.breakfastInRoom}}checked{{/if}}>
                    <label for="chkboxRoomServiceBreakfast">Desayuno en la habitación</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxHeating" name="chkboxHeating" value="Calefacción" {{#if
                        accommodationFeatures.generalFeatures.heating}}checked{{/if}}>
                    <label for="chkboxHeating">Calefacción</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxExtraLongBeds" name="chkboxExtraLongBeds"
                        value="Camas extra largas (más de 2 metros)" {{#if
                        accommodationFeatures.generalFeatures.extraLongBeds}}checked{{/if}}>
                    <label for="chkboxExtraLongBeds">Camas extra largas (más de 2 metros)</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxRoomService" name="chkboxRoomService"
                        value="Servicio de habitaciones" {{#if
                        accommodationFeatures.generalFeatures.roomService}}checked{{/if}}>
                    <label for="chkboxRoomService">Servicio de habitaciones</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxFan" name="chkboxFan" value="Ventilador" {{#if
                        accommodationFeatures.generalFeatures.fan}}checked{{/if}}>
                    <label for="chkboxFan">Ventilador</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxDressingRoom" name="chkboxDressingRoom" value="Vestidor" {{#if
                        accommodationFeatures.generalFeatures.dressingRoom}}checked{{/if}}>
                    <label for="chkboxDressingRoom">Vestidor</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxSmokingAllowed" name="chkboxSmokingAllowed" value="Fumadores" {{#if
                        accommodationFeatures.generalFeatures.smokers}}checked{{/if}}>
                    <label for="chkboxSmokingAllowed">Fumadores</label>
                </div>
            </div>
        </fieldset>
        <fieldset class="inline-input-group">
            <legend>Vistas</legend>
            <hr>
            <div class="option-group">
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxCityViews" name="chkboxCityViews" value="Vistas a la ciudad" {{#if
                        accommodationFeatures.views.cityView}}checked{{/if}}>
                    <label for="chkboxCityViews">Vistas a la ciudad</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxMountainViews" name="chkboxMountainViews"
                        value="Vistas a la montaña" {{#if accommodationFeatures.views.mountainView}}checked{{/if}}>
                    <label for="chkboxMountainViews">Vistas a la montaña</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxPoolViews" name="chkboxPoolViews" value="Vistas a la piscina" {{#if
                        accommodationFeatures.views.poolView}}checked{{/if}}>
                    <label for="chkboxPoolViews">Vistas a la piscina</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxLandmarkViews" name="chkboxLandmarkViews"
                        value="Vistas a un lugar de interés" {{#if
                        accommodationFeatures.views.landmarkView}}checked{{/if}}>
                    <label for="chkboxLandmarkViews">Vistas a un lugar de interés</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxGardenViews" name="chkboxGardenViews" value="Vistas al jardín"
                        {{#if accommodationFeatures.views.gardenView}}checked{{/if}}>
                    <label for="chkboxGardenViews">Vistas al jardín</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxLakeViews" name="chkboxLakeViews" value="Vistas al lago" {{#if
                        accommodationFeatures.views.lakeView}}checked{{/if}}>
                    <label for="chkboxLakeViews">Vistas al lago</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxSeaViews" name="chkboxSeaViews" value="Vistas al mar" {{#if
                        accommodationFeatures.views.seaView}}checked{{/if}}>
                    <label for="chkboxSeaViews">Vistas al mar</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxCourtyardViews" name="chkboxCourtyardViews" value="Vistas al Patio"
                        {{#if accommodationFeatures.views.patioView}}checked{{/if}}>
                    <label for="chkboxCourtyardViews">Vistas al Patio</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxRiverViews" name="chkboxRiverViews" value="Vistas al río" {{#if
                        accommodationFeatures.views.riverView}}checked{{/if}}>
                    <label for="chkboxRiverViews">Vistas al río</label>
                </div>
            </div>
        </fieldset>
        <fieldset class="inline-input-group">
            <legend>Actividades</legend>
            <hr>
            <div class="option-group">
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxTurkishBath" name="chkboxTurkishBath" value="Baño turco" {{#if
                        accommodationFeatures.activities.turkishBath}}checked{{/if}}>
                    <label for="chkboxTurkishBath">Baño turco</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxGym" name="chkboxGym" value="Gimnasio" {{#if
                        accommodationFeatures.activities.gym}}checked{{/if}}>
                    <label for="chkboxGym">Gimnasio</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxThermalBaths" name="chkboxThermalBaths" value="Baños termales"
                        {{#if accommodationFeatures.activities.thermalBaths}}checked{{/if}}>
                    <label for="chkboxThermalBaths">Baños termales</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxMiniGolf" name="chkboxMiniGolf" value="Minigolf" {{#if
                        accommodationFeatures.activities.minigolf}}checked{{/if}}>
                    <label for="chkboxMiniGolf">Minigolf</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxCanoeing" name="chkboxCanoeing" value="Canoa" {{#if
                        accommodationFeatures.activities.canoeing}}checked{{/if}}>
                    <label for="chkboxCanoeing">Canoa</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxSpa" name="chkboxSpa" value="Spa-Balneario" {{#if
                        accommodationFeatures.activities.spa}}checked{{/if}}>
                    <label for="chkboxSpa">Spa-Balneario</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxCasino" name="chkboxCasino" value="Casino" {{#if
                        accommodationFeatures.activities.casino}}checked{{/if}}>
                    <label for="chkboxCasino">Casino</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxLibrary" name="chkboxLibrary" value="Biblioteca" {{#if
                        accommodationFeatures.activities.library}}checked{{/if}}>
                    <label for="chkboxLibrary">Biblioteca</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxEquestrianCenter" name="chkboxEquestrianCenter" value="Hípica"
                        {{#if accommodationFeatures.activities.horseRiding}}checked{{/if}}>
                    <label for="chkboxEquestrianCenter">Hípica</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxCycling" name="chkboxCycling" value="Ciclismo" {{#if
                        accommodationFeatures.activities.cycling}}checked{{/if}}>
                    <label for="chkboxCycling">Ciclismo</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxBilliards" name="chkboxBilliards" value="Billar" {{#if
                        accommodationFeatures.activities.billiards}}checked{{/if}}>
                    <label for="chkboxBilliards">Billar</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxBowling" name="chkboxBowling" value="Bolera" {{#if
                        accommodationFeatures.activities.bowling}}checked{{/if}}>
                    <label for="chkboxBowling">Bolera</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxGameRoom" name="chkboxGameRoom" value="Sala de juegos" {{#if
                        accommodationFeatures.activities.gameRoom}}checked{{/if}}>
                    <label for="chkboxGameRoom">Sala de juegos</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxBBQFacilities" name="chkboxBBQFacilities"
                        value="Instalaciones para barbacoa" {{#if
                        accommodationFeatures.activities.barbecueFacilities}}checked{{/if}}>
                    <label for="chkboxBBQFacilities">Instalaciones para barbacoa</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxDiving" name="chkboxDiving" value="Buceo" {{#if
                        accommodationFeatures.activities.diving}}checked{{/if}}>
                    <label for="chkboxDiving">Buceo</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxFishing" name="chkboxFishing" value="Pesca" {{#if
                        accommodationFeatures.activities.fishing}}checked{{/if}}>
                    <label for="chkboxFishing">Pesca</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxJacuzzi" name="chkboxJacuzzi" value="Jacuzzi" {{#if
                        accommodationFeatures.activities.jacuzzi}}checked{{/if}}>
                    <label for="chkboxJacuzzi">Jacuzzi</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxHeatedPool" name="chkboxHeatedPool" value="Piscina climatizada"
                        {{#if accommodationFeatures.activities.heatedPool}}checked{{/if}}>
                    <label for="chkboxHeatedPool">Piscina climatizada</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxSauna" name="chkboxSauna" value="Sauna" {{#if
                        accommodationFeatures.activities.sauna}}checked{{/if}}>
                    <label for="chkboxSauna">Sauna</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxKaraoke" name="chkboxKaraoke" value="Karaoke" {{#if
                        accommodationFeatures.activities.karaoke}}checked{{/if}}>
                    <label for="chkboxKaraoke">Karaoke</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxIndoorPool" name="chkboxIndoorPool" value="Piscina cubierta" {{#if
                        accommodationFeatures.activities.indoorPool}}checked{{/if}}>
                    <label for="chkboxIndoorPool">Piscina interior</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxOutdoorPool" name="chkboxOutdoorPool" value="Piscina exterior"
                        {{#if accommodationFeatures.activities.outdoorPool}}checked{{/if}}>
                    <label for="chkboxOutdoorPool">Piscina exterior</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxSnorkeling" name="chkboxSnorkeling" value="Snorkel" {{#if
                        accommodationFeatures.activities.snorkeling}}checked{{/if}}>
                    <label for="chkboxSnorkeling">Snorkel</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxPrivatePool" name="chkboxPrivatePool" value="Piscina privada" {{#if
                        accommodationFeatures.activities.privatePool}}checked{{/if}}>
                    <label for="chkboxPrivatePool">Piscina privada</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxChildrensPlayground" name="chkboxChildrensPlayground"
                        value="Zona de juegos infantil" {{#if
                        accommodationFeatures.activities.childrensPlayground}}checked{{/if}}>
                    <label for="chkboxChildrensPlayground">Zona de juegos infantil</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxHiking" name="chkboxHiking" value="Senderismo" {{#if
                        accommodationFeatures.activities.hiking}}checked{{/if}}>
                    <label for="chkboxHiking">Senderismo</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxMasseuse" name="chkboxMasseuse" value="Masajista" {{#if
                        accommodationFeatures.activities.masseuse}}checked{{/if}}>
                    <label for="chkboxMasseuse">Masajista</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxGolfCourseNearby" name="chkboxGolfCourseNearby"
                        value="Campo de golf (a menos de 3 km)" {{#if
                        accommodationFeatures.activities.golfCourse}}checked{{/if}}>
                    <label for="chkboxGolfCourseNearby">Campo de golf (a menos de 3 km)</label>
                </div>
            </div>
        </fieldset>
        <fieldset class="inline-input-group">
            <legend>Parking</legend>
            <hr>
            <div class="option-group">
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxPaidParking" name="chkboxPaidParking" value="Parking de pago" {{#if
                        accommodationFeatures.parking.paidParking}}checked{{/if}}>
                    <label for="chkboxPaidParking">Parking de pago</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxPublicParking" name="chkboxPublicParking" value="Parking público"
                        {{#if accommodationFeatures.parking.publicParking}}checked{{/if}}>
                    <label for="chkboxPublicParking">Parking público</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxFreeParking" name="chkboxFreeParking" value="Parking gratis" {{#if
                        accommodationFeatures.parking.freeParking}}checked{{/if}}>
                    <label for="chkboxFreeParking">Parking gratis</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxPrivateParking" name="chkboxPrivateParking" value="Parking privado"
                        {{#if accommodationFeatures.parking.privateParking}}checked{{/if}}>
                    <label for="chkboxPrivateParking">Parking privado</label>
                </div>
            </div>
        </fieldset>
        <fieldset class="inline-input-group">
            <legend>Características del baño</legend>
            <hr>
            <div class="option-group">
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxBathrobe" name="chkboxBathrobe" value="Albornoz" {{#if
                        accommodationFeatures.restroomFeatures.bathrobe}}checked{{/if}}>
                    <label for="chkboxBathrobe">Albornoz</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxBidet" name="chkboxBidet" value="Bidé" {{#if
                        accommodationFeatures.restroomFeatures.bidet}}checked{{/if}}>
                    <label for="chkboxBidet">Bidé</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxFreeToiletries" name="chkboxFreeToiletries"
                        value="Artículos de aseo gratuitos" {{#if
                        accommodationFeatures.restroomFeatures.freeToiletries}}checked{{/if}}>
                    <label for="chkboxFreeToiletries">Artículos de aseo gratuitos</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxAdditionalToilet" name="chkboxAdditionalToilet"
                        value="Aseo adicional" {{#if
                        accommodationFeatures.restroomFeatures.additionalToilet}}checked{{/if}}>
                    <label for="chkboxAdditionalToilet">Aseo adicional</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxSharedToilet" name="chkboxSharedToilet" value="Aseo compartido"
                        {{#if accommodationFeatures.restroomFeatures.sharedToilet}}checked{{/if}}>
                    <label for="chkboxSharedToilet">Aseo compartido</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxSauna" name="chkboxSauna" value="Sauna" {{#if
                        accommodationFeatures.restroomFeatures.sauna}}checked{{/if}}>
                    <label for="chkboxSauna">Sauna</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxBathtub" name="chkboxBathtub" value="Bañera" {{#if
                        accommodationFeatures.restroomFeatures.bathtub}}checked{{/if}}>
                    <label for="chkboxBathtub">Bañera</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxHairdryer" name="chkboxHairdryer" value="Secador de pelo" {{#if
                        accommodationFeatures.restroomFeatures.hairdryer}}checked{{/if}}>
                    <label for="chkboxHairdryer">Secador de pelo</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxJacuzzi" name="chkboxJacuzzi" value="Bañera de hidromasaje" {{#if
                        accommodationFeatures.restroomFeatures.jacuzzi}}checked{{/if}}>
                    <label for="chkboxJacuzzi">Jacuzzi</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxShower" name="chkboxShower" value="Ducha">
                    <label for="chkboxShower" {{#if
                        accommodationFeatures.restroomFeatures.shower}}checked{{/if}}>Ducha</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxAdditionalBathroom" name="chkboxAdditionalBathroom"
                        value="Baño adicional" {{#if
                        accommodationFeatures.restroomFeatures.additionalBathroom}}checked{{/if}}>
                    <label for="chkboxAdditionalBathroom">Baño adicional</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxSlippers" name="chkboxSlippers" value="Zapatillas" {{#if
                        accommodationFeatures.restroomFeatures.slippers}}checked{{/if}}>
                    <label for="chkboxSlippers">Zapatillas</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxSharedBathroom" name="chkboxSharedBathroom" value="Baño compartido"
                        {{#if accommodationFeatures.restroomFeatures.sharedBathroom}}checked{{/if}}>
                    <label for="chkboxSharedBathroom">Baño compartido</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxDesignerBathroom" name="chkboxDesignerBathroom"
                        value="Baño de diseño" {{#if
                        accommodationFeatures.restroomFeatures.designerBathroom}}checked{{/if}}>
                    <label for="chkboxDesignerBathroom">Baño de diseño</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxPrivateBathroom" name="chkboxPrivateBathroom" value="Baño privado"
                        {{#if accommodationFeatures.restroomFeatures.privateBathroom}}checked{{/if}}>
                    <label for="chkboxPrivateBathroom">Baño privado</label>
                </div>
            </div>
        </fieldset>
        <fieldset class="inline-input-group">
            <legend>Cocina</legend>
            <hr>
            <div class="option-group">
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxMinibar" name="chkboxMinibar" value="Minibar" {{#if
                        accommodationFeatures.kitchen.minibar}}checked{{/if}}>
                    <label for="chkboxMinibar">Minibar</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxBarbecue" name="chkboxBarbecue" value="Barbacoa" {{#if
                        accommodationFeatures.kitchen.barbecue}}checked{{/if}}>
                    <label for="chkboxBarbecue">Barbacoa</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxBlender" name="chkboxBlender" value="Batidora" {{#if
                        accommodationFeatures.kitchen.blender}}checked{{/if}}>
                    <label for="chkboxBlender">Batidora</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxRefrigerator" name="chkboxRefrigerator" value="Nevera" {{#if
                        accommodationFeatures.kitchen.refrigerator}}checked{{/if}}>
                    <label for="chkboxRefrigerator">Nevera</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxElectricKettle" name="chkboxElectricKettle"
                        value="Hervidor eléctrico" {{#if accommodationFeatures.kitchen.electricKettle}}checked{{/if}}>
                    <label for="chkboxElectricKettle">Hervidor eléctrico</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxOven" name="chkboxOven" value="Horno" {{#if
                        accommodationFeatures.kitchen.oven}}checked{{/if}}>
                    <label for="chkboxOven">Horno</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxStove" name="chkboxStove" value="Cocina con Fogones" {{#if
                        accommodationFeatures.kitchen.stove}}checked{{/if}}>
                    <label for="chkboxStove">Cocina con Fogones</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxCeramicCooktop" name="chkboxCeramicCooktop"
                        value="Cocina con Vitrocerámica" {{#if
                        accommodationFeatures.kitchen.ceramicCooktop}}checked{{/if}}>
                    <label for="chkboxCeramicCooktop">Cocina con Vitrocerámica</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxTeapot" name="chkboxTeapot" value="Tetera" {{#if
                        accommodationFeatures.kitchen.teapot}}checked{{/if}}>
                    <label for="chkboxTeapot">Tetera</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxCoffeeMaker" name="chkboxCoffeeMaker" value="Cafetera" {{#if
                        accommodationFeatures.kitchen.coffeeMaker}}checked{{/if}}>
                    <label for="chkboxCoffeeMaker">Cafetera</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxToaster" name="chkboxToaster" value="Tostadora" {{#if
                        accommodationFeatures.kitchen.toaster}}checked{{/if}}>
                    <label for="chkboxToaster">Tostadora</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxWashingMachine" name="chkboxWashingMachine" value="Lavadora" {{#if
                        accommodationFeatures.kitchen.washingMachine}}checked{{/if}}>
                    <label for="chkboxWashingMachine">Lavadora</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxDryer" name="chkboxDryer" value="Secadora" {{#if
                        accommodationFeatures.kitchen.dryer}}checked{{/if}}>
                    <label for="chkboxDryer">Secadora</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxDishwasher" name="chkboxDishwasher" value="Lavavajillas" {{#if
                        accommodationFeatures.kitchen.dishwasher}}checked{{/if}}>
                    <label for="chkboxDishwasher">Lavavajillas</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxCookingUtensils" name="chkboxCookingUtensils"
                        value="Utensilios de cocina" {{#if
                        accommodationFeatures.kitchen.cookingUtensils}}checked{{/if}}>
                    <label for="chkboxCookingUtensils">Utensilios de cocina</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxKitchenArea" name="chkboxKitchenArea" value="Zona de cocina" {{#if
                        accommodationFeatures.kitchen.kitchenArea}}checked{{/if}}>
                    <label for="chkboxKitchenArea">Zona de cocina</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxDiningArea" name="chkboxDiningArea" value="Zona de comedor" {{#if
                        accommodationFeatures.kitchen.diningArea}}checked{{/if}}>
                    <label for="chkboxDiningArea">Zona de comedor</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxFridge" name="chkboxFridge" value="Frigorífico" {{#if
                        accommodationFeatures.kitchen.fridge}}checked{{/if}}>
                    <label for="chkboxFridge">Frigorífico</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxMicrowave" name="chkboxMicrowave" value="Microondas" {{#if
                        accommodationFeatures.kitchen.microwave}}checked{{/if}}>
                    <label for="chkboxMicrowave">Microondas</label>
                </div>
            </div>
        </fieldset>
        <fieldset class="inline-input-group">
            <legend>Deporte</legend>
            <hr>
            <div class="option-group">
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxPaddleCourt" name="chkboxPaddleCourt" value="Pista de pádel" {{#if
                        accommodationFeatures.sport.paddleTennis}}checked{{/if}}>
                    <label for="chkboxPaddleCourt">Pista de pádel</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxGym" name="chkboxGym" value="Gimnasio" {{#if
                        accommodationFeatures.sport.gym}}checked{{/if}}>
                    <label for="chkboxGym">Gimnasio</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxBasketballCourt" name="chkboxBasketballCourt"
                        value="Cancha de baloncesto" {{#if accommodationFeatures.sport.basketballCourt}}checked{{/if}}>
                    <label for="chkboxBasketballCourt">Cancha de baloncesto</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxDarts" name="chkboxDarts" value="Dardos" {{#if
                        accommodationFeatures.sport.darts}}checked{{/if}}>
                    <label for="chkboxDarts">Dardos</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxWindsurf" name="chkboxWindsurf" value="Windsurf" {{#if
                        accommodationFeatures.sport.windsurfing}}checked{{/if}}>
                    <label for="chkboxWindsurf">Windsurf</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxSkiSchool" name="chkboxSkiSchool" value="Escuela de esquí" {{#if
                        accommodationFeatures.sport.skiSchool}}checked{{/if}}>
                    <label for="chkboxSkiSchool">Escuela de esquí</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxFootballField" name="chkboxFootballField" value="Campo de fútbol"
                        {{#if accommodationFeatures.sport.footballField}}checked{{/if}}>
                    <label for="chkboxFootballField">Campo de fútbol</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxSkiing" name="chkboxSkiing" value="Esquí" {{#if
                        accommodationFeatures.sport.skiing}}checked{{/if}}>
                    <label for="chkboxSkiing">Esquí</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxPingPongTable" name="chkboxPingPongTable" value="Mesa de ping pong"
                        {{#if accommodationFeatures.sport.pingPong}}checked{{/if}}>
                    <label for="chkboxPingPongTable">Mesa de ping pong</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxSquashCourt" name="chkboxSquashCourt" value="Pista de squash" {{#if
                        accommodationFeatures.sport.squash}}checked{{/if}}>
                    <label for="chkboxSquashCourt">Pista de squash</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxFutsalField" name="chkboxFutsalField" value="Campo fútbol sala"
                        {{#if accommodationFeatures.sport.indoorFootballCourt}}checked{{/if}}>
                    <label for="chkboxFutsalField">Campo fútbol sala</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxTennisCourt" name="chkboxTennisCourt" value="Pista de tenis" {{#if
                        accommodationFeatures.sport.tennisCourt}}checked{{/if}}>
                    <label for="chkboxTennisCourt">Pista de tenis</label>
                </div>
            </div>
        </fieldset>
        <fieldset class="inline-input-group">
            <legend>Salón</legend>
            <hr>
            <div class="option-group">
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxDoubleSofaBed" name="chkboxDoubleSofaBed" value="Sofá cama doble"
                        {{#if accommodationFeatures.livingRoom.doubleSofaBed}}checked{{/if}}>
                    <label for="chkboxDoubleSofaBed">Sofá cama doble</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxSingleSofaBed" name="chkboxSingleSofaBed"
                        value="Sofá cama individual" {{#if
                        accommodationFeatures.livingRoom.individualSofaBed}}checked{{/if}}>
                    <label for="chkboxSingleSofaBed">Sofá cama individual</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxTV" name="chkboxTV" value="TV" {{#if
                        accommodationFeatures.livingRoom.tv}}checked{{/if}}>
                    <label for="chkboxTV">TV</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxSatelliteTV" name="chkboxSatelliteTV" value="TV satélite" {{#if
                        accommodationFeatures.livingRoom.satelliteTV}}checked{{/if}}>
                    <label for="chkboxSatelliteTV">TV satélite</label>
                </div>
                <div class="checkbox-option">
                    <input type="checkbox" id="chkboxSnackBar" name="chkboxSnackBar" value="Snack-bar" {{#if
                        accommodationFeatures.livingRoom.snackBar}}checked{{/if}}>
                    <label for="chkboxSnackBar">Snack-bar</label>
                </div>
            </div>
        </fieldset>
    </div>

    <button type="button" class="toggle-collpase-section-button" data-toggle="collapse" data-target="#additionalInfo">+
        Información adicional</button>
    <div id="additionalInfo" class="chalet-details collapse">
        <div class="input-group half">
            <label for="txtBeds">Camas</label>
            <input id="txtBeds" name="txtBeds" type="number" value="{{additionalInfo.nBeds}}">
        </div>
        <div class="input-group half">
            <label for="txtRestrooms">Baños</label>
            <input id="txtRestrooms" name="txtRestrooms" type="number" value="{{additionalInfo.nRestrooms}}">
        </div>
        <div class="input-group half">
            <label for="bedroomSize">Tamaño de la habitación en m2</label>
            <input id="bedroomSize" name="bedroomSize" type="number" value="{{additionalInfo.bedroomSize}}">
        </div>
        <div class="input-group half">
            <label for="txtExtraCost">Coste por reserva por limpiar esta unidad</label>
            <input id="txtExtraCost" name="txtExtraCost" type="number" value="{{additionalInfo.extraCleaningCost}}">
        </div>
    </div>

    <button type="button" class="toggle-collpase-section-button" data-toggle="collapse"
        data-target="#accomodationDetails">+ Descripción del alojamiento</button>
    <div id="accomodationDetails" class="chalet-details collapse">
        <div class="input-group">
            <textarea id="txtAccomodationDetails" name="txtAccomodationDetails" rows="10"
                placeholder="Porporciona una descripción para el alojamiento.">{{accomodationDescription}}</textarea>
        </div>
    </div>

    <button type="button" class="toggle-collpase-section-button" data-toggle="collapse"
        data-target="#additionalDetails">+ Descripción adicional del alojamiento</button>
    <div id="additionalDetails" class="chalet-details collapse">
        <div class="input-group">
            <textarea id="txtAdditionalDetails" name="txtAdditionalDetails" rows="10"
                placeholder="Porporciona una descripción adicional para el alojamiento.">{{additionalAccomodationDescription}}</textarea>
        </div>
    </div>

    <button type="button" class="toggle-collpase-section-button" data-toggle="collapse" data-target="#legalNote">+
        Terminos y condiciones</button>
    <div id="legalNote" class="chalet-details collapse">
        <div class="input-group">
            <textarea id="txtLegalNote" name="txtLegalNote" rows="10"
                placeholder="Agrega una nota legal">{{legalNotice}}</textarea>
        </div>
    </div>

    <button type="button" class="toggle-collpase-section-button" data-toggle="collapse" data-target="#location">+
        Ubicación</button>
    <div id="location" class="chalet-details collapse">
        <div class="input-group third">
            <label for="txtState">Provincia / estado</label>
            <input id="txtState" name="txtState" type="text" value="{{location.state}}">
        </div>
        <div class="input-group third">
            <label for="txtPopulation">Población</label>
            <input id="txtPopulation" name="txtPopulation" type="text" value="{{location.population}}">
        </div>
        <div class="input-group third">
            <label for="txtAddressNumber">Número</label>
            <input id="txtAddressNumber" name="txtAddressNumber" type="number" value="{{location.addressNumber}}">
        </div>
        <div class="input-group third">
            <label for="txtPostalCode">Código postal</label>
            <input id="txtPostalCode" name="txtPostalCode" type="number" value="{{location.postalCode}}">
        </div>
        <div class="input-group third">
            <label for="txtLat">Latitud</label>
            <input id="txtLat" name="txtLat" type="number" step=".000001" value="{{location.latitude}}">
        </div>
        <div class="input-group third">
            <label for="txtLong">Longitud</label>
            <input id="txtLong" name="txtLong" type="number" step=".000001" value="{{location.longitude}}">
        </div>
        <div class="input-group">
            <iframe id="map" src="{{location.iFrame}}" width="100%" height="450" style="border:0;" allowfullscreen=""
                loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>

    <button type="button" class="toggle-collpase-section-button" data-toggle="collapse" data-target="#other-data">+
        Otros</button>
    <div id="other-data" class="chalet-details collapse">
        <div class="input-group third">
            <label for="txtBasePrice">Precio base</label>
            <input id="txtBasePrice" name="txtBasePrice" type="number" value="{{others.basePrice}}">
        </div>
        <div class="input-group third">
            <label for="txtBasePrice2Nights">Precio base por 2 noches</label>
            <input id="txtBasePrice2Nights" name="txtBasePrice2Nights" type="number"
                value="{{others.basePrice2nights}}">
        </div>
        <div class="input-group third">
            <label for="txtBaseCost">Costo base</label>
            <input id="txtBaseCost" name="txtBaseCost" type="number" value="{{others.baseCost}}">
        </div>
        <div class="input-group third">
            <label for="txtBaseCost2Nights">Costo base por dos noches</label>
            <input id="txtBaseCost2Nights" name="txtBaseCost2Nights" type="number" value="{{others.baseCost2nights}}">
        </div>
        <div class="input-group third">
            <label for="txtArrivalTime">Hora de llegada</label>
            <input id="txtArrivalTime" name="txtArrivalTime" type="time" value="{{others.arrivalTime}}">
        </div>
        <div class="input-group third">
            <label for="txtDepartureTime">Hora de salida</label>
            <input id="txtDepartureTime" name="txtDepartureTime" type="time" value="{{others.departureTime}}">
        </div>
        <div class="input-group third">
            <label for="txtState">Administrador asociado</label>
            <select id="slctAdmin" name="slctAdmin" class="form-select form-select-md">
                {{#if ../admins}}
                <option value="{{others.admin.[0]}}" selected disabled style="background-color: darkgrey;">
                    {{others.admin.[1]}}</option>
                {{#each ../admins}}
                <option value="{{this.email}}">{{this.firstName}} {{this.lastName}}</option>
                {{/each}}
                {{else}}
                <option value="0">No se encontraron administradores</option>
                {{/if}}
            </select>
        </div>
        <div class="input-group third">
            <label for="slctJanitor">Personal de limpieza asociado</label>
            <select id="slctJanitor" name="slctJanitor" class="form-select form-select-md">
                {{#if ../janitors}}
                <option value="{{others.janitor.[0]}}" selected disabled style="background-color: darkgrey;">
                    {{others.janitor.[1]}}</option>
                {{#each ../janitors}}
                <option value="{{this.email}}">{{this.firstName}} {{this.lastName}}</option>
                {{/each}}
                {{else}}
                <option value="0">No se encontraró el personal de limpieza</option>
                {{/if}}
            </select>
        </div>
        <div class="input-group third">
            <div class="mb-3">
                <label for="chalet-owner" class="form-label">Dueño de cabaña: </label>
                <select class="form-select form-select-md w-100" name="chalet-owner" id="chalet-owner-select">
                    {{#if ../owners}}
                    <option value="{{others.owner.[0]}}" selected disabled style="background-color: darkgrey;">
                        {{others.owner.[1]}}</option>
                    {{#each ../owners}}
                    <option value="{{this._id}}">{{this.firstName}} {{this.lastName}}</option>
                    {{/each}}
                    {{else}}
                    <option value="0">No se encontraron dueños de cabañas</option>
                    {{/if}}
                </select>
            </div>

        </div>
    </div>

    <button type="button" class="toggle-collpase-section-button" data-toggle="collapse" data-target="#photos">+
        Fotografías</button>
    <div id="photos" class="chalet-details collapse">
        <div class="input-group">
            <div id="photoCarousel {{propertyDetails.name}}" class="photo-carousel"></div>
            <div class="custom-file-upload">
                <label for="file-upload">
                    <input id="file-upload" type="file" multiple name="file{{this.propertyDetails.name}}">
                    Subir archivo
                </label>
                <span>Ninguna fotografía seleccionada</span>
            </div>
        </div>
    </div>

    <button type="button" class="toggle-collpase-section-button" data-toggle="collapse" data-target="#files">+
        Subir instrucciones de llegada</button>
    <div id="files" class="chalet-details collapse">
        <div class="input-group">
            <div id="fileCarousel {{propertyDetails.name}}" class="file-carousel"></div>
            <div class="custom-pdf-upload">
                <label for="pdf-upload">
                    <input id="pdf-upload" type="file" name="file{{this.propertyDetails.name}}"
                        accept="application/pdf">
                    Subir archivo PDF
                </label>
                <span id="file-name-display">Ningun archivo seleccionado</span>
            </div>
        </div>
    </div>
</form>
{{/each}}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
    // Change forms.
    document.addEventListener("DOMContentLoaded", function () {
        const slctFormSelector = document.getElementById('slctFormSelector');
        slctFormSelector.value = "";
        let filename = ""
        let pothocname = ""
        let fileUpload = ""
        let photoCarousel = ""
        let formData = new FormData();
        let pdfData = new FormData();
        let chaletsget = ""
        let datajson = {}
        let imagesarray = []
        let indexadvance = 0

        let pdfAborrar = ""

        $.get("/getchaletsRoutes", function (data, status) {
            datajson = data
        });
        slctFormSelector.addEventListener('change', function (event) {
            imagesarray = [];
            pdfarray = [];
            const selectedFormId = event.target.value;
            console.log(selectedFormId)
            const forms = document.getElementsByName('form');
            for (let i = 0; i < forms.length; i++) {
                const form = forms[i];
                if (form.id === selectedFormId) {
                    form.style.display = 'block';
                    // Upload chalet images.

                    let name = form.querySelector("#txtChaletName");

                    //console.log(name.value);

                    filename = "file" + name.value

                    pothocname = "photoCarousel " + name.value

                    const pdfUpload = document.getElementById('pdf-upload');

                    // console.log(filename);
                    console.log(pothocname);

                    fileUpload = document.getElementsByName(filename);
                    photoCarousel = document.getElementById(pothocname);
                    // console.log(fileUpload)
                    // console.log(photoCarousel)

                    //console.log(datajson[0].resources);
                    datajson[0].resources.forEach(function (element) {
                        //console.log(element.images);
                        if (element.propertyDetails.name == name.value) {
                            console.log(element.propertyDetails.name)
                            element.images.forEach(function (image, index) {
                                const photoDiv = document.createElement('div');
                                photoDiv.classList.add('photo');
                                const img = document.createElement('img');
                                img.src = "https://navarro.integradev.site/navarro/" + image;
                                const deleteButton = document.createElement('button');
                                deleteButton.classList.add('delete-photo');
                                deleteButton.innerHTML = '<span class="material-symbols-outlined">delete</span>';
                                deleteButton.addEventListener('click', function () {
                                    imagesarray.splice(index - indexadvance, 1)
                                    photoDiv.remove();
                                    indexadvance = indexadvance + 1
                                    console.log(imagesarray)
                                });
                                photoDiv.appendChild(deleteButton);
                                photoDiv.appendChild(img);
                                photoCarousel.appendChild(photoDiv);
                                // console.log("Saludos desde ");
                                imagesarray.push(image.toString())
                                // console.log(imagesarray)
                            });
                            element.files.forEach(function (image, index) {
                                const pdfSrc = "https://navarro.integradev.site/navarro/" + image;
                                console.log(pdfSrc);
                                const fileNameDisplay = form.querySelector('#file-name-display');
                                pdfAborrar = pdfSrc;
                                fileNameDisplay.innerText = `Ya se subió un archivo pdf para las instrucciones de llegada: ${pdfSrc}.\nSubir otro archivo sobrescribirá el anterior. `;
                                // console.log("Saludos desde ");
                                // console.log(imagesarray)
                            });

                        };
                    });

                } else {
                    form.style.display = 'none';
                }
            }
        });

        document.getElementById('pdf-upload').addEventListener('change', function (event) {
            const fileList = event.target.files;
            console.log(fileList);
            if (fileList.length > 0) {
                const fileName = fileList[0].name;
                document.querySelector('#file-name-display').innerText = fileName;
            } else {
                document.querySelector('#file-name-display').innerText = 'Ningún archivo seleccionado';
            }
        });

        let archivos = document.getElementById('file-upload')
        archivos.addEventListener('change', function (event) {
            const files = event.target.files;
            for (let i = 0; i < files.length; i++) {
                const file = files[i];
                // console.log(file);
                const imageURL = URL.createObjectURL(file);
                const photoDiv = document.createElement('div');
                photoDiv.classList.add('photo');
                const img = document.createElement('img');
                img.src = imageURL;
                const deleteButton = document.createElement('button');
                deleteButton.classList.add('delete-photo');
                deleteButton.innerHTML = '<span class="material-symbols-outlined">delete</span>';
                deleteButton.addEventListener('click', function () {
                    formData.delete('images', file);
                    photoDiv.remove();
                });
                photoDiv.appendChild(deleteButton);
                photoDiv.appendChild(img);
                photoCarousel.appendChild(photoDiv);
                //   console.log("Saludos desde ");
                formData.append('images', file);
                //  console.log(formData);
                //   console.log(imagesarray)
            }
        });


        // Submit form info.
        const forms = document.getElementsByName("form");
        forms.forEach(function (form) {

            // Updating chalet.
            form.addEventListener("submit", async (event) => {
                event.preventDefault();
                // Creating JSON for text data.
                const data = {
                    propertyDetails: {
                        accomodationType: form.querySelector("#slctchaletAccomodationType").value.trim(),
                        name: form.querySelector("#txtChaletName").value.trim(),
                        phoneNumber: form.querySelector("#txtChaletPhoneNumber").value.trim(),
                        email: form.querySelector("#txtChaletEmail").value.trim(),
                        website: form.querySelector("#txtChaletWebsite").value.trim(),
                        minOccupancy: form.querySelector("#txtChaletMinPpl").value.trim(),
                        maxOccupancy: form.querySelector("#txtChaletMaxPpl").value.trim()
                    },
                    accommodationFeatures: {
                        generalFeatures: {
                            satelliteTV: form.querySelector("#chkboxSatelliteChannels").checked,
                            disabledAccessible: form.querySelector("#chkboxDisabledAdapted").checked,
                            iron: form.querySelector("#chkboxIron").checked,
                            petsAllowed: form.querySelector("#chkboxPetsAllowed").checked,
                            allergyFriendlyRooms: form.querySelector("#chkboxAllergicFriendlyRooms").checked,
                            solarium: form.querySelector("#chkboxSolarium").checked,
                            mosquitoNet: form.querySelector("#chkboxMosquitoNet").checked,
                            airConditioningInMainRooms: form.querySelector("#chkboxMainBedroomAirConditioning").checked,
                            connectingRooms: form.querySelector("#chkboxConnectedRooms").checked,
                            airConditioningThroughoutProperty: form.querySelector("#chkboxAirConditioningAllAccommodation").checked,
                            tiledFloorOrMarble: form.querySelector("#chkboxTileMarbleFloor").checked,
                            fireplace: form.querySelector("#chkboxFireplace").checked,
                            ironingFacilities: form.querySelector("#chkboxClothesIron").checked,
                            hardwoodOrParquetFloors: form.querySelector("#chkboxWoodParquetFloor").checked,
                            noSmokingAllowed: form.querySelector("#chkboxNoSmokingEntireProperty").checked,
                            wardrobe: form.querySelector("#chkboxWardrobe").checked,
                            carpetedFloor: form.querySelector("#chkboxCarpetFloor").checked,
                            expressCheckInCheckOut: form.querySelector("#chkboxExpressCheckInOut").checked,
                            soundproofing: form.querySelector("#chkboxSoundproofing").checked,
                            telephone: form.querySelector("#chkboxTelephone").checked,
                            terrace: form.querySelector("#chkboxTerrace").checked,
                            balcony: form.querySelector("#chkboxBalcony").checked,
                            buffetBreakfast: form.querySelector("#chkboxBuffetBreakfast").checked,
                            safeDepositBox: form.querySelector("#chkboxSafe").checked,
                            wifi: form.querySelector("#chkboxWifi").checked,
                            breakfastInRoom: form.querySelector("#chkboxRoomServiceBreakfast").checked,
                            heating: form.querySelector("#chkboxHeating").checked,
                            extraLongBeds: form.querySelector("#chkboxExtraLongBeds").checked,
                            roomService: form.querySelector("#chkboxRoomService").checked,
                            fan: form.querySelector("#chkboxFan").checked,
                            dressingRoom: form.querySelector("#chkboxDressingRoom").checked,
                            smokers: form.querySelector("#chkboxSmokingAllowed").checked
                        },
                        views: {
                            cityView: form.querySelector("#chkboxCityViews").checked,
                            mountainView: form.querySelector("#chkboxMountainViews").checked,
                            poolView: form.querySelector("#chkboxPoolViews").checked,
                            landmarkView: form.querySelector("#chkboxLandmarkViews").checked,
                            gardenView: form.querySelector("#chkboxGardenViews").checked,
                            lakeView: form.querySelector("#chkboxLakeViews").checked,
                            seaView: form.querySelector("#chkboxSeaViews").checked,
                            patioView: form.querySelector("#chkboxCourtyardViews").checked,
                            riverView: form.querySelector("#chkboxRiverViews").checked
                        },
                        activities: {
                            turkishBath: form.querySelector("#chkboxTurkishBath").checked,
                            gym: form.querySelector("#chkboxGym").checked,
                            thermalBaths: form.querySelector("#chkboxThermalBaths").checked,
                            minigolf: form.querySelector("#chkboxMiniGolf").checked,
                            canoeing: form.querySelector("#chkboxCanoeing").checked,
                            spa: form.querySelector("#chkboxSpa").checked,
                            casino: form.querySelector("#chkboxCasino").checked,
                            library: form.querySelector("#chkboxLibrary").checked,
                            horseRiding: form.querySelector("#chkboxEquestrianCenter").checked,
                            cycling: form.querySelector("#chkboxCycling").checked,
                            billiards: form.querySelector("#chkboxBilliards").checked,
                            bowling: form.querySelector("#chkboxBowling").checked,
                            gameRoom: form.querySelector("#chkboxGameRoom").checked,
                            barbecueFacilities: form.querySelector("#chkboxBBQFacilities").checked,
                            diving: form.querySelector("#chkboxDiving").checked,
                            fishing: form.querySelector("#chkboxFishing").checked,
                            jacuzzi: form.querySelector("#chkboxJacuzzi").checked,
                            heatedPool: form.querySelector("#chkboxHeatedPool").checked,
                            sauna: form.querySelector("#chkboxSauna").checked,
                            karaoke: form.querySelector("#chkboxKaraoke").checked,
                            indoorPool: form.querySelector("#chkboxIndoorPool").checked,
                            outdoorPool: form.querySelector("#chkboxOutdoorPool").checked,
                            snorkeling: form.querySelector("#chkboxSnorkeling").checked,
                            privatePool: form.querySelector("#chkboxPrivatePool").checked,
                            childrensPlayground: form.querySelector("#chkboxChildrensPlayground").checked,
                            hiking: form.querySelector("#chkboxHiking").checked,
                            masseuse: form.querySelector("#chkboxMasseuse").checked,
                            golfCourse: form.querySelector("#chkboxGolfCourseNearby").checked,
                        },
                        parking: {
                            paidParking: form.querySelector("#chkboxPaidParking").checked,
                            publicParking: form.querySelector("#chkboxPublicParking").checked,
                            freeParking: form.querySelector("#chkboxFreeParking").checked,
                            privateParking: form.querySelector("#chkboxPrivateParking").checked
                        },
                        restroomFeatures: {
                            bathrobe: form.querySelector("#chkboxBathrobe").checked,
                            bidet: form.querySelector("#chkboxBidet").checked,
                            freeToiletries: form.querySelector("#chkboxFreeToiletries").checked,
                            additionalToilet: form.querySelector("#chkboxAdditionalToilet").checked,
                            sharedToilet: form.querySelector("#chkboxSharedToilet").checked,
                            sauna: form.querySelector("#chkboxSauna").checked,
                            bathtub: form.querySelector("#chkboxBathtub").checked,
                            hairdryer: form.querySelector("#chkboxHairdryer").checked,
                            jacuzzi: form.querySelector("#chkboxJacuzzi").checked,
                            shower: form.querySelector("#chkboxShower").checked,
                            additionalBathroom: form.querySelector("#chkboxAdditionalBathroom").checked,
                            slippers: form.querySelector("#chkboxSlippers").checked,
                            sharedBathroom: form.querySelector("#chkboxSharedBathroom").checked,
                            designerBathroom: form.querySelector("#chkboxDesignerBathroom").checked,
                            privateBathroom: form.querySelector("#chkboxPrivateBathroom").checked
                        },
                        kitchen: {
                            minibar: form.querySelector("#chkboxMinibar").checked,
                            barbecue: form.querySelector("#chkboxBarbecue").checked,
                            blender: form.querySelector("#chkboxBlender").checked,
                            refrigerator: form.querySelector("#chkboxRefrigerator").checked,
                            electricKettle: form.querySelector("#chkboxElectricKettle").checked,
                            oven: form.querySelector("#chkboxOven").checked,
                            stove: form.querySelector("#chkboxStove").checked,
                            ceramicCooktop: form.querySelector("#chkboxCeramicCooktop").checked,
                            teapot: form.querySelector("#chkboxTeapot").checked,
                            coffeeMaker: form.querySelector("#chkboxCoffeeMaker").checked,
                            toaster: form.querySelector("#chkboxToaster").checked,
                            washingMachine: form.querySelector("#chkboxWashingMachine").checked,
                            dryer: form.querySelector("#chkboxDryer").checked,
                            dishwasher: form.querySelector("#chkboxDishwasher").checked,
                            cookingUtensils: form.querySelector("#chkboxCookingUtensils").checked,
                            kitchenArea: form.querySelector("#chkboxKitchenArea").checked,
                            diningArea: form.querySelector("#chkboxDiningArea").checked,
                            fridge: form.querySelector("#chkboxFridge").checked,
                            microwave: form.querySelector("#chkboxMicrowave").checked
                        },
                        sport: {
                            paddleTennis: form.querySelector("#chkboxPaddleCourt").checked,
                            gym: form.querySelector("#chkboxGym").checked,
                            basketballCourt: form.querySelector("#chkboxBasketballCourt").checked,
                            darts: form.querySelector("#chkboxDarts").checked,
                            windsurfing: form.querySelector("#chkboxWindsurf").checked,
                            skiSchool: form.querySelector("#chkboxSkiSchool").checked,
                            footballField: form.querySelector("#chkboxFootballField").checked,
                            skiing: form.querySelector("#chkboxSkiing").checked,
                            pingPong: form.querySelector("#chkboxPingPongTable").checked,
                            squash: form.querySelector("#chkboxSquashCourt").checked,
                            indoorFootballCourt: form.querySelector("#chkboxFutsalField").checked,
                            tennisCourt: form.querySelector("#chkboxTennisCourt").checked,
                        },
                        livingRoom: {
                            doubleSofaBed: form.querySelector("#chkboxDoubleSofaBed").checked,
                            individualSofaBed: form.querySelector("#chkboxSingleSofaBed").checked,
                            tv: form.querySelector("#chkboxTV").checked,
                            satelliteTV: form.querySelector("#chkboxSatelliteTV").checked,
                            snackBar: form.querySelector("#chkboxSnackBar").checked
                        }
                    },
                    additionalInfo: {
                        nBeds: form.querySelector("#txtBeds").value.trim(),
                        nRestrooms: form.querySelector("#txtRestrooms").value.trim(),
                        bedroomSize: form.querySelector("#bedroomSize").value.trim(),
                        extraCleaningCost: form.querySelector("#txtExtraCost").value.trim(),
                    },
                    accomodationDescription: form.querySelector("#txtAccomodationDetails").value.trim(),
                    additionalAccomodationDescription: form.querySelector("#txtAdditionalDetails").value.trim(),
                    legalNotice: form.querySelector("#txtLegalNote").value.trim(),
                    location: {
                        state: form.querySelector("#txtState").value.trim(),
                        population: form.querySelector("#txtPopulation").value.trim(),
                        addressNumber: form.querySelector("#txtAddressNumber").value.trim(),
                        postalCode: form.querySelector("#txtPostalCode").value.trim(),
                        latitude: form.querySelector("#txtLat").value.trim(),
                        longitude: form.querySelector("#txtLong").value.trim(),
                        iFrame: form.querySelector("#map").src.trim(),
                    },
                    others: {
                        basePrice: form.querySelector("#txtBasePrice").value.trim(),
                        basePrice2nights: form.querySelector("#txtBasePrice2Nights").value.trim(),
                        baseCost: form.querySelector("#txtBaseCost").value.trim(),
                        baseCost2nights: form.querySelector("#txtBaseCost2Nights").value.trim(),
                        arrivalTime: form.querySelector("#txtArrivalTime").value.trim(),
                        departureTime: form.querySelector("#txtDepartureTime").value.trim(),
                        admin: form.querySelector("#slctAdmin").value.trim(),
                        janitor: form.querySelector("#slctJanitor").value.trim(),
                        owner: form.querySelector("#chalet-owner-select").value.trim()
                    },
                    images: imagesarray
                };
                try {
                    fetch('/api/cabanas/editar-cabana', {
                        method: 'POST',
                        headers: {
                            // Once logged in, the authorization token stored inthe session cookies will automatically be added in each HTTP request.
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                    })
                        .then(response => {
                            console.log(response);
                            if (!response.ok) {
                                throw new Error('Error al editar atributos de la cabaña');
                            }
                            return response.json();
                        })
                        .then(async data => {
                            console.log('Respuesta del servidor:', data);
                            const response = await fetch('/api/cabanas/subir-imagenes-cabana', {
                                method: 'POST',
                                body: formData,
                            });
                            if (response.ok) {
                                console.log('ok subir imagenes')
                            } else {
                                throw new Error('Error al subir imagenes');
                            }

                        }).then(async data2 => {
                            const fileInput = form.querySelector('#pdf-upload');
                            var pdfFile = fileInput.files[0];
                            console.log(pdfAborrar)

                            if (pdfFile) {
                                pdfData.append('file', pdfFile);

                                const response = await fetch('/api/cabanas/subir-pdf-cabana', {
                                    method: 'POST',
                                    body: pdfData
                                });
                                if (response.ok) {
                                    console.log('Ok subir pdf ');
                                } else {
                                    throw new Error('Error en la solicitud');
                                }
                            }
                        }).then((result) => {
                            Swal.fire({
                                icon:'success',
                                title: 'Cabaña editada correctamente',
                                confirmButtonText: 'Aceptar'
                            }).then((result) => {
                                window.location.href = '/'
                            })
                        })


                } catch (error) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Error al editar la cabana: ' + error.toLowerCase() + '.',
                        confirmButtonText: 'Aceptar'
                    })
                }
                //console.log(imagesarray)  
            })
        })
    })

    window.addEventListener("load", () => {
        const preloader = document.querySelector(".pre-loader");

        preloader.classList.add("loader--hidden");

        preloader.addEventListener("transitionend", () => {
            document.body.removeChild(preloader);
        });
    });
</script>