<div class="calendar-header">
    <div class="bg-dark mb-3">
        <a name="" id="crear-reserva-btn" class="btn btn-secondary btn-sm m-3" href="#" role="button"
            data-bs-toggle="modal" data-bs-target="#event_entry_modal">Crear reserva de dueño</a>
    </div>
</div>

<div class="row flex-nowrap justify-content-center mt-3 " style="width: 100%;">
    <div class="col-10">
        <h1>Reservas</h1>
        <table class="table table-dark table-hover text-center" id="tablaParaDuenos">
            <thead class="table-light">
                <tr>
                    <th scope="col">Cabaña</th>
                    <th scope="col">Fecha de llegada</th>
                    <th scope="col">Fecha de salida</th>
                    <th scope="col">Pagos Realizados</th>
                    <th scope="col">Monto pendiente</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {{#if eventos.length}}
                {{#each eventos}}
                <tr>
                    <td>{{this.roomName}}</td>
                    <td>{{this.arrivalDate}}</td>
                    <td>{{this.departureDate}}</td>
                    <td>${{this.pagoTotal}}</td>
                    <td>${{this.montoPendiente}}</td>
                    <td class="text-center">
                        <button type="button" class="btn btn-info btn-sm" data-event-id="{{this._id}}"
                            data-pagoTotal="{{this.pagoTotal}}" data-montoPendiente="{{this.montoPendiente}}"
                            onclick="mostrarInfoServicio('{{this._id}}')">Liquidar Reserva
                    </td>

                </tr>
                {{/each}}
                {{else}}
                <td colspan="5">No se encontraron servicios</td>
                {{/if}}
            </tbody>
        </table>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        var table = document.getElementById("tablaParaDuenos");
        if (table) {
            var dataTable = new DataTable(table, {
                "order": [], // Puedes especificar aquí el orden inicial de las columnas
                "paging": true, // Habilita la paginación
                "lengthMenu": [5, 10, 25, 50], // Define el menú de longitud de página
                "pageLength": 10 // Establece la longitud de página inicial
            });
        }
    });

    async function mostrarInfoServicio(id) {
        console.log(id)
        const button = document.querySelector(`button[data-event-id="${id}"]`);

        var pagoTotal = button.getAttribute('data-pagoTotal');
        var montoPendiente = button.getAttribute('data-montoPendiente');

        // Aquí puedes usar los valores como necesites
        console.log('Pago Total:', pagoTotal);
        console.log('Monto Pendiente:', montoPendiente);

        const confirmacion = await Swal.fire({
            title: 'Advertencia',
            text: `¿Confirmas haber recibido la cantidad de $${montoPendiente}? Esta acción agregará un pago a la reserva. `,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            confirmButtonText: 'Liquidar'
        })

        if (confirmacion.isConfirmed) {
            // Aquí puedes usar los valores como necesites
            console.log('Confirmacion:', confirmacion);
            try {
                const response = await fetch(`/api/pagos/liquidar/${id}`, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        fechaPago: Date.now(),
                        importe: montoPendiente,
                        metodoPago: 'Efectivo',
                        reservacionId: id,
                        notas: 'Pago recibido en efectivo por el dueño de la cabaña'
                    })
                })

                if (response.ok) {
                    Swal.fire({
                        icon:'success',
                        title: 'Pagado',
                        text: 'El pago se realizó correctamente',
                    }).then(result => {
                        window.location.reload()
                    })
                } else {
                    throw new Error('Error al hacer el pago')
                }

            } catch (error) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: error.message,
                })
            }
        }
    }


</script>